<!DOCTYPE html>
<html>
	<head th:replace="shared/client_layout::head">
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	
	<body>
		<!-- Booking Hotel Main Selection Start-->
		<div id="booking__form-hotel-wrapper" class="booking__form-hotel-wrapper d-none d-flex flex-column" th:fragment="booking__form-hotel">
			<div class="d-flex mt-20 ms-5">
				<!-- City Selection Start -->
				<div class="d-flex flex-column">
					<div class="booking__hotel-selection-title d-flex">
						<span>City, destination, or hotel name</span>
					</div>
					<div class="booking__hotel-selection-city d-flex align-items-center mt-2">
						<img src="../../../images/booking_form/airplane-blue.png" class="ms-16 me-35"/>
						<select class="form-select">
							<!--<option th:each="airport : ${resultAirports.data}" 
									th:value="${airport._ap_id}" 
									th:text="${airport._ap_full_name}"
									th:selected="${ airport._ap_id==201 }"></option>-->
							<option disabled selected>City, hotel, place to go</option>
							<option th:each="hotel : ${resultHotels.data}" 
									th:value="${hotel._ho_id}" 
									th:text="${hotel._ho_address}"></option>
						</select>
					</div>
				</div>
				<!-- City Selection End -->
				
				<!-- Eticket Input Start -->
				<div class="d-flex flex-column ms-5">
					<div class="booking__hotel-selection-title d-flex">
						<span>Eticket</span>
					</div>
					<div class="booking__hotel-input-eticket d-flex align-items-center mt-2">
						<img src="../../../images/booking_form/tickets-blue.png" class="ms-16 me-16"/>
						<input type="text" class="form-control"/>
					</div>
				</div>
				<!-- Eticket Input End -->
				
				<!-- Guests & Rooms Start -->
				<div class="d-flex flex-column ms-5">
					<div id="booking__hotel-guestRoom-information" class="d-flex flex-column" onmouseenter="displayGuestAndRoomForm()" onmouseleave="hideGuestAndRoomForm()">
						<div class="booking__hotel-selection-title d-flex">
							<span>Guests and Rooms</span>
						</div>
						<div class="booking__hotel-selection-guestRoom d-flex align-items-center mt-2">
							<img src="../../../images/booking_form/user-blue.png" class="ms-16 me-35"/>
							<span id="guestAndRoomDisplay"></span>
						</div>
					</div>
					
					<!-- Guests & Rooms Form Select Start -->
					<div id="booking__hotel-guestRoom-form-select" class="booking__hotel-guestRoom-form-select d-flex d-none flex-column mt-100" onmouseenter="displayGuestAndRoomForm()" onmouseleave="hideGuestAndRoomForm()">
						<div class="d-flex align-items-center justify-content-between">
							<div class="booking__hotel-guestRoom-form-select-type d-flex align-items-center">
								<img src="../../../images/booking_form/adult-gray.png" class="ms-16 me-16"/>
								<span>Adult</span>
							</div>
							
							<div class="booking__hotel-guestRoom-form-select-quantity d-flex align-items-center justify-content-center">
								<button onclick="hotelDecreaseAdult()"><span>-</span></button>
								<button><span id="hotelAdultQuan">0</span></button>
								<button onclick="hotelIncreaseAdult()"><span>+</span></button>
							</div>
						</div>
						
						<div class="d-flex align-items-center justify-content-between mt-2">
							<div class="booking__hotel-guestRoom-form-select-type d-flex align-items-center">
								<img src="../../../images/booking_form/child-gray.png" class="ms-16 me-16"/>
								<span>Child</span>
							</div>
							
							<div class="booking__hotel-guestRoom-form-select-quantity d-flex align-items-center justify-content-center">
								<button onclick="hotelDecreaseChild()"><span>-</span></button>
								<button><span id="hotelChildQuan">0</span></button>
								<button onclick="hotelIncreaseChild()"><span>+</span></button>
							</div>
						</div>
						
						<div class="d-flex align-items-center justify-content-between mt-2">
							<div class="booking__hotel-guestRoom-form-select-type d-flex align-items-center">
								<img src="../../../images/booking_form/open-door-gray.png" class="ms-16 me-16"/>
								<span>Room</span>
							</div>
							
							<div class="booking__hotel-guestRoom-form-select-quantity d-flex align-items-center justify-content-center">
								<button onclick="hotelDecreaseRoom()"><span>-</span></button>
								<button><span id="hotelRoomQuan">0</span></button>
								<button onclick="hotelIncreaseRoom()"><span>+</span></button>
							</div>
						</div>
						
						<div class="d-flex align-items-center justify-content-end mt-2">
							<button class="done-btn"><span>Done</span></button>
						</div>
					</div>
					<!-- Guests & Rooms Form Select End -->
				</div>
				<!-- Guests & Rooms End -->
			</div>	
			<div class="d-flex mt-10 ms-5">
				<!-- Check-in Selection Start -->
				<div class="d-flex flex-column">
					<div class="booking__hotel-selection-title d-flex">
						<span>Check-in</span>
					</div>
					<div class="booking__hotel-input-checkin d-flex align-items-center">
						<input type="date" class="form-control ms-16"/>
						<img src="../../../images/booking_form/calendar-blue.png"/>
					</div>
				</div>
				<!-- Check-in Selection End -->
				
				<!-- Duration Selection Start -->
				<div class="d-flex flex-column ms-5">
					<div class="booking__hotel-selection-title d-flex">
						<span>Duration</span>
					</div>
					<div class="booking__hotel-selection-duration d-flex align-items-center">
						<img src="../../../images/booking_form/moon-blue.png" class="ms-16 me-16"/>
						<select class="form-select">
							<option selected>1 night</option>
							<option>2 nights</option>
							<option>3 nights</option>
						</select>
					</div>
				</div>
				<!-- Duration Selection End -->
				
				<!-- Check-out Selection Start -->
				<div class="d-flex flex-column ms-5">
					<div class="booking__hotel-selection-title d-flex">
						<span>Check-out</span>
					</div>
					<div class="booking__hotel-checkout-information d-flex">
						<span>20/09/2023</span>
					</div>
				</div>
				<!-- Check-out Selection End -->
				
				<!-- Check-out Selection Start -->
				<div class="d-flex ms-5">
					<a class="booking__hotel-search-btn d-flex align-items-center">
						<img src="../../../images/booking_form/search-interface-symbol-white.png" class="ms-16 me-35"/>
						<span>Search</span>
					</a>
				</div>
				<!-- Check-out Selection End -->
>			</div>
		</div>
		<!-- Booking Hotel Main Selection Ends-->
	</body>
</html>