<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/lineicons.css}" />
<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
	.bg {
		/* The image used */
		background-image: url("http://localhost:8080/images/admin_login_background.jpg");

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-input {
		border-style: solid;
		border-color: red;
	}

	.cursor-hand {
		cursor: pointer;
	}
</style>

<body>
	<header th:replace="shared/admin_layout::header"> </header>
	<div th:replace="shared/admin_layout::sidebar"> </div>
	<div id="blockUi" class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.20); z-index: 8888" hidden>
		<div class="d-flex justify-content-center" style="margin-top:300px">
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<main class="main-wrapper">
		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="title mb-30">
								<h2>Bill
								</h2>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="adminModal" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="adminTitle"></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<form id="adminForm" action="" method="POST" enctype="multipart/form-data">
								<div class="modal-body row">
									<input type="text" id="_ad_id" name="_ad_id" hidden />
									<input type="text" id="_ad_avatar" name="_ad_avatar" hidden />
									<div class="col-8">

									</div>
									<div class="col-4 d-flex mt-lg-5">
										<img id="viewAvatar" src="http://localhost:8080/images/default_avatar.jpg"
											alt="your image" style="width: 250px; height: 250px;" class="cursor-hand"
											onclick="onRefreshImage()" />
										<i class="cursor-hand fa-solid fa-rotate-right fa-2xl position-absolute mt-5 ms-3"
											onclick="onRefreshImage()"></i>
										<input id="adminFile" name="adminFile" type="file"
											onchange="onSelectedImage(this)" hidden />
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" id="btnAdmin"
										class="btn btn-info d-flex justify-content-center"
										onclick="OnAdminSubmit()">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div>
					<table id="bookingTable" class="table table-hover table-striped pt-2">
						<thead class="table-dark">
							<th>#</th>
							<th>Name</th>
							<th>Phone</th>
							<th>Payment</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="booking : ${resultBooking.data}">
								<td th:text="${booking._bo_index}" class="p-2 m-0"></td>
								<td th:text="${booking._cus_full_name}" class="p-2 m-0"></td>
								<td th:text="${booking._cus_phone}" class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div>
										<span
											th:text="${#numbers.formatDecimal(booking._bo_payment,3,'POINT',0,'COMMA')}"></span>
										<span> VND</span>
									</div>
								</td>
								<td th:switch="${booking._bo_status}" class="p-2 m-0">
									<span th:case="1" class="badge badge-success">Paid</span>
									<span th:case="0" class="badge badge-danger">Unpaid</span>
								</td>
								<td th:text="${#dates.format(booking._bo_created_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td th:text="${#dates.format(booking._bo_updated_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" data-bs-toggle="modal"
											data-bs-target="#billInfoModal" onclick="onViewBill(event)">
											<input th:value="${booking._bo_id}" hidden></input>
										</i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal fade" id="billInfoModal" tabindex="-1" aria-labelledby="billInfoModal" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h2>Information</h2>
							<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body row">
							<div class="row col-12" style="overflow:auto;overflow-x: hidden;">
								<div class="col-12">
									<label for=""><b>Hotel : </b></label>
									<span id="hotel_name"></span>
								</div>
								<div class="col-8 row">
									<div class="col-6">
										<img src="" id="hotel_image" style="width: 200px; height: auto;" />
									</div>
									<div class="col-6">
										<label for=""><b>Address : </b></label>
										<div id="hotel_address"></div>
									</div>
								</div>
								<div class="col-4">
									<div class="">
										<label for=""><b>Check in : </b></label>
										<div id="check_in"></div>
									</div>
									<div class="">
										<label for=""><b>Check out : </b></label>
										<div id="check_out"></div>
									</div>
								</div>

								<hr class="mt-3" />
								<div class="col-12">
									<div class=" d-flex justify-content-start">
										<h3>Personal</h3>
										<i id="personalView"
											class="fa-brands fa-searchengin fa-2xl ms-3 mt-3 cursor-hand"
											onclick="onViewCustomer()"></i>
									</div>
									<div class="row">
										<label class="col-4"><b>Full Name : </b></label>
										<span class="col-8" id="personalName"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Phone : </b></label>
										<span class="col-8" id="personalContact"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Email : </b></label>
										<span class="col-8" id="personalEmail"></span>
									</div>
								</div>

								<hr class="mt-3" />
								<div class="col-12">
									<h3>Detail</h3>
									<div class="row">
										<label class="col-4"><b>Booking : </b></label>
										<span class="col-8" id="booking"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Type : </b></label>
										<span class="col-8" id="type"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Discount : </b></label>
										<span class="col-8" id="discount"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Main Customer : </b></label>
										<span class="col-8" id="main_customer"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Extra Customer : </b></label>
										<div class="col-8" id="extra_customer"></div>
									</div>
									<div class="row">
										<label class="col-4"><b>Total Customer : </b></label>
										<span class="col-8" id="total_customer"></span>
									</div>
									<div class="row">
										<label class="col-4"><b>Furnitures : </b></label>
										<div class="col-8" id="furniture"></div>
									</div>
									<!--<div>
										<label><b>Note : </b></label>
										<span id="note"></span>
									</div>-->
								</div>

								<hr class="mt-3" />
								<div class="col-12">
									<h3>Confirm Booking</h3>
									<table id="billTable" class="table pt-2">
										<tbody>
											<tr>
												<td id="room" class="p-2 m-0"></td>
												<td id="payment" class="p-2 m-0"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th class="p-2 m-0">Total</th>
												<th id="total_payment" class="p-2 m-0">
													</td>
											</tr>
										</tfoot>
									</table>
								</div>

								<hr class="mt-3" />
								<div class="col-12">
									<h3>Return Policy</h3>
									<div>
										<label><b>Important Information</b></label>
									</div>
									<div>
										Any cancellations recorded within 3 days prior to arrival d
										ate will be subject to the first night's charge.
									</div>
									<div>
										No-show to the hotel or property will be treated as a No-Show and an amount of
										100%
										of the booking value will be charged (Hotel Regulations).
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</main>


	<div class="modal fade" id="customerInfoModal" tabindex="-1" aria-labelledby="customerInfoModal" aria-hidden="true">
		<div class="row">
			<div class="modal-dialog modal-md col-4">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Information</h2>
						<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body row" style="width:500px">
						<div class="col-5">
							<img id="infoAvatar" class="cursor-hand" src="" alt=""
								style="width: 130px;height: 130px;" />
						</div>

						<div class="col-7">
							<div>
								<h2 id="infoFullName"></h2>
							</div>
							<div>
								<span id="infoEmail"></span>
							</div>
							<div>
								<span id="infoPhone"></span>
							</div>
							<div>
								<span id="infoAddress"></span>
							</div>

							<div>
								<button type="button" class="btn btn-info btnView" onclick='showModal(this)'
									data-url="http://localhost:8080/api/bill/getbycustomer" data-index="flight">
									<input type="text" class="infoId" hidden></input>
									Flights</button>
								<button type="button" class="btn btn-info btnView" onclick='showModal(this)'
									data-url="http://localhost:8080/api/booking/getbycustomer" data-index="hotel">
									<input type="text" class="infoId" hidden></input>
									Hotels</button>
							</div>
						</div>
					</div>
				</div>
				<div id="dashboardView" class="modal-content mt-5" style="width:500px" hidden>
					<div class="modal-header">
						<h2>Dashboard</h2>
						<button type="button" class="btn-close float-end" onclick='hideModal()'
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="d-flex justify-content-center">
							<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
								aria-hidden="true"></span>
							<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
								aria-hidden="true"></span>
							<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
								aria-hidden="true"></span>
						</div>
						<div id="dashboardContent">

						</div>
					</div>
				</div>
			</div>

			<div id="modalView" class="modal-dialog modal-xl col-8" hidden>
				<div class="modal-content modal-md">
					<div class="modal-header">
						<h2>Details</h2>
						<button type="button" class="btn-close float-end" onclick='hideModal()'
							aria-label="Close"></button>
					</div>
					<div class="modal-body" id="viewDetails"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="shared/admin_layout::file_script"></div>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
</body>

</html>
<script th:inline="javascript">
	setLocal("booking", '[[${resultBooking}]]');
	setLocal("hotel", '[[${resultHotel}]]')
	setLocal("furniture", '[[${resultFurniture}]]')
	setLocal("policy", '[[${resultPolicy}]]')
	CheckPermision();
	new DataTable('#bookingTable', {

	});

	const $billTable = $("#billTable");
	const $ticketTable = $("#ticketTable");
	const $billInfoModal = $("#billInfoModal");
	const getBillStatus = (index) => {
		let status = {}

		switch (index) {
			case 0:
				status.title = "Unpaid";
				status.css = "badge badge-danger";
				break;
			case 1:
				status.title = "Paid";
				status.css = "badge badge-success";
				break;
		}

		return status;
	}


	$billInfoModal[0].addEventListener('hide.bs.modal', function (event) {
		$hotel_name[0].innerHTML = "";
		$hotel_image.attr('src', "http://localhost:8080/images/No_Image_Available.jpg");
		$hotel_address[0].innerHTML = "";
		$check_in[0].innerHTML = "";
		$check_out[0].innerHTML = "";
		$booking[0].innerHTML = "";
		$type[0].innerHTML = "";
		$discount[0].innerHTML = "";
		$main_customer[0].innerHTML = "";
		$extra_customer[0].innerHTML = "";
		$total_customer[0].innerHTML = "";
		$furniture[0].innerHTML = "";
		$personalName[0].innerHTML = "";
		$personalContact[0].innerHTML = "";
		$personalEmail[0].innerHTML = "";
	})

	const $hotel_name = $("#hotel_name");
	const $hotel_image = $("#hotel_image");
	const $hotel_address = $("#hotel_address");
	const $check_in = $("#check_in");
	const $check_out = $("#check_out");
	const $booking = $("#booking");
	const $type = $("#type");
	const $discount = $("#discount");
	const $main_customer = $("#main_customer");
	const $extra_customer = $("#extra_customer");
	const $total_customer = $("#total_customer");
	const $furniture = $("#furniture");
	const $note = $("#note");
	const $room = $("#room");
	const $payment = $("#payment");
	const $total_payment = $("#total_payment");

	const $personalView = $("#personalView");
	const $personalName = $("#personalName");
	const $personalContact = $("#personalContact");
	const $personalEmail = $("#personalEmail");

	const $infoFullName = $("#infoFullName");
	const $infoEmail = $("#infoEmail");
	const $infoPhone = $("#infoPhone");
	const $infoAddress = $("#infoAddress");
	const $infoAvatar = $("#infoAvatar");
	const $modalView = $("#modalView");
	const $dashboardView = $("#dashboardView");
	const $dashboardLoading = $(".dashboardLoading");
	const $dashboardContent = $("#dashboardContent");
	const $btnView = $(".btnView");
	const $viewDetails = $("#viewDetails");
	const $customerInfoModal = $("#customerInfoModal");
	const tableTemplate = `<table id="modalViewTable" style="width : 100%;"
								class="table table-hover table-striped pt-2">
								<thead class="table-dark">
									<th>#</th>
									<th style="width : 200px;">Name</th>
									<th style="width : 100px;">Payment</th>
									<th style="width : 200px;">Date</th>
									<!--<th>Action</th>-->
								</thead>
							</table>`;

	const onViewCustomer = () => {
		const _cus_id = $personalView.data("value");
		BlockUI();
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/customer/getbyid",
			data: {_cus_id},
			timeout: 100000,
			success: function (res) {
				if (res.isSuccess) {
					const cus = res.data;
					$infoAvatar.attr('src', cus._cus_avatar);
					$infoEmail[0].innerHTML = cus._cus_email;
					$infoFullName[0].innerHTML = cus._cus_full_name;
					$infoPhone[0].innerHTML = cus._cus_phone;
					$btnView.val(cus._cus_id);
				}
				UnBlockUI();
				$billInfoModal.modal("hide");
				$customerInfoModal.modal("show");
			},
			error: function (e) {
				UnBlockUI();
			}
		});
	}
	
	let currentChart;
	let currentIndex;
	const onSelectDashboard = () => {
		const $dashboardType = $("#dashboardType");
		const $dashboardYear = $("#dashboardYear");
		const $dashboardChart = $("#dashboardChart");

		const selectedYear = $dashboardYear.val();
		const payment = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
		const res = getLocal("billData");
		if (currentIndex == "flight") {
			for (var item of res.data) {
				const currentDay = item._bil_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (selectedYear == year) {
					if ($dashboardType.val() == 'payment')
						payment[parseInt(currentDay[1]) - 1] += item._bil_payment;
					else
						payment[parseInt(currentDay[1]) - 1] += 1;
				}
			}
		} else {
			for (var item of res.data) {
				const currentDay = item._bo_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (selectedYear == year) {
					if ($dashboardType.val() == 'payment')
						payment[parseInt(currentDay[1]) - 1] += item._bo_payment;
					else
						payment[parseInt(currentDay[1]) - 1] += 1;
				}
			}
		}

		if (currentChart) {
			for (var index = 0; index < 12; index++) {
				currentChart.data.datasets[0].data[index] = payment[index];
			}
			currentChart.update();
		}
	}

	const showModal = (event) => {
		$modalView[0].hidden = false;
		$dashboardView[0].hidden = false;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
		$viewDetails[0].innerHTML = tableTemplate
		const url = event.getAttribute('data-url');
		currentIndex = event.getAttribute('data-index');
		let columns = [
			{"data": "_bil_index"},
			{"data": "_cus_full_name"},
			{"data": "_bil_payment_string"},
			{"data": "_bil_updated_timestamp"},
		]
		if (currentIndex == "hotel") {
			columns = [
				{"data": "_bo_index"},
				{"data": "_cus_full_name"},
				{"data": "_bo_payment_string"},
				{"data": "_bo_updated_timestamp"},
			]
		}
		$("#modalViewTable").on('processing.dt', function (res, settings, processing) {
			const tableTd = $('#modalViewTable td')
			if (!processing && tableTd.length >= 1) {
				for (var ele of $dashboardLoading) {
					ele.hidden = true;
				}
				const res = getLocal("billData");
				let chartData;
				if (currentIndex == "flight") {
					chartData = getChartFlight(res.data);
				} else {
					chartData = getChartHotel(res.data);
				}
				$dashboardContent[0].hidden = false;
				if (res.isSuccess) {
					$dashboardContent[0].innerHTML = `
						<div class="float-end d-flex justify-content-evenly">
							<select id="dashboardType" class="me-3 form-select" style="width:150px;"
										onchange="onSelectDashboard()">
								<option value="payment" selected>Payment</option>
								<option value="quantity">Quantity</option>
							</select>
							<select id="dashboardYear" class="form-select"
										onchange="onSelectDashboard()">
							</select>
						</div>
						<div>
							<canvas id="dashboardChart"></canvas>
						</div>
								`;
					const $dashboardChart = $("#dashboardChart");
					const $dashboardYear = $("#dashboardYear");
					for (var year of chartData.years) {
						let selected = ''
						if (year == chartData.year)
							selected = "selected"
						const option = $(`
										<option value=${year} ${selected}>
												${year}
										</option>
										`);
						$dashboardYear[0].appendChild(option[0]);
					}

					currentChart = new Chart($dashboardChart, {
						type: 'bar',
						data: {
							labels: ['Jan', 'Jeb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Otc', 'Nov', 'Dec'],
							datasets: [{
								label: 'Payment / Month',
								data: chartData.payment,
								borderWidth: 1
							}],
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							},
							plugins: {
								colors: {
									enable: true
								}
							}
						}
					});
				} else {
					$dashboardContent[0].innerHTML = res.mes;
				}
			}
		}).DataTable({
			ajax: {
				type: 'GET',
				data: {_cus_id: event.value},
				url: url,
				dataFilter: function (res) {
					setLocal("billData", res);
					return res;
				}
			},
			columns: columns,
		});
	}

	const getChartFlight = (data) => {
		const res = {
			payment: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			years: [],
			year: 0,
		}
		for (var item of data) {
			const currentDay = item._bil_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (!res.years.find(x => x == year)) {
				res.years.push(year);
			}
		}
		res.year = Math.max(...res.years);
		for (var item of data) {
			for (var dataItem of res.payment) {
				const currentDay = item._bil_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (res.year == year) {
					res.payment[getDate(item._bil_updated_date).month() - 1] += item._bil_payment;
					break;
				}
			}
		}
		return res;
	}

	const getChartHotel = (data) => {
		const res = {
			payment: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			years: [],
			year: 0,
		}
		for (var item of data) {
			const currentDay = item._bo_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (!res.years.find(x => x == year)) {
				res.years.push(year);
			}
		}
		res.year = Math.max(...res.years);
		for (var item of data) {
			for (var dataItem of res.payment) {
				const currentDay = item._bo_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (res.year == year) {
					res.payment[parseInt(currentDay[1]) - 1] += item._bo_payment;
					break;
				}
			}
		}
		return res;
	}

	const onViewBill = (e) => {
		const _bo_id = e.target.lastElementChild.value;
		let bill = {};
		for (var item of getLocal("booking").data) {
			if (_bo_id == item._bo_id) {
				bill = item;
				break;
			}
		}
		BlockUI();

		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/booking/getCustomerByBooking",
			data: {_bo_id},
			timeout: 100000,
			success: function (res) {
				if (res.isSuccess) {
					setLocal("personal", JSON.stringify(res));
					$personalView.attr('data-value', res.data._cus_id);
				}
			},
			error: function (e) {

			}
		});

		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/booking/detail",
			data: {_bo_id},
			timeout: 100000,
			success: function (res) {
				if (res.isSuccess) {
					const personal = getLocal("personal").data;
					$personalName[0].innerHTML = personal._cus_full_name;
					$personalContact[0].innerHTML = personal._cus_phone;
					$personalEmail[0].innerHTML = personal._cus_email;

					const _ho_id = res.data[0]._ro_ho_id;
					const _rt_name = res.data[0]._rt_name;
					const _ro_policies = res.data[0]._ro_policies.split(',');
					const _ro_furnitures = res.data[0]._ro_furnitures.split(',');
					let hotel = {};
					for (var item of getLocal("hotel").data) {
						if (_ho_id == item._ho_id) {
							hotel = item;
							break;
						}
					}

					$hotel_name[0].innerHTML = hotel._ho_name;
					$hotel_image.attr('src', hotel._ho_background);
					$hotel_address[0].innerHTML = hotel._ho_address;
					const checkIn = getDate(bill._bo_check_in);
					const checkOut = getDate(bill._bo_check_out);
					$check_in[0].innerHTML = checkIn.format(dateFormat);
					$check_out[0].innerHTML = checkOut.format(dateFormat);
					const _booking = bill._bo_total_customer + " room(s), " + (checkOut - checkIn) / dayTimestamp + " night";
					$booking[0].innerHTML = _booking;
					$type[0].innerHTML = _rt_name;
					$discount[0].innerHTML = 'None';
					$main_customer[0].innerHTML = bill._cus_full_name;
					if (bill._bo_total_customer > 1) {
						for (var i = 1; i < bill._bo_total_customer; i++) {
							const template = `<div>${bill._cus_full_name}</div>`;
							$extra_customer[0].innerHTML += template;
						}

					} else {
						$extra_customer[0].parentElement.hidden = true;
					}

					$total_customer[0].innerHTML = bill._bo_total_customer;
					for (var item of getLocal("furniture").data) {
						for (var index of _ro_furnitures) {
							if (index == item._fur_id) {
								const template = `<div>${item._fur_name}</div>`;
								$furniture[0].innerHTML += template;
								break;
							}
						}
					}
					$room[0].innerHTML = res.data.length + " room(s) x " + (checkOut - checkIn) / dayTimestamp + " night";
					$payment[0].innerHTML = toVnd(res.data.length * res.data[0]._db_payment);
					$total_payment[0].innerHTML = toVnd(res.data.length * res.data[0]._db_payment);
				}
				UnBlockUI();
			},
			error: function (e) {
				UnBlockUI();
			}
		});
	}
</script>