<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/lineicons.css}" />
<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
	integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
	.bg {
		/* The image used */
		background-image: url("http://localhost:8080/images/admin_login_background.jpg");

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-input {
		border-style: solid;
		border-color: red;
	}

	.cursor-hand {
		cursor: pointer;
	}
</style>

<body>
	<header th:replace="shared/admin_layout::header"> </header>
	<div th:replace="shared/admin_layout::sidebar"> </div>
	<div id="blockUi" class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.20); z-index: 8888" hidden>
		<div class="d-flex justify-content-center" style="margin-top:300px">
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<main class="main-wrapper">
		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="title mb-30">
								<h2>Hotel
									<i class="cursor-hand fa-solid fa-square-plus fa-xl float-end"
										data-bs-toggle="modal" data-bs-target="#hotelModal" data-bs-id="0"
										data-bs-title="New Hotel" data-bs-url="http://localhost:8080/hotel/insert"></i>
								</h2>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" id="hotelModal" tabindex="-1" aria-labelledby="hotelModal" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="hotelTitle"></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<form id="hotelForm" action="" method="POST" enctype="multipart/form-data">
								<div class="modal-body row ms-2">
									<input type="text" id="_ho_id" name="_ho_id" hidden>
									<input type="text" id="_ho_background" name="_ho_background" hidden>
									<div class="col-12 row">
										<div class="col-6">
											<label for="message-text" class="col-form-label"><b>City</b></label>
											<select id="_ho_city_id" name="_ho_city_id" class="form-select"
												onchange="checkCity()">
												<option th:value="0" selected disabled hidden>
													Select City
												</option>
												<option th:each="city : ${resultCity.data}" th:if="${city._city_status}"
													th:value="${city._city_id}" th:text="${city._city_name}">
												</option>
											</select>
										</div>
										<div class="col-6">
											<label for="recipient-name" class="col-form-label"><b>Name</b></label>
											<input type="text" id="_ho_name" name="_ho_name" class="form-control"
												onkeyup="checkHoTitle()">
										</div>
									</div>

									<div class="col-12 row ">
										<div class="col-3">
											<label for="message-text" class="col-form-label"><b>Single Rooms</b></label>
											<input min="0" max="50" class="form-control" type="number"
												id="_ho_single_rooms" name="_ho_single_rooms" onchange="checkSr()"
												onkeyup="checkSr()" />
										</div>
										<div class="col-3">
											<label for="message-text" class="col-form-label"><b>Double Rooms</b></label>
											<input min="0" max="50" class="form-control" type="number"
												id="_ho_double_rooms" name="_ho_double_rooms" onchange="checkDr()"
												onkeyup="checkDr()" />
										</div>
										<div class="col-3">
											<label for="message-text" class="col-form-label"><b>Triple Rooms</b></label>
											<input min="0" max="50" class="form-control" type="number"
												id="_ho_triple_rooms" name="_ho_triple_rooms" onchange="checkTr()"
												onkeyup="checkTr()" />
										</div>
										<div class="col-3">
											<label for="message-text" class="col-form-label"><b>Stars</b></label>
											<select id="_ho_stars" name="_ho_stars" class="form-select"
												onchange="checkStarsPrice()">
												<option th:value="0" selected disabled hidden>0</option>
												<option th:value="1">1</option>
												<option th:value="2">2</option>
												<option th:value="3">3</option>
												<option th:value="4">4</option>
												<option th:value="5">5</option>
											</select>
										</div>
									</div>

									<div class="col-12 row">
										<div class="col-12">
											<label for="recipient-name" class="col-form-label"><b>Address</b></label>
											<input type="text" id="_ho_address" name="_ho_address" class="form-control"
												onkeyup="checkHoAddress()">
										</div>
									</div>

									<div class="col-12 row pt-1">
										<label for="recipient-name" class="col-form-label"><b>Background</b></label>
										<i class="cursor-hand fa-solid fa-rotate-right fa-xl 
													position-absolute" style="margin-top:60px;margin-left: 10px;" onclick="onRefreshBackground()"></i>
										<img class="cursor-hand col-12" id="viewBackground"
											onclick="onRefreshBackground()"
											src="http://localhost:8080/images/No_Image_Available.jpg" alt="" />
										<input type="file" id="hotelFile" name="hotelFile" class="form-control" hidden>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" id="btnHotel"
										class="btn btn-info d-flex justify-content-center"
										onclick="OnHotelSubmit()">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div>
					<table id="hotelTable" class="table table-hover table-striped pt-2 table-responsive">
						<thead class="table-dark">
							<th>#</th>
							<th>Name</th>
							<th>Stars</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="hotel : ${resultHotel.data}">
								<td th:text="${hotel._ho_index}" class="p-2 m-0"></td>
								<td th:text="${hotel._ho_name}" class="p-2 m-0"></td>
								<td th:text="${hotel._ho_stars}" class="p-2 m-0"></td>
								<td th:switch="${hotel._ho_status}" class="p-2 m-0">
									<span th:case="1" class="badge badge-success">Active</span>
									<span th:case="2" class="badge badge-danger">Deactive</span>
								</td>
								<td th:text="${#dates.format(hotel._ho_created_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td th:text="${#dates.format(hotel._ho_updated_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-pen-to-square fa-2xl" style="color: #00c217;"
											data-bs-toggle="modal" data-bs-target="#hotelModal"
											data-bs-title="Update Hotel"
											data-bs-url="http://localhost:8080/hotel/update">
											<input th:value="${hotel._ho_id}" hidden></input></i>
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
											onclick="onShowHotelInfo(this)">
											<input th:value="${hotel._ho_id}" hidden></input>
										</i>
										<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
											onclick="OnHotelChangeStatus(event)">
											<input th:value="${hotel._ho_id}" hidden></input></i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<div class="modal fade" id="hotelInfoModal" tabindex="-1" aria-labelledby="hotelInfoModal" aria-hidden="true">
			<div class="row">
				<div class="modal-dialog modal-md col-4">
					<div class="modal-content">
						<div class="modal-header">
							<h2>Information</h2>
							<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body row" style="width: 500px">
							<div class="col-5">
								<img id="infoBackground" class="cursor-hand" src="" alt=""
									style="width: 170px;height: auto;" />
							</div>

							<div class="col-7 m-0 p-0">
								<div>
									<span id="infoName"></span>
								</div>
								<div>
									<span id="infoAddress"></span>
								</div>
								<div class="row">
									<div class="col-4">
										<label><b>Rooms : </b></label>
										<div id="rooms"></div>
									</div>
									<div class="col-4">
										<label><b>Stars : </b></label>
										<div id="stars"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<label><b>Single : </b></label>
										<div id="singleRooms"></div>
									</div>
									<div class="col-4">
										<label><b>Double : </b></label>
										<div id="doubleRooms"></div>
									</div>
									<div class="col-4">
										<label><b>Triple : </b></label>
										<div id="tripleRooms"></div>
									</div>
								</div>

								<div class="row">
									<div class="col-6">
										<label><b>From : </b></label>
										<div id="fromPrice"></div>
									</div>
									<div class="col-6">
										<label><b>To : </b></label>
										<div id="toPrice"></span>
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<button type="button" class="btn btn-info" value="0" data-bs-toggle="modal"
										data-bs-target="#roomModal" data-bs-id="0" data-bs-title="New Room"
										data-bs-url="http://localhost:8080/api/room/insert">
										Add</button>
									<button type="button" id="btnView" class="btn btn-info btnView ms-5"
										onclick='showModal(this)' data-url="" data-index="flight">
										View</button>
								</div>
							</div>
						</div>
					</div>
					<div id="dashboardView" class="modal-content mt-5" hidden>
						<div class="modal-header">
							<h2>Dashboard</h2>
							<button type="button" class="btn-close float-end" onclick='hideModal()'
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="d-flex justify-content-center">
								<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
									aria-hidden="true"></span>
								<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
									aria-hidden="true"></span>
								<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
									aria-hidden="true"></span>
							</div>
							<div id="dashboardContent"></div>
						</div>
					</div>
				</div>
				<div id="modalView" class="modal-dialog modal-xl col-8" hidden>
					<div class="modal-content modal-md">
						<div class="modal-header">
							<h2>Details</h2>
							<button type="button" class="btn-close float-end" onclick='hideModal()'
								aria-label="Close"></button>
						</div>
						<div class="modal-body" id="viewDetails"></div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="roomTitle"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form id="roomForm" action="" method="POST" enctype="multipart/form-data">
					<div class="modal-body row">
						<input type="text" id="_ro_id" name="_ro_id" hidden />
						<input type="text" id="_ro_images" name="_ro_images" hidden />
						<div class="col-12 row">
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Hotel</b></label>
								<div id="_ro_ho_name"></div>
								<input type="text" id="_ro_ho_id" name="_ro_ho_id" class="form-control" hidden>
							</div>
							<div class="col-6">
								<label for="recipient-name" class="col-form-label"><b>Name</b></label>
								<input type="text" id="_ro_code" name="_ro_code" class="form-control"
									onkeyup="checkRoCode()">
							</div>
						</div>

						<div class="col-12 row">
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Type</b></label>
								<select id="_ro_room_type_id" name="_ro_room_type_id" class="form-select"
									onchange="checkRoType()">
									<option th:value="0" selected disabled hidden>
										Select Room Type
									</option>
									<option th:each="rt : ${resultRoomType.data}" th:if="${rt._rt_status}"
										th:value="${rt._rt_id}" th:text="${rt._rt_name}">
									</option>
								</select>
							</div>
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Price</b></label>
								<input min="0" max="10000000" class="form-control" type="number" id="_ro_price"
									name="_ro_price" onchange="checkRoPrice()" onkeyup="checkRoPrice()" />
							</div>
						</div>

						<div class="col-12 ">
							<label for="message-text" class="col-form-label"><b>Furnitures</b></label>
							<select id="_ro_furnitures" name="_ro_furnitures" class="select2 select2-arrow form-control"
								multiple onchange="checkRoFurniture()">
								<option th:each="fur : ${resultFurniture.data}" th:if="${fur._fur_status}"
									th:value="${fur._fur_id}" th:text="${fur._fur_name}">
								</option>
							</select>
						</div>

						<div class="col-12 ">
							<label for="message-text" class="col-form-label"><b>Policies</b></label>
							<select id="_ro_policies" name="_ro_policies" class="select2 select2-arrow form-control"
								multiple onchange="checkRoPolicy()">
								<option th:each="po : ${resultPolicy.data}" th:if="${po._po_status}"
									th:value="${po._po_id}" th:text="${po._po_description}">
								</option>
							</select>
						</div>
						<div class="col-12 row pt-1">
							<label for="recipient-name" class="col-form-label"><b>Image</b></label>
							<i class="cursor-hand fa-solid fa-rotate-right fa-xl 
													position-absolute" style="margin-top:60px;margin-left: 10px;" onclick="onRefreshRoImages()"></i>
							<img class="cursor-hand col-12" id="viewRoImages" onclick="onRefreshRoImages()"
								src="http://localhost:8080/images/No_Image_Available.jpg" alt="" />
							<input type="file" id="roomFile" name="roomFile" class="form-control"
								onchange="onSelectedRoImage(event)" hidden>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" id="btnRoom" class="btn btn-info d-flex justify-content-center"
							onclick="OnRoomSubmit()">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="roomInfoModal" tabindex="-1" aria-labelledby="hotelInfoModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2>Information</h2>
					<button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"
						onclick="onHideRoomInfo()"></button>
				</div>
				<div class="modal-body row">
					<div class="col-4">
						<img id="infoRoBackground" class="cursor-hand" src="" alt=""
							style="width: 230px;height: auto;" />
					</div>

					<div class="col-8 m-0 p-0">
						<div>
							<h2 id="infoHotel"></h2>
						</div>
						<div class="row mt-2">
							<div class="col-6">
								<label><b>Number : </b></label>
								<div id="infoNumber"></div>
							</div>
							<div class="col-6">
								<label><b>Type : </b></label>
								<div id="infoType"></div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-6">
								<label><b>Price : </b></label>
								<div id="infoPrice"></div>
							</div>
							<div class="col-6">
								<label><b>Status : </b></label>
								<div id="infoStatus"></div>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col-6">
								<label><b>Furnitures : </b></label>
								<div id="infoFurnitures"></div>
							</div>
							<div class="col-6">
								<label><b>Policies : </b></label>
								<div id="inforPolicies"></span>
								</div>
							</div>
						</div>
						<div class="mt-2">
							<button type="button" id="btnEdit" class="btn btn-info" data-bs-toggle="modal"
								data-bs-target="#roomModal" data-bs-title="Update Room"
								data-bs-url="http://localhost:8080/room/update">
								<input hidden></input>
								Edit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="shared/admin_layout::file_script"></div>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"
		integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
<script th:inline="javascript">
	setLocal("city", '[[${resultCity}]]');
	setLocal("hotel", '[[${resultHotel}]]');
	setLocal("furniture", '[[${resultFurniture}]]');
	setLocal("policy", '[[${resultPolicy}]]');
	setLocal("roomType", '[[${resultRoomType}]]');
	CheckPermision();
	new DataTable('#hotelTable', {

	});

	const $hotelInfoModal = $("#hotelInfoModal");
	const $infoBackground = $("#infoBackground");
	const $infoName = $("#infoName");
	const $infoAddress = $("#infoAddress");
	const $rooms = $("#rooms");
	const $stars = $("#stars");
	const $singleRooms = $("#singleRooms");
	const $doubleRooms = $("#doubleRooms");
	const $tripleRooms = $("#tripleRooms");
	const $fromPrice = $("#fromPrice");
	const $toPrice = $("#toPrice");
	const $btnView = $("#btnView");
	const $modalView = $("#modalView");
	const $dashboardChart = $("#dashboardChart");
	const $dashboardView = $("#dashboardView");
	const $dashboardContent = $("#dashboardContent");
	const $dashboardLoading = $(".dashboardLoading");
	const $viewDetails = $("#viewDetails");
	const $viewImages = $("#viewImages");

	const $roomFile = $("#roomFile");
	const $roomModal = $('#roomModal');
	const $_ro_id = $("#_ro_id");
	const $_ro_name = $("#_ro_name");
	const $_ro_ho_name = $("#_ro_ho_name");
	const $_ro_ho_id = $("#_ro_ho_id");
	const $_ro_images = $("#_ro_images");
	const $_ro_hotel_id = $("#_ro_hotel_id")
	const $_ro_code = $("#_ro_code");
	const $_ro_room_type_id = $("#_ro_room_type_id");
	const $_ro_price = $("#_ro_price");
	const $_ro_furnitures = $("#_ro_furnitures");
	const $_ro_policies = $("#_ro_policies");
	const $viewRoImages = $("#viewRoImages");
	const $btnRoom = $("#btnRoom");
	const $roomForm = $("#roomForm");

	var Utils = $.fn.select2.amd.require('select2/utils');
	var Dropdown = $.fn.select2.amd.require('select2/dropdown');
	var DropdownSearch = $.fn.select2.amd.require('select2/dropdown/search');
	var CloseOnSelect = $.fn.select2.amd.require('select2/dropdown/closeOnSelect');
	var AttachBody = $.fn.select2.amd.require('select2/dropdown/attachBody');

	let selectedHotel;

	var dropdownAdapter = Utils.Decorate(Utils.Decorate(Utils.Decorate(Dropdown, DropdownSearch), CloseOnSelect), AttachBody);
	$_ro_furnitures.select2({
		width: '100%',
		placeholder: "Select Furniture",
		allowClear: true,
		dropdownParent: $roomModal,
		dropdownAutoWidth: 'true',
		dropdownAdapter: dropdownAdapter,
	});
	$_ro_furnitures.on('select2:open', function (e) {
		$(".select2-search__field").css("width", "100%");
	});
	$_ro_policies.select2({
		width: '100%',
		placeholder: "Select Policy",
		allowClear: true,
		dropdownParent: $roomModal,
		dropdownAutoWidth: 'true',
		dropdownAdapter: dropdownAdapter,
	});
	$_ro_policies.on('select2:open', function (e) {
		$(".select2-search__field").css("width", "100%");
	});
	$(".select2-search__field").css("width", "100%")

	const $infoHotel = $("#infoHotel");
	const $infoNumber = $("#infoNumber");
	const $infoType = $("#infoType");
	const $infoPrice = $("#infoPrice");
	const $infoStatus = $("#infoStatus");
	const $infoFurnitures = $("#infoFurnitures");
	const $inforPolicies = $("#inforPolicies");
	const $infoRoBackground = $("#infoRoBackground");
	const $btnEdit = $("#btnEdit");
	const $roomInfoModal = $("#roomInfoModal");

	let currentRoom;
	const onShowRoomInfo = (event) => {
		currentRoom = event.firstElementChild;
		$hotelInfoModal.modal("hide");
		$roomInfoModal.modal("show");
	}

	const onHideRoomInfo = () => {
		$hotelInfoModal.modal("show");
		$btnView.click();
	}

	$roomInfoModal[0].addEventListener('show.bs.modal', function (event) {
		if (currentRoom) {
			const currentId = currentRoom.value;
			for (var item of getLocal("room").data) {
				if (currentId == item._ro_id) {
					var background = item._ro_images;
					if (background == '')
						background = "http://localhost:8080/images/No_Image_Available.jpg";
					$infoRoBackground.attr('src', background);

					$infoHotel[0].innerHTML = item._ho_name;
					$infoNumber[0].innerHTML = item._ro_number;
					$infoType[0].innerHTML = item._rt_name;
					$infoPrice[0].innerHTML = toVnd(item._ro_price);

					let status = ''
					switch (item._ro_status) {
						case 0:
							status = `<span class="badge badge-danger">Deactive</span>`;
							break;
						case 1:
							status = `<span class="badge badge-success">Free</span>`;
							break;
						case 2:
							status = `<span class="badge badge-warning">Busy</span>`;
							break;
					}
					$infoStatus[0].innerHTML = status;

					let furnitures = ''
					const _ro_furniture = item._ro_furnitures.split(',');
					for (var fur of getLocal("furniture").data) {
						for (var index of _ro_furniture) {
							if (fur._fur_id == index) {
								const template = `<div class="d-flex">
											  <img class="float-start" src="${fur._fur_icon}" alt=""
													style="width: 25px; height: 25px;" />
											  <span >${fur._fur_name}</span>
										  </div>`;
								furnitures += template;
							}
						}
					}
					let policies = ''
					const _ro_policy = item._ro_policies.split(',');
					for (var po of getLocal("policy").data) {
						for (var index of _ro_policy) {
							if (po._po_id == index) {
								const template = `<div class="d-flex">
											  <img class="float-start" src="${po._po_icon}" alt=""
													style="width: 25px; height: 25px;" />
											  <span>${po._po_description}</span>
										  </div>`;
								policies += template;
							}
						}
					}
					$infoFurnitures[0].innerHTML = furnitures;
					$inforPolicies[0].innerHTML = policies;
					$($btnEdit[0].firstElementChild).val(item._ro_id);
					break;
				}
			}
		}
	});

	$roomModal[0].addEventListener('show.bs.modal', function (event) {
		const $button = event.relatedTarget;
		const title = $button.getAttribute('data-bs-title');
		const url = $button.getAttribute('data-bs-url');
		const $modalTitle = $('#roomTitle');
		let child = event.relatedTarget.firstElementChild;
		$_ro_ho_name[0].innerHTML = selectedHotel._ho_name;
		$_ro_ho_id.val(selectedHotel._ho_id);
		if (child) {
			const currentId = child.value;
			for (var item of getLocal("room").data) {
				if (currentId == item._ro_id) {
					$_ro_id.val(item._ro_id);
					$_ro_images.val(item._ro_images);
					var background = item._ro_images;
					if (background == '')
						background = "http://localhost:8080/images/No_Image_Available.jpg";
					$viewRoImages.attr('src', background);
					$_ro_code.val(item._ro_number);
					setupSelect($_ro_room_type_id, item._ro_room_type_id);
					$_ro_price.val(item._ro_price);
					$_ro_furnitures.val(item._ro_furnitures.split(','));
					$_ro_furnitures.trigger('change');
					$_ro_policies.val(item._ro_policies.split(','));
					$_ro_policies.trigger('change');
					break;
				}
			}
		}

		$roomForm[0].action = url;
		$btnRoom.val(url);
		$modalTitle[0].innerHTML = title;
	});

	$roomModal[0].addEventListener('hide.bs.modal', function (event) {
		$hotelInfoModal.modal("show");
		$btnView.click();
		$_ro_ho_id.val(0);
		$_ro_id.val(0);
		$_ro_images.val("");
		$viewRoImages.attr('src', "http://localhost:8080/images/No_Image_Available.jpg");
		$_ro_code.val('');
		setupSelect($_ro_room_type_id, 0);
		$_ro_price.val(0);
		$_ro_furnitures.val(null);
		$_ro_furnitures.trigger('change');
		$_ro_policies.val(null);
		$_ro_policies.trigger('change');
		RemoveError($_ro_furnitures);
		RemoveError($_ro_policies);
		$(".select2-search__field").css("width", "100%");
	});

	const checkRoCode = () => {
		const _ro_code = $_ro_code.val();
		let check = false;
		if (_ro_code == '') {
			AddError($_ro_code, "Room Code is Required.");
		}
		else if (_ro_code.length > 50) {
			AddError($_ro_code, "Max length 50 letters.");
		}
		else {
			RemoveError($_ro_code);
			check = true;
		}

		return check;
	}

	const checkHotel = () => {
		const _ro_hotel_id = $_ro_hotel_id[0].value;

		let check = false;
		if (_ro_hotel_id == 0) {
			AddError($_ro_hotel_id, "Please select Hotel.");
		}
		else {
			RemoveError($_ro_hotel_id);
			check = true;
		}

		return check;
	}

	const checkRoPrice = () => {
		return checkNumber($_ro_price, "Price Required.");
	}

	const checkRoFurniture = () => {
		const _ro_furnitures = $_ro_furnitures[0].value;

		let check = false;
		if (_ro_furnitures == 0) {
			AddError($_ro_furnitures, "Please select Furniture.");
		}
		else {
			RemoveError($_ro_furnitures);
			check = true;
		}

		return check;
	}

	const checkRoPolicy = () => {
		const _ro_policies = $_ro_policies[0].value;

		let check = false;
		if (_ro_policies == 0) {
			AddError($_ro_policies, "Please select Policy.");
		}
		else {
			RemoveError($_ro_policies);
			check = true;
		}

		return check;
	}


	const checkRoType = () => {
		const _ro_room_type_id = $_ro_room_type_id[0].value;

		let check = false;
		if (_ro_room_type_id == 0) {
			AddError($_ro_room_type_id, "Room Type Required.");
		}
		else {
			RemoveError($_ro_room_type_id);
			check = true;
		}

		return check;
	}

	const onSelectedRoImage = () => {
		if ($roomFile[0].files && $roomFile[0].files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$viewRoImages.attr('src', e.target.result);
			};

			reader.readAsDataURL($roomFile[0].files[0]);
		}
	}

	const onRefreshRoImages = () => {
		$roomFile.trigger('click');
	}

	const OnRoomSubmit = () => {
		const isRoCode = checkRoCode();
		const isPrice = checkRoPrice();
		const isFurniture = checkRoFurniture();
		const isPolicy = checkRoPolicy();
		const isRoomType = checkRoType();
		if (!isRoCode || !isPrice ||
			!isFurniture || !isPolicy || !isRoomType) {
			return
		}
		let roomFile = new FormData();
		let _ro_id = $_ro_id.val();
		if (_ro_id == '')
			_ro_id = 0;
		roomFile.append("roomFile", $roomFile[0].files[0]);
		roomFile.append("_ro_ho_id", parseInt($_ro_ho_id.val()));
		roomFile.append("_ro_id", _ro_id);
		roomFile.append("_ro_code", $_ro_code.val());
		roomFile.append("_ro_room_type_id", parseInt($_ro_room_type_id.val()));
		roomFile.append("_ro_price", parseFloat($_ro_price.val()));
		roomFile.append("_ro_furnitures", $_ro_furnitures.val().toString());
		roomFile.append("_ro_policies", $_ro_policies.val().toString());
		const btnRoom = $btnRoom[0];
		const url = $btnRoom.val();
		AddSpiner(btnRoom);
		BlockUI();
		fetch(url, {
			method: 'POST',
			body: roomFile
		})
			.then(response => response.json())
			.then(res => {
				getHotel();
			})
			.catch(error => {
				RemoveSpiner(btnRoom);
				UnBlockUI();
				$roomModal.modal("hide");
			})
	}

	const getHotel = () => {
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/hotel/gets",
			timeout: 100000,
			dataType: 'json',
			success: function (res) {
				UnBlockUI();
				setLocal("hotel", JSON.stringify(res));
				renderHotelInfo();
				$roomModal.modal("hide");
			},
			error: function (e) {
				UnBlockUI();
				$roomModal.modal("hide")
			}
		});
	}

	const OnRoomChangeStatus = (e) => {
		const _ro_id = e.target.lastElementChild.value;
		let _ro_status = 1;
		for (var item of getLocal("room").data) {
			if (_ro_id == item._ro_id) {
				if (item._ro_status == 1)
					_ro_status = 0;
				break;
			}
		}

		const room = {_ro_id, _ro_status};
		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/room/changestatus",
			data: JSON.stringify(room),
			timeout: 100000,
			dataType: 'json',
			success: function (res) {
				UnBlockUI();

				if (res.isSuccess) {
					const localData = getLocal("room");
					for (var item of localData.data) {
						if (res.data._ro_id == item._ro_id) {
							item = res.data;
							break;
						}
					}
					setLocal("room", JSON.stringify(localData));
				}
				getHotel();
				$btnView.click();
			},
			error: function (e) {
				UnBlockUI();
			}
		});
	}

	var lastChild;
	const onShowHotelInfo = (event) => {
		lastChild = event.lastElementChild;
		$hotelInfoModal.modal("show");
	}


	$hotelInfoModal[0].addEventListener('show.bs.modal', function (event) {
		renderHotelInfo();
	});

	const renderHotelInfo = () => {
		const currentId = lastChild.value;
		for (var item of getLocal("hotel").data) {
			if (currentId == item._ho_id) {
				selectedHotel = item;
				$infoBackground.attr('src', item._ho_background);
				$infoName[0].innerHTML = `<h2>${item._ho_name}<h2/>`;
				$infoAddress[0].innerHTML = item._ho_address;
				$rooms[0].innerHTML = `${item._ho_rooms_active}/${item._ho_rooms}`;
				$stars[0].innerHTML = `<div class="rating d-flex justify-content-Sevenly"></div>`;
				$(".rating").starRating({
					initialRating: item._ho_stars,
					strokeColor: '#894A00',
					strokeWidth: 1,
					starSize: 25,
					readOnly: true,
					starShape: "rounded"
				});
				$singleRooms[0].innerHTML = `${item._ho_single_rooms_active}/${item._ho_single_rooms}`;
				$doubleRooms[0].innerHTML = `${item._ho_double_rooms_active}/${item._ho_double_rooms}`;
				$tripleRooms[0].innerHTML = `${item._ho_triple_rooms_active}/${item._ho_triple_rooms}`;
				$fromPrice[0].innerHTML = item._ho_from_price_string;
				$toPrice[0].innerHTML = item._ho_to_price_string;
				$btnView.val(item._ho_id);
				break;
			}
		}
	}

	$hotelInfoModal[0].addEventListener('hide.bs.modal', function (event) {
		hideModal();
	});
	const tableTemplate = `<table id="modalViewTable" style="width : 100%;"
								class="table table-hover table-striped pt-2">
								<thead class="table-dark">
									<th>#</th>
									<th style="width : 200px;">Name</th>
									<th style="width : 100px;">Payment</th>
									<th style="width : 100px;">Status</th>
									<th style="width : 200px;">Date</th>
									<th>Action</th>
								</thead>
							</table>`;

	let currentChart;
	const onSelectDashboard = () => {
		const $dashboardType = $("#dashboardType");
		const $dashboardYear = $("#dashboardYear");
		const $dashboardChart = $("#dashboardChart");
		const selectedYear = $dashboardYear.val();
		const payment = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
		const res = getLocal("roomData");
		for (var item of res.data) {
			const currentDay = item._db_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (selectedYear == year) {
				if ($dashboardType.val() == 'payment')
					payment[parseInt(currentDay[1]) - 1] += item._db_payment;
				else
					payment[parseInt(currentDay[1]) - 1] += 1;
			}
		}

		if (currentChart) {
			for (var index = 0; index < 12; index++) {
				currentChart.data.datasets[0].data[index] = payment[index];
			}
			currentChart.update();
		}
	}

	const hideModal = () => {
		$modalView[0].hidden = true;
		$dashboardView[0].hidden = true;
		$dashboardContent[0].hidden = true;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
	}
	const showModal = (event) => {
		$modalView[0].hidden = false;
		$dashboardView[0].hidden = false;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
		$viewDetails[0].innerHTML = tableTemplate
		//const url = event.getAttribute('data-url');
		const url = "http://localhost:8080/api/room/getbyhotel";
		let columns = [
			{"data": "_ro_index"},
			{"data": "_ro_number"},
			{"data": "_ro_price_string"},
			{"data": "_ro_status_string"},
			{"data": "_ro_updated_timestamp"},
			{"data": "_ro_action"}
		]
		const _ho_id = $btnView.val();
		$("#modalViewTable").on('processing.dt', function (res, settings, processing) {
			const tableTd = $('#modalViewTable td')
			if (!processing && tableTd.length >= 1) {
				console.log("Loading Success.");
			}
		}).DataTable({
			ajax: {
				type: 'GET',
				data: {_ho_id},
				url: url,
				serverSide: true,
				dataFilter: function (res) {
					const localData = getLocal("room");
					const arr = [...localData.data];
					const data = JSON.parse(res).data;
					for (var item of data) {
						let check = false;
						for (var localItem of localData.data) {
							if (localItem._ro_id == item._ro_id) {
								check = true;
								break;
							}
						}
						if (!check) {
							arr.push(item);
						}
					}
					localData.data = [];
					localData.data = [...arr];
					setLocal("room", JSON.stringify(localData));
					const currentData = [];
					for (var item of data) {
						var _ro_status_string = '';
						switch (item._ro_status) {
							case 0:
								_ro_status_string = `<span class="badge badge-danger">Deactive</span>`
								break;
							case 1:
								_ro_status_string = `<span class="badge badge-success">Free</span>`
								break;
							case 2:
								_ro_status_string = `<span class="badge badge-warning">Busy</span>`
								break;
						}
						const currentItem = {
							...item,
							_ro_status_string: _ro_status_string,
							_ro_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-pen-to-square fa-2xl" style="color: #00c217;"
											data-bs-toggle="modal" data-bs-target="#roomModal"
											data-bs-title="Update Room" data-bs-url="http://localhost:8080/api/room/update">
											<input value="${item._ro_id}" hidden></input></i>
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" onclick="onShowRoomInfo(this)">
											<input value="${item._ro_id}" hidden></input>
										</i>
										<i disabled class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
											onclick="OnRoomChangeStatus(event)">
											<input value="${item._ro_id}" hidden></input></i>
									</div>`}
						currentData.push(currentItem)
					}
					return JSON.stringify({
						//draw: skipAjaxDrawValue,
						data: currentData,
						//recordsTotal: response.recordsTotal,
						//recordsFiltered: response.recordsFiltered
					});
				}
			},
			columns: columns,
		});

		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "http://localhost:8080/api/booking/getbyhotel",
			data: {_ho_id},
			timeout: 100000,
			dataType: 'json',
			success: function (res) {
				for (var ele of $dashboardLoading) {
					ele.hidden = true;
				}
				if (res.isSuccess) {
					setLocal("roomData", JSON.stringify(res));
					const chartData = getChartHotel(res.data);
					$dashboardContent[0].hidden = false;
					$dashboardContent[0].innerHTML = `
						<div class="float-end d-flex justify-content-evenly">
							<select id="dashboardType" class="me-3 form-select" style="width:150px;"
										onchange="onSelectDashboard()">
								<option value="payment" selected>Payment</option>
								<option value="quantity">Quantity</option>
							</select>
							<select id="dashboardYear" class="form-select"
										onchange="onSelectDashboard()">
							</select>
						</div>
						<div>
							<canvas id="dashboardChart"></canvas>
						</div>
								`;
					const $dashboardChart = $("#dashboardChart");
					const $dashboardYear = $("#dashboardYear");
					for (var year of chartData.years) {
						let selected = ''
						if (year == chartData.year)
							selected = "selected"
						const option = $(`
										<option value=${year} ${selected}>
												${year}
										</option>
										`);
						$dashboardYear[0].appendChild(option[0]);
					}

					currentChart = new Chart($dashboardChart, {
						type: 'bar',
						data: {
							labels: ['Jan', 'Jeb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Otc', 'Nov', 'Dec'],
							datasets: [{
								label: 'Payment / Month',
								data: chartData.payment,
								borderWidth: 1
							}],
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							},
							plugins: {
								colors: {
									enable: true
								}
							}
						}
					});
				}
				else {
					$dashboardContent[0].innerHTML = res.mes;
				}

			},
			error: function (e) {
				console.log(e)
			}
		});
	}

	const getChartHotel = (data) => {
		const res = {
			payment: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			years: [],
			year: 0,
		}
		for (var item of data) {
			const year = getDate(item._db_updated_date).year();
			if (!res.years.find(x => x == year)) {
				res.years.push(year);
			}
		}
		res.year = Math.max(...res.years);
		for (var item of data) {
			for (var dataItem of res.payment) {
				//const year = getDate(item._db_updated_date).year();
				const currentDay = item._db_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (res.year == year) {
					res.payment[parseInt(currentDay[1]) - 1] += item._db_payment;
					break;
				}
			}
		}
		return res;
	}

	const $viewBackground = $("#viewBackground");
	const $hotelFile = $("#hotelFile");
	const $hotelModal = $('#hotelModal');
	const $_ho_id = $("#_ho_id");
	const $_ho_background = $("#_ho_background");
	const $_ho_city_id = $("#_ho_city_id")
	const $_ho_name = $("#_ho_name");
	const $_ho_single_rooms = $("#_ho_single_rooms");
	const $_ho_double_rooms = $("#_ho_double_rooms");
	const $_ho_triple_rooms = $("#_ho_triple_rooms");
	const $_ho_stars = $("#_ho_stars");
	const $_ho_address = $("#_ho_address");
	const $btnHotel = $("#btnHotel");
	const $hotelForm = $("#hotelForm");

	$hotelModal[0].addEventListener('show.bs.modal', function (event) {
		const $button = event.relatedTarget;
		const title = $button.getAttribute('data-bs-title');
		const url = $button.getAttribute('data-bs-url');
		const $modalTitle = $('#hotelTitle');
		const lastChild = event.relatedTarget.firstElementChild;

		if (lastChild) {
			const currentId = lastChild.value;
			for (var item of getLocal("hotel").data) {
				if (currentId == item._ho_id) {
					$_ho_id.val(item._ho_id);
					$_ho_background.val(item._ho_background);
					var background = item._ho_background;
					if (background == '')
						background = "http://localhost:8080/images/No_Image_Available.jpg";
					$viewBackground.attr('src', background);
					setupSelect($_ho_city_id, item._ho_city_id);
					$_ho_name.val(item._ho_name);
					$_ho_single_rooms.val(item._ho_single_rooms);
					$_ho_double_rooms.val(item._ho_double_rooms);
					$_ho_triple_rooms.val(item._ho_triple_rooms);
					setupSelect($_ho_stars, item._ho_stars);
					$_ho_address.val(item._ho_address);
					break;
				}
			}
		}

		$hotelForm[0].action = url;
		$btnHotel.val(url);
		$modalTitle[0].innerHTML = title;
	});

	$hotelModal[0].addEventListener('hide.bs.modal', function (event) {
		$_ho_id.val(0);
		$_ho_background.val("");
		$viewBackground.attr('src', "http://localhost:8080/images/No_Image_Available.jpg");
		setupSelect($_ho_city_id, 0);
		$_ho_name.val('');
		$_ho_single_rooms.val(0);
		$_ho_double_rooms.val(0);
		$_ho_triple_rooms.val(0);
		setupSelect($_ho_stars, 0);
		$_ho_address.val("");
	});


	const onSelectedImage = (e) => {
		if (e.files && e.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$viewBackground.attr('src', e.target.result);
			};

			reader.readAsDataURL(e.files[0]);
		}
	}

	const onRefreshBackground = () => {
		$hotelFile.trigger('click');
	}

	const checkHoName = () => {
		const _ho_name = $_ho_name.val();
		let check = false;
		if (_ho_name == '') {
			AddError($_ho_name, "Hotel Name is Required.");
		}
		else if (_ho_name.length > 50) {
			AddError($_ho_name, "Max length 50 letters.");
		}
		else {
			RemoveError($_ho_name);
			check = true;
		}

		return check;
	}

	const checkAdPhone = () => {
		const _ad_phone = $_ad_phone.val();

		const regex = /^((\+)33|0)[1-9](\d{2}){4}$/;
		let check = _ad_phone.match(regex);
		if (_ad_phone == '')
			AddError($_ad_phone, "Phone is Required.");
		else if (!check)
			AddError($_ad_phone, "Wrong format. Ex: 0977444498");
		else
			RemoveError($_ad_phone);
		return check;
	}

	const checkCity = () => {
		const _ho_city_id = $_ho_city_id[0].value;

		let check = false;
		if (_ho_city_id == 0) {
			AddError($_ho_city_id, "Please select City.");
		}
		else {
			RemoveError($_ho_city_id);
			check = true;
		}

		return check;
	}

	const checkSr = () => {
		return checkNumber($_ho_single_rooms, "Quantity Required.");
	}

	const checkDr = () => {
		return checkNumber($_ho_double_rooms, "Quantity Required.");
	}

	const checkTr = () => {
		return checkNumber($_ho_triple_rooms, "Quantity Required.");
	}

	const checkStars = () => {
		const _ho_stars = $_ho_stars[0].value;

		let check = false;
		if (_ho_stars == 0) {
			AddError($_ho_stars, "Stars Required.");
		}
		else {
			RemoveError($_ho_stars);
			check = true;
		}

		return check;
	}

	const checkHoAddress = () => {
		const _ho_address = $_ho_address.val();
		let check = false;
		if (_ho_address == '') {
			AddError($_ho_address, "Hotel Adddress is Required.");
		}
		else if (_ho_address.length > 500) {
			AddError($_ho_address, "Max length 500 letters.");
		}
		else {
			RemoveError($_ho_address);
			check = true;
		}

		return check;
	}

	const OnHotelSubmit = () => {
		const isHoName = checkHoName();
		const isCity = checkCity();
		const isSr = checkSr();
		const isDr = checkDr();
		const isTr = checkTr();
		const isStars = checkStars();
		const isAdddress = checkHoAddress();
		if (!isHoName || !isCity || !isSr || !isDr || !isTr ||
			!isStars || !isAdddress) {
			return
		}
		const btnHotel = $btnHotel[0];
		AddSpiner(btnHotel);
		BlockUI();
		$hotelForm.submit();
	}

	const OnHotelChangeStatus = (e) => {
		const _ho_id = e.target.lastElementChild.value;
		let _ho_status = 1;
		for (var item of getLocal("hotel").data) {
			if (_ho_id == item._ho_id) {
				if (item._ho_status == 1)
					_ho_status = 0;
				break;
			}
		}

		const hotel = {_ho_id, _ho_status};
		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/hotel/changestatus",
			data: JSON.stringify(hotel),
			timeout: 100000,
			dataType: 'json',
			success: function (data) {
				location.reload();
			},
			error: function (e) {
				var res = JSON.parse(e.responseText);
				if (res.isSuccess)
					location.reload();
				UnBlockUI();
			}
		});
	}
</script>