<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/lineicons.css}" />
<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
	integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
	.bg {
		/* The image used */
		background-image: url("http://localhost:8080/images/admin_login_background.jpg");

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-input {
		border-style: solid;
		border-color: red;
	}

	.cursor-hand {
		cursor: pointer;
	}
</style>

<body>
	<header th:replace="shared/admin_layout::header"> </header>
	<div th:replace="shared/admin_layout::sidebar"> </div>
	<div id="blockUi" class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.20); z-index: 8888" hidden>
		<div class="d-flex justify-content-center" style="margin-top:300px">
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<main class="main-wrapper">
		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="title mb-30">
								<h2>Room
									<i class="cursor-hand fa-solid fa-square-plus fa-xl float-end"
										data-bs-toggle="modal" data-bs-target="#roomModal" data-bs-id="0"
										data-bs-title="New Room" data-bs-url="http://localhost:8080/room/insert"></i>
								</h2>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModal" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="roomTitle"></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<form id="roomForm" action="" method="POST" enctype="multipart/form-data">
								<div class="modal-body row">
									<input type="text" id="_ro_id" name="_ro_id" hidden />
									<input type="text" id="_ro_images" name="_ro_images" hidden />
									<div class="col-12 row">
										<div class="col-6">
											<label for="message-text" class="col-form-label"><b>Hotel</b></label>
											<select id="_ro_hotel_id" name="_ro_hotel_id" class="form-select"
												onchange="checkHotel()">
												<option th:value="0" selected disabled hidden>
													Select Hotel
												</option>
												<option th:each="hotel : ${resultHotel.data}"
													th:if="${hotel._ho_status}" th:value="${hotel._ho_id}"
													th:text="${hotel._ho_name}">
												</option>
											</select>
										</div>
										<div class="col-6">
											<label for="recipient-name" class="col-form-label"><b>Name</b></label>
											<input type="text" id="_ro_code" name="_ro_code" class="form-control"
												onkeyup="checkRoCode()">
										</div>
									</div>

									<div class="col-12 row">
										<div class="col-6">
											<label for="message-text" class="col-form-label"><b>Type</b></label>
											<select id="_ro_room_type_id" name="_ro_room_type_id" class="form-select"
												onchange="checkRoType()">
												<option th:value="0" selected disabled hidden>
													Select Room Type
												</option>
												<option th:each="rt : ${resultRoomType.data}" th:if="${rt._rt_status}"
													th:value="${rt._rt_id}" th:text="${rt._rt_name}">
												</option>
											</select>
										</div>
										<div class="col-6">
											<label for="message-text" class="col-form-label"><b>Price</b></label>
											<input min="0" max="10000000" class="form-control" type="number"
												id="_ro_price" name="_ro_price" onchange="checkRoPrice()"
												onkeyup="checkRoPrice()" />
										</div>
									</div>

									<div class="col-12 ">
										<label for="message-text" class="col-form-label"><b>Furnitures</b></label>
										<select id="_ro_furnitures" name="_ro_furnitures"
											class="select2 select2-arrow form-control" multiple
											onchange="checkRoFurniture()">
											<option th:each="fur : ${resultFurniture.data}" th:if="${fur._fur_status}"
												th:value="${fur._fur_id}" th:text="${fur._fur_name}">
											</option>
										</select>
									</div>

									<div class="col-12 ">
										<label for="message-text" class="col-form-label"><b>Policies</b></label>
										<select id="_ro_policies" name="_ro_policies"
											class="select2 select2-arrow form-control" multiple
											onchange="checkRoPolicy()">
											<option th:each="po : ${resultPolicy.data}" th:if="${po._po_status}"
												th:value="${po._po_id}" th:text="${po._po_description}">
											</option>
										</select>
									</div>
									<div class="col-12 row pt-1">
										<label for="recipient-name" class="col-form-label"><b>Image</b></label>
										<i class="cursor-hand fa-solid fa-rotate-right fa-xl 
													position-absolute" style="margin-top:60px;margin-left: 10px;" onclick="onRefreshImages()"></i>
										<img class="cursor-hand col-12" id="viewImages" onclick="onRefreshImages()"
											src="http://localhost:8080/images/No_Image_Available.jpg" alt="" />
										<input type="file" id="roomFile" name="roomFile" class="form-control"
											onchange="onSelectedImage(event)" hidden>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" id="btnRoom"
										class="btn btn-info d-flex justify-content-center"
										onclick="OnRoomSubmit()">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div>
					<table id="roomTable" class="table table-hover table-striped pt-2">
						<thead class="table-dark">
							<th>#</th>
							<th>Hotel</th>
							<th>No</th>
							<th>Type</th>
							<th>Price</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="ro : ${resultRoom.data}">
								<td th:text="${ro._ro_index}" class="p-2 m-0"></td>
								<td th:text="${ro._ho_name}" class="p-2 m-0"></td>
								<td th:text="${ro._ro_number}" class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div>
										<span
											th:text="${#numbers.formatDecimal(ro._ro_price,3,'POINT',0,'COMMA')}"></span>
										<span> VND</span>
									</div>
								</td>
								<td th:text="${ro._rt_name}" class="p-2 m-0"></td>
								<td th:switch="${ro._ro_status}" class="p-2 m-0">
									<span th:case="0" class="badge badge-danger">Deactive</span>
									<span th:case="1" class="badge badge-success">Free</span>
									<span th:case="2" class="badge badge-warning">Busy</span>
								</td>
								<td th:text="${#dates.format(ro._ro_created_date, 'yyyy-MM-dd HH:mm')}" class="p-2 m-0">
								</td>
								<td th:text="${#dates.format(ro._ro_updated_date, 'yyyy-MM-dd HH:mm')}" class="p-2 m-0">
								</td>
								<td class="p-2 m-0">
									<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-pen-to-square fa-2xl" style="color: #00c217;"
											data-bs-toggle="modal" data-bs-target="#roomModal"
											data-bs-title="Update Room" data-bs-url="http://localhost:8080/room/update">
											<input th:value="${ro._ro_id}" hidden></input></i>
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" data-bs-toggle="modal"
											data-bs-target="#roomInfoModal">
											<input th:value="${ro._ro_id}" hidden></input>
										</i>
										<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
											onclick="OnRoomChangeStatus(event)">
											<input th:value="${ro._ro_id}" hidden></input></i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

		<div class="modal fade" id="roomInfoModal" tabindex="-1" aria-labelledby="hotelInfoModal" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Information</h2>
						<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body row">
						<div class="col-4">
							<img id="infoBackground" class="cursor-hand" src="" alt=""
								style="width: 230px;height: auto;" />
						</div>

						<div class="col-8 m-0 p-0">
							<div>
								<h2 id="infoHotel"></h2>
							</div>
							<div class="row mt-2">
								<div class="col-6">
									<label><b>Number : </b></label>
									<div id="infoNumber"></div>
								</div>
								<div class="col-6">
									<label><b>Type : </b></label>
									<div id="infoType"></div>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-6">
									<label><b>Price : </b></label>
									<div id="infoPrice"></div>
								</div>
								<div class="col-6">
									<label><b>Status : </b></label>
									<div id="infoStatus"></div>
								</div>
							</div>

							<div class="row mt-2">
								<div class="col-6">
									<label><b>Furnitures : </b></label>
									<div id="infoFurnitures"></div>
								</div>
								<div class="col-6">
									<label><b>Policies : </b></label>
									<div id="inforPolicies"></span>
									</div>
								</div>
							</div>
							<div class="mt-2">
								<button type="button" id="btnEdit" class="btn btn-info" data-bs-toggle="modal"
									data-bs-target="#roomModal" data-bs-title="Update Room"
									data-bs-url="http://localhost:8080/room/update">
									<input hidden></input>
									Edit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="shared/admin_layout::file_script"></div>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"
		integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
<script th:inline="javascript">
	setLocal("furniture", '[[${resultFurniture}]]');
	setLocal("policy", '[[${resultPolicy}]]');
	setLocal("roomType", '[[${resultRoomType}]]');
	setLocal("room", '[[${resultRoom}]]');
	setLocal("hotel", '[[${resultHotel}]]');
	CheckPermision();
	new DataTable('#roomTable', {

	});

	const $viewImages = $("#viewImages");
	const $roomFile = $("#roomFile");
	const $roomModal = $('#roomModal');
	const $_ro_id = $("#_ro_id");
	const $_ro_images = $("#_ro_images");
	const $_ro_hotel_id = $("#_ro_hotel_id")
	const $_ro_code = $("#_ro_code");
	const $_ro_room_type_id = $("#_ro_room_type_id");
	const $_ro_price = $("#_ro_price");
	const $_ro_furnitures = $("#_ro_furnitures");
	const $_ro_policies = $("#_ro_policies");
	const $btnRoom = $("#btnRoom");
	const $roomForm = $("#roomForm");
	var Utils = $.fn.select2.amd.require('select2/utils');
	var Dropdown = $.fn.select2.amd.require('select2/dropdown');
	var DropdownSearch = $.fn.select2.amd.require('select2/dropdown/search');
	var CloseOnSelect = $.fn.select2.amd.require('select2/dropdown/closeOnSelect');
	var AttachBody = $.fn.select2.amd.require('select2/dropdown/attachBody');

	var dropdownAdapter = Utils.Decorate(Utils.Decorate(Utils.Decorate(Dropdown, DropdownSearch), CloseOnSelect), AttachBody);
	$_ro_furnitures.select2({
		width: '100%',
		placeholder: "Select Furniture",
		allowClear: true,
		dropdownParent: $roomModal,
		dropdownAutoWidth: 'true',
		dropdownAdapter: dropdownAdapter,
	});
	$_ro_furnitures.on('select2:open', function (e) {
		$(".select2-search__field").css("width", "100%");
	});
	$_ro_policies.select2({
		width: '100%',
		placeholder: "Select Policy",
		allowClear: true,
		dropdownParent: $roomModal,
		dropdownAutoWidth: 'true',
		dropdownAdapter: dropdownAdapter,
	});
	$_ro_policies.on('select2:open', function (e) {
		$(".select2-search__field").css("width", "100%");
	});
	$(".select2-search__field").css("width", "100%")

	const $infoHotel = $("#infoHotel");
	const $infoNumber = $("#infoNumber");
	const $infoType = $("#infoType");
	const $infoPrice = $("#infoPrice");
	const $infoStatus = $("#infoStatus");
	const $infoFurnitures = $("#infoFurnitures");
	const $inforPolicies = $("#inforPolicies");
	const $infoBackground = $("#infoBackground");
	const $btnEdit = $("#btnEdit");
	const $roomInfoModal = $("#roomInfoModal");

	$roomInfoModal[0].addEventListener('show.bs.modal', function (event) {
		const lastChild = event.relatedTarget.firstElementChild;

		if (lastChild) {
			const currentId = lastChild.value;
			for (var item of getLocal("room").data) {
				if (currentId == item._ro_id) {
					var background = item._ro_images;
					if (background == '')
						background = "http://localhost:8080/images/No_Image_Available.jpg";
					$infoBackground.attr('src', background);

					$infoHotel[0].innerHTML = item._ho_name;
					$infoNumber[0].innerHTML = item._ro_number;
					$infoType[0].innerHTML = item._rt_name;
					$infoPrice[0].innerHTML = toVnd(item._ro_price);

					let status = ''
					switch (item._ro_status) {
						case 0:
							status = `<span class="badge badge-danger">Deactive</span>`;
							break;
						case 1:
							status = `<span class="badge badge-success">Free</span>`;
							break;
						case 2:
							status = `<span class="badge badge-warning">Busy</span>`;
							break;
					}
					$infoStatus[0].innerHTML = status;

					let furnitures = ''
					const _ro_furniture = item._ro_furnitures.split(',');
					for (var fur of getLocal("furniture").data) {
						for (var index of _ro_furniture) {
							if (fur._fur_id == index) {
								const template = `<div class="d-flex">
											  <img class="float-start" src="${fur._fur_icon}" alt=""
													style="width: 25px; height: 25px;" />
											  <span >${fur._fur_name}</span>
										  </div>`;
								furnitures += template;
							}
						}
					}
					let policies = ''
					const _ro_policy = item._ro_policies.split(',');
					for (var po of getLocal("policy").data) {
						for (var index of _ro_policy) {
							if (po._po_id == index) {
								const template = `<div class="d-flex">
											  <img class="float-start" src="${po._po_icon}" alt=""
													style="width: 25px; height: 25px;" />
											  <span>${po._po_description}</span>
										  </div>`;
								policies += template;
							}
						}
					}
					$infoFurnitures[0].innerHTML = furnitures;
					$inforPolicies[0].innerHTML = policies;
					$($btnEdit[0].firstElementChild).val(item._ro_id);
					break;
				}
			}
		}
	});

	$roomInfoModal[0].addEventListener('hide.bs.modal', function (event) {
		$viewImages.attr('src', "http://localhost:8080/images/No_Image_Available.jpg");
	});

	$roomModal[0].addEventListener('show.bs.modal', function (event) {
		const $button = event.relatedTarget;
		const title = $button.getAttribute('data-bs-title');
		const url = $button.getAttribute('data-bs-url');
		const $modalTitle = $('#roomTitle');
		const lastChild = event.relatedTarget.firstElementChild;

		if (lastChild) {
			const currentId = lastChild.value;
			for (var item of getLocal("room").data) {
				if (currentId == item._ro_id) {
					$_ro_id.val(item._ro_id);
					$_ro_images.val(item._ro_images);
					var background = item._ro_images;
					if (background == '')
						background = "http://localhost:8080/images/No_Image_Available.jpg";
					$viewImages.attr('src', background);
					setupSelect($_ro_hotel_id, item._ho_id);
					$_ro_code.val(item._ro_number);
					setupSelect($_ro_room_type_id, item._ro_room_type_id);
					$_ro_price.val(item._ro_price);
					$_ro_furnitures.val(item._ro_furnitures.split(','));
					$_ro_furnitures.trigger('change');
					$_ro_policies.val(item._ro_policies.split(','));
					$_ro_policies.trigger('change');
					break;
				}
			}
		}

		$roomForm[0].action = url;
		$btnRoom.val(url);
		$modalTitle[0].innerHTML = title;
	});

	$roomModal[0].addEventListener('hide.bs.modal', function (event) {
		$_ro_id.val(0);
		$_ro_images.val("");
		$viewImages.attr('src', "http://localhost:8080/images/No_Image_Available.jpg");
		setupSelect($_ro_hotel_id, 0);
		$_ro_code.val('');
		setupSelect($_ro_room_type_id, 0);
		$_ro_price.val(0);
		setupSelect($_ro_furnitures, 0);
		setupSelect($_ro_policies, 0);
	});

	const onSelectedImage = (e) => {
		if (e.files && e.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$viewImages.attr('src', e.target.result);
			};

			reader.readAsDataURL(e.files[0]);
		}
	}

	const onRefreshImages = () => {
		$roomFile.trigger('click');
	}

	const checkRoCode = () => {
		const _ro_code = $_ro_code.val();
		let check = false;
		if (_ro_code == '') {
			AddError($_ro_code, "Room Code is Required.");
		}
		else if (_ro_code.length > 50) {
			AddError($_ro_code, "Max length 50 letters.");
		}
		else {
			RemoveError($_ro_code);
			check = true;
		}

		return check;
	}

	const checkHotel = () => {
		const _ro_hotel_id = $_ro_hotel_id[0].value;

		let check = false;
		if (_ro_hotel_id == 0) {
			AddError($_ro_hotel_id, "Please select Hotel.");
		}
		else {
			RemoveError($_ro_hotel_id);
			check = true;
		}

		return check;
	}

	const checkRoPrice = () => {
		return checkNumber($_ro_price, "Price Required.");
	}

	const checkRoFurniture = () => {
		const _ro_furnitures = $_ro_furnitures[0].value;

		let check = false;
		if (_ro_furnitures == 0) {
			AddError($_ro_furnitures, "Please select Furniture.");
		}
		else {
			RemoveError($_ro_furnitures);
			check = true;
		}

		return check;
	}

	const checkRoPolicy = () => {
		const _ro_policies = $_ro_policies[0].value;

		let check = false;
		if (_ro_policies == 0) {
			AddError($_ro_policies, "Please select Policy.");
		}
		else {
			RemoveError($_ro_policies);
			check = true;
		}

		return check;
	}


	const checkRoType = () => {
		const _ro_room_type_id = $_ro_room_type_id[0].value;

		let check = false;
		if (_ro_room_type_id == 0) {
			AddError($_ro_room_type_id, "Room Type Required.");
		}
		else {
			RemoveError($_ro_room_type_id);
			check = true;
		}

		return check;
	}

	const OnRoomSubmit = () => {
		const isRoCode = checkRoCode();
		const isHoName = checkHotel();
		const isPrice = checkRoPrice();
		const isFurniture = checkRoFurniture();
		const isPolicy = checkRoPolicy();
		const isRoomType = checkRoType();
		if (!isRoCode || !isHoName || !isPrice ||
			!isFurniture || !isPolicy || !isRoomType) {
			return
		}
		const btnRoom = $btnRoom[0];
		AddSpiner(btnRoom);
		BlockUI();
		$roomForm.submit();
	}

	const OnRoomChangeStatus = (e) => {
		const _ro_id = e.target.lastElementChild.value;
		let _ro_status = 1;
		for (var item of getLocal("room").data) {
			if (_ro_id == item._ro_id) {
				if (item._ro_status == 1)
					_ro_status = 0;
				break;
			}
		}

		const room = {_ro_id, _ro_status};
		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/room/changestatus",
			data: JSON.stringify(room),
			timeout: 100000,
			dataType: 'json',
			success: function (data) {
				location.reload();
			},
			error: function (e) {
				var res = JSON.parse(e.responseText);
				if (res.isSuccess)
					location.reload();
				UnBlockUI();
			}
		});
	}
</script>