<!DOCTYPE html>
<html>
	<head th:replace="shared/client_layout::head">
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	
	<body>
		<!-- ======== Preloader =========== -->
	    <div id="preloader">
	      <div class="spinner"></div>
	    </div>
	    <!-- ======== Preloader =========== -->
		
		<!-- ======== sidebar-nav start =========== -->
		<aside th:replace="shared/profile_sidebar::profile_sidebar"> </aside>
		<div class="overlay"></div>
		<!-- ======== sidebar-nav end =========== -->
		
		<main class="main-wrapper">
			<!-- ========== header start ========== -->
			<header th:replace="shared/client_header::client_header"> </header>
			<!-- ========== header end ========== -->
			
			<!-- ========== section start ========== -->
	        <section class="section">
			  <!-- start container -->
	          <div class="container p-5">
			    <!-- start row -->
			    <div class="d-flex align-items-center justify-content-evenly mb-3" style="width: 100%;">
					<div class="d-flex align-items-center justify-content-center" style="width: 100%;">
						<button id="upcoming-btn" class="bill-stt-title" style="width: 100%;" onclick="setActive(event, 1)">Upcoming</button>
					</div>
					
					<div class="d-flex align-items-center justify-content-center" style="width: 100%;">
						<button id="completed-btn" class="bill-stt-title" style="width: 100%;" onclick="setActive(event, 2)">Completed</button>
					</div>
					
					<div class="d-flex align-items-center justify-content-center" style="width: 100%;">
						<button id="cancelled-btn" class="bill-stt-title" style="width: 100%;" onclick="setActive(event, 3)">Cancelled</button>
					</div>
				</div>
				
				<div class="d-flex align-items-start justify-content-between mb-3" style="width: 100%;">
					<div id="filter-bill-btn-wrapper" class="d-flex flex-column align-items-center">
						<button id="filter-bill-btn" class="filter-bill-btn d-flex align-items-center" onclick="displaySelect(event)">
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex">
									<img src="../../images/bill_history/filter-blue.png" class="me-2"/>
									<span style="margin-right: 3rem">Sort by: </span>
								</div>
							</div>
						</button>
						
						<div id="filter-bill-select" class="filter-bill-select d-flex flex-column" hidden>
							<span class="d-flex justify-content-center" onclick="sortBillsBy('bookingDate')">Booking Date</span>
							<span class="d-flex justify-content-center" onclick="sortBillsBy('checkinDate')">Check-in Date</span>
						</div>
					</div>
					
					<div class="search-bill-input d-flex align-items-center">
						<img src="../../images/bill_history/search-interface-symbol-blue.png" class="ms-3 me-2"/>
						<input id="search-input" placeholder="Search by booking ID" oninput="searchById()"/>
					</div>
				</div>
				
				<div id="bill-wrapper">
					<div class="row" th:each="bill: ${resultBills.data}">
						<div th:if="${bill._tickets[0]._tk_flight._fl_status == 1}">
								<div th:attr="data-element-name='bhf_card' + ${bill._bil_id}, id='bhf_card' + ${bill._bil_id}" class="bhf_wrapper mt-3 p-3">
									<div class="bhf_overall_info d-flex align-items-center justify-content-between mb-3">
										<div class="d-flex align-items-center justify-content-center">
											<span th:text="'Booking ID: ' + ${bill._bil_id}" class="bhf_booking_id"></span>
										</div>
										
										<div class="d-flex align-items-center">
											<div class="bhf_booking_stt_wrapper d-flex align-items-center text-center">
												<div th:switch="${bill._bil_status}" style="width: 100%">
													<div th:object="${bill}" th:case="1"><span th:text="Paid" class="bhf_booking_stt paid d-flex align-items-center justify-content-center"></span></div>
													<div th:object="${bill}" th:case="0"><span th:text="Unpaid" class="bhf_booking_stt unpaid d-flex align-items-center justify-content-center"></span></div>
													<div th:object="${bill}" th:case="3"><span th:text="Pending" class="bhf_booking_stt pending d-flex align-items-center justify-content-center"></span></div>
												</div>
											</div>
										</div>
									</div>
										
									<div class="bhf_separator mb-3" role="separator"></div>
									
									<div class="d-flex flex-column align-items-start">
										<div class="bhf_airplane d-flex align-items-center me-3 mb-3">
											<img th:src="${bill._tickets[0]._tk_flight._car_icon}" class="me-2"/>
											<span th:text="${bill._tickets[0]._tk_flight._car_name}"></span>
										</div>
										
										<div class="d-flex">
											<div class="d-flex flex-column me-5">
												<div class="d-flex justify-content-start">
													<div class="d-flex me-2">
														<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Booking at:</span>
													</div>
													
													<div class="d-flex">
														<span style="font-size: 14px;" th:text="${bill._bil_created_timestamp}"></span>
													</div>
												</div>
												
												<div class="d-flex justify-content-start">
													<div class="d-flex me-2">
														<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment at:</span>
													</div>
													
													<div class="d-flex">
														<span style="font-size: 14px;" th:text="${bill._bil_updated_timestamp}"></span>
													</div>
												</div>
											</div>
											
											<div class="d-flex flex-column">
												<div class="d-flex justify-content-start">
													<div class="d-flex me-2">
														<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Total Price:</span>
													</div>
													
													<div class="d-flex">
														<span style="font-size: 14px;" th:text="${bill._bil_payment_string}"></span>
													</div>
												</div>
												
												<div class="d-flex justify-content-start">
													<div class="d-flex me-2">
														<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment Code:</span>
													</div>
													
													<div class="d-flex">
														<span style="font-size: 14px;" th:text="${bill._bil_payment_code}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
										
									<div class="bhf_separator mb-3" role="separator"></div>
									
									<div class="d-flex align-items-center justify-content-end">
										<button th:attr="data-bs-target=${'#manage-booking-btn' + bill._bil_id}" data-bs-toggle="modal" type="button" class="cprimary-btn d-flex align-items-center justify-content-center" data-element-name="bhf_mb_btn">
											<div class="d-flex align-items-center text-center">
												<span class="fw-500">Manage Booking</span>
											</div>
										</button>
										
										<button th:if="${bill._bil_status == 0}" th:attr="onclick=${'payBill(' + bill._bil_id + ',' + bill._bil_payment + ')'}" type="button" class="corange-btn d-flex align-items-center justify-content-center ms-3">
											<div class="d-flex align-items-center text-center">
												<span class="fw-500">Pay</span>
											</div>
										</button>
									</div>
								</div>
							</div>
						
						
						<div class="modal fade" th:attr="id=${'manage-booking-btn' + bill._bil_id}" tabindex="-1" aria-hidden="true">
						    <div class="modal-dialog modal-dialog-centered modal-xl">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h5 class="modal-title">Tickets</h5>
						                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						            </div>
						            <div class="modal-body">
						                <table class="table">
						                    <thead>
						                        <tr class="table-primary">
						                            <th style="padding-left: 20px" scope="col">#</th>
						                            <th scope="col">Name</th>
						                            <th scope="col">Ticket Price</th>
						                            <th scope="col">Seat Number</th>
						                            <th scope="col">Age</th>
						                            <th scope="col">Action</th>
						                            <!-- Add more columns as needed -->
						                        </tr>
						                    </thead>
						                    <tbody>
						                        <!-- Iterate through tickets and generate table rows -->
						                        <tr th:each="ticket, iterStat: ${bill._tickets}" th:if="${ticket._tk_status == 1}">
													<td style="padding-left: 20px" th:text="${iterStat.index + 1}"></td>
						                            <td th:text="${ticket._tk_full_name}"></td>
						                            <td th:text="${ticket._tk_payment_string}"></td>
						                            <td th:text="${ticket._tk_seat}"></td>
						                            <td th:text="${ticket._pas_title}"></td>
						                            <td>
														<button type="button" class="ccprimary-btn d-flex align-items-center justify-content-center"
															    th:attr="data-tk-id=${ticket._tk_id}, data-tk-status=${ticket._tk_status}"  onclick="refund(event)">Refund</button>
													</td>
						                        </tr>
						                    </tbody>
						                </table>
						                <span id="refund-noti"></span>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
				
				<span th:text="${randomStr}" hidden></span>
				<!-- end row -->
	          </div>
	          <!-- end container -->
	          
	          <div th:each="user: ${resultUser}" hidden></div>
	        </section>
	        <!-- ========== section end ========== -->
		</main>
		
		
		<div th:replace="shared/client_layout::file_script"></div>
		<script th:inline="javascript">
			setLocal("newUser", '[[${resultUser.data}]]');
			let updatedUser = getLocal("newUser");
			let user = JSON.parse(localStorage.getItem("user-info"));
			console.log(user)
			console.log(updatedUser[0])
			if(updatedUser && updatedUser[0]._cus_status){
				let updateInfoNoti = document.getElementById("updateInfoNoti");
				user = updatedUser[0];
				
				if(updateInfoNoti){
					setTimeout(function () {
				        updateInfoNoti.innerHTML = "";
				    }, 2000);
				}
			    
			    localStorage.setItem("user-info", JSON.stringify(user));
			}
			
			
			setLocal("random", '[[${randomStr}]]');
			let randomString = getLocal("random");
			
			setLocal("billLocal", '[[${resultBills.data}]]');
			let billLocal = getLocal("billLocal");
			console.log(billLocal)
			
			/*=============================================================================*/
			/*============================= Bill History Header ===========================*/
			/*=============================================================================*/
			let loginBtn = document.getElementById("login");
			let profileBox = document.getElementById("profile-box");
			
			/* --------------- Set Profile Box --------------- */
			if (user._cus_status) {
				//Set Login button disappear
				loginBtn.style.display = "none";
				
				//Set User Information
				if(user._cus_id == 1){
					profileBox.innerHTML = "";
				}else{
					profileBox.innerHTML = `
						<button
			                class="dropdown-toggle bg-transparent border-0"
			                type="button"
			                id="profile"
			                data-bs-toggle="dropdown"
			                aria-expanded="false"
			                onclick="setUser(event)"
			              >
			                <div class="profile-info">
			                  <div class="info">
			                    <h6 class="me-2">${user._cus_full_name == "" ? "Welcome" : user._cus_full_name}</h6>
			                    <div class="image">
			                      <img src="${user._cus_avatar ? user._cus_avatar : '../images/profile/user-gray.png'}" alt="profile-avatar" />
			                      <span class="status"></span>
			                    </div>
			                  </div>
			                </div>
			                <i class="lni lni-chevron-down"></i>
			              </button>
			              <ul
			                class="dropdown-menu dropdown-menu-end"
			                aria-labelledby="profile"
			              >
			                <li>
			                  <a href="http://localhost:8080/profile/${randomString + user._cus_id.toString()}" onclick="setUser(event)">
			                    <i class="lni lni-user"></i> View Profile
			                  </a>
			                </li>
			                <li>
			                  <a id="logout-link" onclick="userLogout(${user._cus_id})"> <i class="lni lni-exit"></i> Sign Out </a>
			                </li>
			              </ul>
					`
				}
			}
			
			/*=============================================================================*/
			/*============================ Bill History Sidebar ===========================*/
			/*=============================================================================*/
			
			/* --------------- Set Profile URL --------------- */
			let profileLink = document.getElementById("profile_link");
			let profileUrl = `http://localhost:8080/profile/${randomString + user._cus_id.toString()}`;
			
			profileLink.href = profileUrl;
			
			/* --------------- Set Bill History (Flight) URL --------------- */
			let bhfLink = document.getElementById("bhf_link");
			let bhfUrl = `http://localhost:8080/profile/bill_history/${randomString + user._cus_id.toString()}`;
			
			bhfLink.href = bhfUrl;
			
			/*====================================================================================*/
			/*================================ Bill History Content ==============================*/
			/*====================================================================================*/
			let upcomingBtn = document.getElementById("upcoming-btn");
			let completedBtn = document.getElementById("completed-btn");
			let cancelledBtn = document.getElementById("cancelled-btn");
			
			let billWrapper = document.getElementById("bill-wrapper");
			let filterBillBtn = document.getElementById("filter-bill-btn");
			let selectBox = document.getElementById("filter-bill-select");
			
			/* --------------- Set Default Active _fl_status --------------- */
			upcomingBtn.classList.add("bill-stt-title-active");
			
			/* --------------- Set Active Content --------------- */
			function setActive(e, index){
				console.log(billLocal)
				if(billLocal){
					if(index == 1){
					// Set Content
					let formattedBills = '';
					for(const bill of billLocal){
						if(bill._tickets[0]._tk_flight._fl_status == 1){
							formattedBills += `
								<div class="row">
									<div data-element-name="bhf_card${bill._bil_id}" id="bhf_card${bill._bil_id}" class="bhf_wrapper mt-3 p-3">
										<div class="bhf_overall_info d-flex align-items-center justify-content-between mb-3">
											<div class="d-flex align-items-center justify-content-center">
												<span class="bhf_booking_id">Booking ID: ${bill._bil_id}</span>
											</div>
											
											<div class="d-flex align-items-center">
												<div class="bhf_booking_stt_wrapper d-flex align-items-center text-center">
													${bill._bil_status == 1 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Paid</span>
													`
													: ""}
													
													${bill._bil_status == 0 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Unpaid</span>
													`
													: ""}
													
													${bill._bil_status == 3 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Pending</span>
													`
													: ""}
												</div>
											</div>
										</div>
										
										<div class="bhf_separator mb-3" role="separator"></div>
										
										<div class="d-flex flex-column">
											<div class="bhf_airplane d-flex align-items-center me-3 mb-3">
												<img src="${billLocal[0]._tickets[0]._tk_flight._car_icon}" class="me-2"/>
												<span>${billLocal[0]._tickets[0]._tk_flight._car_name}</span>
											</div>
											
											<div class="d-flex">
												<div class="d-flex flex-column me-5">
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Booking at:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_created_timestamp}</span>
														</div>
													</div>
													
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment at:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_updated_timestamp}</span>
														</div>
													</div>
												</div>
												
												<div class="d-flex flex-column">
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Total Price:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_payment_string}</span>
														</div>
													</div>
													
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment Code:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_payment_code}</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="bhf_separator mb-3" role="separator"></div>
										
										<div class="d-flex align-items-center justify-content-end">
											<button data-bs-target="#manage-booking-btn${bill._bil_id}" data-bs-toggle="modal" type="button" class="cprimary-btn d-flex align-items-center justify-content-center" data-element-name="bhf_mb_btn">
												<div class="d-flex align-items-center text-center">
													<span class="fw-500">Manage Booking</span>
												</div>
											</button>
											
											${bill._bil_status == 0 ? 
											`
												<button onclick="payBill(${bill._bil_id}, ${bill._bil_payment})" type="button" class="corange-btn d-flex align-items-center justify-content-center ms-3">
													<div class="d-flex align-items-center text-center">
														<span class="fw-500">Pay</span>
													</div>
												</button>
											`
											: ""}
											
										</div>
									</div>
								</div>
								
								<div class="modal fade" id="manage-booking-btn${bill._bil_id}" tabindex="-1" aria-hidden="true">
								    <div class="modal-dialog modal-dialog-centered modal-xl">
								        <div class="modal-content">
								            <div class="modal-header">
								                <h5 class="modal-title">Tickets</h5>
								                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								            </div>
								            <div class="modal-body">
								                <table class="table">
								                    <thead>
								                        <tr class="table-primary">
								                            <th style="padding-left: 20px" scope="col">#</th>
								                            <th scope="col">Name</th>
								                            <th scope="col">Ticket Price</th>
								                            <th scope="col">Seat Number</th>
								                            <th scope="col">Age</th>
								                            <th scope="col">Action</th>
								                        </tr>
								                    </thead>
								                    <tbody>
								                        ${bill._tickets.map((ticket, index) => 
								                        `
								                        	${ticket._tk_status == 1 ? 
								                        	`
								                        		<tr>
																	<td style="padding-left: 20px">${index + 1}</td>
										                            <td>${ticket._tk_full_name}</td>
										                            <td>${ticket._tk_payment_string}</td>
										                            <td>${ticket._tk_seat}</td>
										                            <td>${ticket._pas_title}</td>
										                            <td>
																		<button type="button" class="ccprimary-btn d-flex align-items-center justify-content-center"
																				data-tk-id="${ticket._tk_id}" data-tk-status="${ticket._tk_status}" onclick="refund(event)">Refund</button>
																	</td>
										                        </tr>
								                        	`
								                        	: ""}
								                        `)
								                        }
								                        
								                    </tbody>
								                </table>
								                <span id="refund-noti"></span>
								            </div>
								        </div>
								    </div>
								</div>
							`
						}
					}
					billWrapper.innerHTML = formattedBills;
					
					// Set UI
					if(upcomingBtn.classList.length !== 2){
						upcomingBtn.classList.add("bill-stt-title-active");
					}
					
					if(completedBtn.classList.length !== 1){
						completedBtn.classList.remove("bill-stt-title-active");
					}
						
					if(cancelledBtn.classList.length !== 1){
						cancelledBtn.classList.remove("bill-stt-title-active");
					}
				}
				
				if(index == 2){
					// Set Content
					let formattedBills = '';
					for(const bill of billLocal){
						if(bill._tickets[0]._tk_flight._fl_status == 2){
							console.log(bill)
							formattedBills += `
								<div class="row">
									<div data-element-name="bhf_card${bill._bil_id}" id="bhf_card${bill._bil_id}" class="bhf_wrapper mt-3 p-3">
										<div class="bhf_overall_info d-flex align-items-center justify-content-between mb-3">
											<div class="d-flex align-items-center justify-content-center">
												<span class="bhf_booking_id">Booking ID: ${bill._bil_id}</span>
											</div>
											
											<div class="d-flex align-items-center">
												<div class="bhf_booking_stt_wrapper d-flex align-items-center text-center">
													${bill._bil_status == 1 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Paid</span>
													`
													: ""}
													
													${bill._bil_status == 0 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Unpaid</span>
													`
													: ""}
													
													${bill._bil_status == 3 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Pending</span>
													`
													: ""}
												</div>
											</div>
										</div>
										
										<div class="bhf_separator mb-3" role="separator"></div>
										
										<div class="d-flex flex-column">
											<div class="bhf_airplane d-flex align-items-center me-3 mb-3">
												<img src="${billLocal[0]._tickets[0]._tk_flight._car_icon}" class="me-2"/>
												<span>${billLocal[0]._tickets[0]._tk_flight._car_name}</span>
											</div>
											
											<div class="d-flex">
												<div class="d-flex flex-column me-5">
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Booking at:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_created_timestamp}</span>
														</div>
													</div>
													
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment at:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_updated_timestamp}</span>
														</div>
													</div>
												</div>
												
												<div class="d-flex flex-column">
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Total Price:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_payment_string}</span>
														</div>
													</div>
													
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment Code:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_payment_code}</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="bhf_separator mb-3" role="separator"></div>
										
										<div class="d-flex align-items-center justify-content-end">
											<button data-bs-target="#manage-booking-btn${bill._bil_id}" data-bs-toggle="modal" type="button" class="cprimary-btn d-flex align-items-center justify-content-center" data-element-name="bhf_mb_btn">
												<div class="d-flex align-items-center text-center">
													<span class="fw-500">Manage Booking</span>
												</div>
											</button>
										</div>
									</div>
								</div>
								
								<div class="modal fade" id="manage-booking-btn${bill._bil_id}" tabindex="-1" aria-hidden="true">
								    <div class="modal-dialog modal-dialog-centered modal-xl">
								        <div class="modal-content">
								            <div class="modal-header">
								                <h5 class="modal-title">Tickets</h5>
								                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								            </div>
								            <div class="modal-body">
								                <table class="table">
								                    <thead>
								                        <tr class="table-primary">
								                            <th style="padding-left: 20px" scope="col">#</th>
								                            <th scope="col">Name</th>
								                            <th scope="col">Ticket Price</th>
								                            <th scope="col">Seat Number</th>
								                            <th scope="col">Age</th>
								                        </tr>
								                    </thead>
								                    <tbody>
								                        ${bill._tickets.map((ticket, index) => 
								                        `
								                        	${ticket._tk_status == 1 ? 
								                        	`
								                        		<tr>
																	<td style="padding-left: 20px">${index + 1}</td>
										                            <td>${ticket._tk_full_name}</td>
										                            <td>${ticket._tk_payment_string}</td>
										                            <td>${ticket._tk_seat}</td>
										                            <td>${ticket._pas_title}</td>
										                        </tr>
								                        	`
								                        	: ""}
								                        `)
								                        }
								                        
								                    </tbody>
								                </table>
								            </div>
								        </div>
								    </div>
								</div>
							`
						}
					}
					billWrapper.innerHTML = formattedBills;
					
					// Set UI
					completedBtn.classList.add("bill-stt-title-active");
					
					if(upcomingBtn.classList.length !== 1){
						upcomingBtn.classList.remove("bill-stt-title-active");
					}
						
					if(cancelledBtn.classList.length !== 1){
						cancelledBtn.classList.remove("bill-stt-title-active");
					}
				}
				
				if(index == 3){
					// Set Content
					let formattedBills = '';
					let processedIds = new Set();
					for(const bill of billLocal){
						if(bill._tickets.some(ticket => ticket._tk_status === 3 || ticket._tk_status === 4) && !processedIds.has(bill._bil_id)){
							formattedBills += `
								<div class="row">
									<div data-element-name="bhf_card${bill._bil_id}" id="bhf_card${bill._bil_id}" class="bhf_wrapper mt-3 p-3">
										<div class="bhf_overall_info d-flex align-items-center justify-content-between mb-3">
											<div class="d-flex align-items-center justify-content-center">
												<span class="bhf_booking_id">Booking ID: ${bill._bil_id}</span>
											</div>
											
											<div class="d-flex align-items-center">
												<div class="bhf_booking_stt_wrapper d-flex align-items-center text-center">
													${bill._bil_status == 1 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Paid</span>
													`
													: ""}
													
													${bill._bil_status == 0 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Unpaid</span>
													`
													: ""}
													
													${bill._bil_status == 3 ? `
														<span class="bhf_booking_stt paid d-flex align-items-center justify-content-center">Pending</span>
													`
													: ""}
												</div>
											</div>
										</div>
										
										<div class="bhf_separator mb-3" role="separator"></div>
										
										<div class="d-flex flex-column">
											<div class="bhf_airplane d-flex align-items-center me-3 mb-3">
												<img src="${billLocal[0]._tickets[0]._tk_flight._car_icon}" class="me-2"/>
												<span>${billLocal[0]._tickets[0]._tk_flight._car_name}</span>
											</div>
											
											<div class="d-flex">
												<div class="d-flex flex-column me-5">
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Booking at:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_created_timestamp}</span>
														</div>
													</div>
													
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment at:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_updated_timestamp}</span>
														</div>
													</div>
												</div>
												
												<div class="d-flex flex-column">
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Total Price:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_payment_string}</span>
														</div>
													</div>
													
													<div class="d-flex justify-content-start">
														<div class="d-flex me-2">
															<span class="fw-500" style="font-size: 14px; color: var(--color-black);">Payment Code:</span>
														</div>
														
														<div class="d-flex">
															<span style="font-size: 14px;">${billLocal[0]._bil_payment_code}</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="bhf_separator mb-3" role="separator"></div>
										
										<div class="d-flex align-items-center justify-content-end">
											<button data-bs-target="#manage-booking-btn${bill._bil_id}" data-bs-toggle="modal" type="button" class="cprimary-btn d-flex align-items-center justify-content-center" data-element-name="bhf_mb_btn">
												<div class="d-flex align-items-center text-center">
													<span class="fw-500">Manage Booking</span>
												</div>
											</button>
										</div>
									</div>
								</div>
								
								<div class="modal fade" id="manage-booking-btn${bill._bil_id}" tabindex="-1" aria-hidden="true">
								    <div class="modal-dialog modal-dialog-centered modal-xl">
								        <div class="modal-content">
								            <div class="modal-header">
								                <h5 class="modal-title">Tickets</h5>
								                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								            </div>
								            <div class="modal-body">
								                <table class="table">
								                    <thead>
								                        <tr class="table-primary">
								                            <th style="padding-left: 20px" scope="col">#</th>
								                            <th scope="col">Name</th>
								                            <th scope="col">Ticket Price</th>
								                            <th scope="col">Seat Number</th>
								                            <th scope="col">Age</th>
								                            <th scope="col">Status</th>
								                            <!-- Add more columns as needed -->
								                        </tr>
								                    </thead>
								                    <tbody>
								                        ${bill._tickets.map((ticket, index) => 
								                        `
								                        	${ticket._tk_status == 3 || ticket._tk_status == 4? 
								                        	`
								                        		<tr>
																	<td style="padding-left: 20px">${index + 1}</td>
										                            <td>${ticket._tk_full_name}</td>
										                            <td>${ticket._tk_payment_string}</td>
										                            <td>${ticket._tk_seat}</td>
										                            <td>${ticket._pas_title}</td>
										                            <td>
																		${ticket._tk_status == 3 ? 
																		`
																			<button type="button" class="cwaiting-btn d-flex align-items-center justify-content-center">
																				<span>Refund Pending</span>
																			</button>
																		` : ""}
																		${ticket._tk_status == 4 ? 
																		`
																			<button type="button" class="csuccess-btn d-flex align-items-center justify-content-center">
																				<span>Refund Completed</span>
																			</button>
																		` : ""}
																	</td>
										                        </tr>
								                        	`
								                        	: ""}
								                        `)
								                        }
								                        
								                    </tbody>
								                </table>
								            </div>
								        </div>
								    </div>
								</div>
							`
							processedIds.add(bill._bil_id);
						}
					}
					billWrapper.innerHTML = formattedBills;
					
					// Set UI
					cancelledBtn.classList.add("bill-stt-title-active");
					
					if(upcomingBtn.classList.length !== 1){
						upcomingBtn.classList.remove("bill-stt-title-active");
					}
					
					if(completedBtn.classList.length !== 1){
						completedBtn.classList.remove("bill-stt-title-active");
					}
				}
				}
			}
			
			document.body.addEventListener('click', function(event) {
			    if (!event.target.closest('#filter-bill-btn-wrapper')) {
					filterBillBtn.style.background = "white";
					filterBillBtn.style.color = "#212529";
			      	selectBox.style.visibility = "hidden";
			    }
			    
			});
  
			function displaySelect(e){
				var sortByBtn = e.target.closest('button');
				// Set UI 
				selectBox.style.visibility = "visible";
				sortByBtn.style.background = "rgba(49, 112, 231, 0.16)";
				sortByBtn.style.color = "#127ADB";
			}
			
			/* --------------- Filter --------------- */
			// Search By Bill ID
			function searchById() {
		        var searchInput = document.getElementById('search-input');
		        var searchTerm = searchInput.value.toLowerCase();
		
		        // Get all bill elements
		        var billElements = document.querySelectorAll('.bhf_wrapper');
		
		        billElements.forEach(function(billElement) {
		            var billIdElement = billElement.querySelector('.bhf_booking_id');
		            var billId = billIdElement.innerText.toLowerCase();
		
		            // Show or hide the bill element based on the search result
		            if (billId.includes(searchTerm)) {
		                billElement.style.display = 'block';
		            } else {
		                billElement.style.display = 'none';
		            }
		        });
		    }
		    
		    // Sort Bills By Check-in Date || Booking Date
    		var billElements = document.querySelectorAll('.bhf_wrapper');
    
		    function sortBillsBy(option) {
		        // Convert NodeList to Array for easier sorting
		        var billsArray = Array.from(billElements);
		
		        // Sort bills based on the selected option
		        billsArray.sort(function(a, b) {
		            var dateA, dateB;
		
		            if (option === 'bookingDate') {
		                dateA = new Date(a.querySelector('.bhf_booking_id').innerText.split(': ')[1]);
		                dateB = new Date(b.querySelector('.bhf_booking_id').innerText.split(': ')[1]);
		            } else if (option === 'checkinDate') {
		                dateA = new Date(a.querySelector('.sc-dhKdcB.bKaiWl.bxuhcr').innerText);
		                dateB = new Date(b.querySelector('.sc-dhKdcB.bKaiWl.bxuhcr').innerText);
		            }
		
		            return dateA - dateB;
		        });
		
		        // Append sorted bills back to the bill wrapper
		        var billWrapper = document.getElementById('bill-wrapper');
		        billWrapper.innerHTML = '';
		        billsArray.forEach(function(bill) {
		            billWrapper.appendChild(bill);
		        });
		    }
			
			
			/* --------------- Payment --------------- */
			function payBill(billID, price) {
				var payment = parseFloat(price);
				$.ajax({
					type: "POST",
					url: "http://localhost:8080/api/vnpay",
					data: {payment},
					success: function (rs) {
						const res = JSON.parse(rs)
						let returnUrl = res.data;
							console.log(res)
							if (res.code === '00') {
								localStorage.setItem('insertedBillId', billID);
								if (window.vnpay) {
									vnpay.open({width: 768, height: 600, url: returnUrl});
								} else {
									location.href = returnUrl;
								}
									return false;
							} else {
								console.log(res.Message);
							}
					}, error: function (res) {
						console.log("Fail");
						console.log(res);
					}
				});
			}
			
			/* --------------- Refund --------------- */
			function refund(e){
				let _tk_id = parseInt(e.target.getAttribute("data-tk-id"));
				let _tk_status = 3;
				let refundNoti = document.getElementById("refund-noti");
				
				$.ajax({
					type: "POST",
					url: "http://localhost:8080/api/ticket/updatestatus-web",
					data: {_tk_id, _tk_status},
					success: function (rs) {
						console.log(rs);
						if(rs.isSuccess){
							refundNoti.innerHTML = "Refund Request Successful";
							refundNoti.style.color = "green";
							refundNoti.style.fontSize = "14px";
							refundNoti.style.fontWeight = "600";
							
							setTimeout(function() {
							    refundNoti.innerHTML = "";
							}, 2000);
						}else{
							refundNoti.innerHTML = "Something wrong with server";
							refundNoti.style.color = "red";
							refundNoti.style.fontSize = "14px";
							refundNoti.style.fontWeight = "600";
							
							setTimeout(function() {
							    refundNoti.innerHTML = "";
							}, 2000);
						}
						
						location.reload();
					}, error: function (res) {
						console.log("Fail");
						console.log(res);
						if(res.status == 500){
							refundNoti.innerHTML = "Something wrong with server";
							refundNoti.style.color = "red";
							refundNoti.style.fontSize = "14px";
							refundNoti.style.fontWeight = "600";
							
							setTimeout(function() {
							    refundNoti.innerHTML = "";
							}, 2000);
						}
					}
				});
			}
			/* --------------- Before unload --------------- */
			function setUser(e){
				localStorage.setItem("user-info", JSON.stringify(user));
			}
			
			function userLogout(cusId){
				let logoutLink = document.getElementById("logout-link");
				let logoutUrl = `http://localhost:8080/user/logout/${cusId}`;
				
				logoutLink.style.cursor = "pointer";
				logoutLink.href = logoutUrl;
				localStorage.removeItem("user-info");
				logoutLink.click();
			}
			
		</script>
	</body>
</html>