<!DOCTYPE html>
<html>
	<head th:replace="shared/client_layout::head">
		<meta charset="ISO-8859-1">
		<title>Profile</title>
	</head>
	
	<body>
		<!-- ======== Preloader =========== -->
	    <div id="preloader">
	      <div class="spinner"></div>
	    </div>
	    <!-- ======== Preloader =========== -->
		
		<!-- ======== sidebar-nav start =========== -->
		<aside th:replace="shared/profile_sidebar::profile_sidebar"> </aside>
		<div class="overlay"></div>
		<!-- ======== sidebar-nav end =========== -->
	
		<main class="main-wrapper">
			  <!-- ========== header start ========== -->
			  <header th:replace="shared/client_header::client_header"> </header>
			  <!-- ========== header end ========== -->
			
			  <!-- ========== section start ========== -->
		      <section class="section">
				<!-- start container -->
		        <div class="container mt-5">
				  <!-- start row -->
		          <div class="row">	
					<!-- start col -->
		            <div class="col-lg-12 col-md-12 col-sm-12">
					  <!-- start card -->
		              <div class="card-style settings-card-1 mb-30">
		                <div class="title mb-30 d-flex justify-content-between align-items-center">
		                  <h6>My Profile</h6>
		                  <button type="button" data-bs-target="#changePwd" data-bs-toggle="modal" class="cprimary-btn d-flex-align-items-center justify-content-center">
		                    <span>Change Password</span>
		                  </button>
		                  
		                  <div class="modal fade" id="changePwd" tabindex="-1" aria-hidden="true">
						    <div class="modal-dialog modal-dialog-centered modal-lg">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h5 class="modal-title">Change Password</h5>
						                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						            </div>
						            <div id="changePwdModalBody" class="modal-body"></div>
						            <div class="modal-footer">
										<div class="d-flex justify-content-end">
											<button type="button" class="ccprimary-btn d-flex-align-items-center justify-content-center" onclick="changePassword()">
												<span>Save</span>
											</button>
										</div>
									</div>
						        </div>
						    </div>
						  </div>
		                </div>
		                
		                <div id="profile-info" class="profile-info"> </div>
		                
		                <div th:each="user: ${resultUser}" hidden></div>
		                <span th:text="${randomStr}" hidden></span>
		                <span id="updateInfoNoti" th:text="${updateNoti}" class="mt-2 fw-700" style="font-size: 14px; color: var(--color-success);"></span>
		              </div>
		              <!-- end card -->
		            </div>
		            <!-- end col -->
		          </div>
		          <!-- end row -->
		        </div>
		        <!-- end container -->
		      </section>
		      <!-- ========== section end ========== -->
		</main>
		
		<div th:replace="shared/client_layout::file_script"></div>
		<script th:inline="javascript">
			let flightsLocal = getLocal("flights");
			
			
			setLocal("random", '[[${randomStr}]]');
			let randomString = getLocal("random");
			
			/*=============================================================================*/
			/*=============================== Profile Header ==============================*/
			/*=============================================================================*/
			
			setLocal("newUser", '[[${resultUser.data}]]');
			let updatedUser = getLocal("newUser");
			let user = JSON.parse(localStorage.getItem("user-info"));
			console.log(updatedUser[0])
			if(updatedUser && updatedUser[0]._cus_status){
				let updateInfoNoti = document.getElementById("updateInfoNoti");
				user = updatedUser[0];
				
				setTimeout(function () {
			        updateInfoNoti.innerHTML = "";
			    }, 2000);
			    
			    localStorage.setItem("user-info", JSON.stringify(user));
			}
			
			
			let loginBtn = document.getElementById("login");
			let profileBox = document.getElementById("profile-box");
			
			/*============== Set Default Profile Box ==============*/
			if (user._cus_status) {
				//Set Login button disappear
				loginBtn.style.display = "none";
				
				//Set User Information
				if(user._cus_id == 1){
					profileBox.innerHTML = "";
				}else{
					profileBox.innerHTML = `
						<button
			                class="dropdown-toggle bg-transparent border-0"
			                type="button"
			                id="profile"
			                data-bs-toggle="dropdown"
			                aria-expanded="false"
			                onclick="setUser(event)"
			              >
			                <div class="profile-info">
			                  <div class="info">
			                    <h6 class="me-2">${user._cus_full_name == "" ? "Welcome" : user._cus_full_name}</h6>
			                    <div class="image">
			                      <img src="${user._cus_avatar == "" ? '../images/profile/user-gray.png' : user._cus_avatar}" alt="" />
			                      <span class="status"></span>
			                    </div>
			                  </div>
			                </div>
			                <i class="lni lni-chevron-down"></i>
			              </button>
			              <ul
			                class="dropdown-menu dropdown-menu-end"
			                aria-labelledby="profile"
			              >
			                <li>
			                  <a href="http://localhost:8080/profile/${randomString}" onclick="setUser(event)">
			                    <i class="lni lni-user"></i> View Profile
			                  </a>
			                </li>
			                <li>
			                  <a id="logout-link" onclick="userLogout(${user._cus_id})"> <i class="lni lni-exit"></i> Sign Out </a>
			                </li>
			              </ul>
					`
				}
			}
			
			/*=============================================================================*/
			/*=============================== Profile Sidebar =============================*/
			/*=============================================================================*/
			/*============== Set Profile URL ==============*/
			let profileLink = document.getElementById("profile_link");
			let profileUrl = `http://localhost:8080/profile/${randomString}`;
			
			profileLink.href = profileUrl;
			
			/*============== Set Bill History (Flight) URL ==============*/
			let bhfLink = document.getElementById("bhf_link");
			let bhfUrl = `http://localhost:8080/profile/bill_history/${randomString}`;
			
			bhfLink.href = bhfUrl;
			
			/*=============================================================================*/
			/*=================================== Profile =================================*/
			/*=============================================================================*/
			
			// Render user info if has data
			let profileForm = document.getElementById("profile-info");
			let changePwdModalBody = document.getElementById("changePwdModalBody");
			if(user){
				localStorage.setItem("cusPwd", user._cus_password);
				
				profileForm.innerHTML = `
					<form id="update-information" action="/profile/update-information" method="POST" enctype="multipart/form-data">
						  <input value=${randomString} name="randomString" hidden />
						  <input value=${user._cus_id} name="_cus_id" hidden />
		                  <div class="row">
		                  	<div class="d-flex">
			                    <div class="profile-image">
			                      <img id="preview-image" src="${user._cus_avatar ? user._cus_avatar : "../../images/profile/user-gray.png"}" alt="profile-avatar" />
			                      <div class="update-image" onclick="openFileInput()">
			                        <input type="file" name="cusFile" id="fileInput" onchange="updateAvatar(event)"/>
			                        <input type="text" name="_cus_avatar" id="_cus_avatar" value="${user._cus_avatar ? user._cus_avatar.substring(29, user._cus_avatar.length) : ""}"/>
			                        <label for=""><i class="lni lni-cloud-upload"></i></label>
			                      </div>
			                    </div>
			                    
			                    <div class="profile-meta" style="padding-top: 10px">
			                      <h5 class="text-bold text-dark mb-10">${user._cus_full_name ? user._cus_full_name : "Welcome"}</h5>
			                      <p class="text-sm text-gray">Web &amp; UI/UX Design</p>
			                    </div>
			                </div>
		                  </div>
		                  
		                  <div class="row mt-30">
							  <div class="d-flex col-6">
		                        <div class="input-style-1 col-5">
		                        	<label>Last Name</label>
		                        	<input type="text" value="${user._cus_last_name ? user._cus_last_name : "Last Name" }" 
		                        		   name="_cus_last_name" oninput="validateLastName()" onblur="validateLastName()"/>
		                        	<span id="validate_lastname"></span>
		                        </div>
		                        <div class="col-2"></div>
		                        <div class="input-style-1 col-5">
		                        	<label>Middle &amp; First Name</label>
		                        	<input type="text" value="${user._cus_first_name ? user._cus_first_name : "Middle and First Name"}" 
		                        		   name="_cus_first_name" oninput="validateFirstName()" onblur="validateFirstName()"/>
		                        	<span id="validate_firstname"></span>
		                        </div>
		                      </div>
		                      
		                      <div class="profile_birthday_wrapper input-style-1 col-6 d-flex flex-column">
								<div class="d-flex">
									<label>Birthday</label>
								</div>
								
			                    <div class="d-flex flex-column align-items-center">
			                    	<div class="d-flex align-items-center col-12">
			                    		<input type="date" value="${user._cus_dob ? user._cus_dob : ""}" name="_cus_dob" onchange="validateDOB()"/>
			                    		<img src="../../../images/booking_form/calendar-blue.png" />
			                    	</div>
									
			                    	<div class="col-12">
			                    		<span id="validate_dob"></span>
			                    	</div>
								</div>
			                  </div>
						  </div>
		                 
		                  <div class="row">
							  <div class="input-style-1 col-6">
			                    <label>Email</label>
			                    <input type="email" value="${user._cus_email ? user._cus_email : "Email"}" 
			                    	   name="_cus_email" oninput="validateEmail()" onblur="validateEmail()"/>
			                    <span id="validate_email"></span>
			                  </div>
			                  
			                  <div class="input-style-1 col-6">
		                        <label>Phone</label>
		                        <input type="text" value="${user._cus_phone ? user._cus_phone : "Phone"}" 
		                        	   name="_cus_phone" oninput="validatePhone()" onblur="validatePhone()" placeholder="Ex 0902450647"/>
		                        <span id="validate_phone"></span>
		                      </div>
						  </div>
						  
		                  <div class="row">
		                      <div class="input-style-1 col-6">
		                        <label>Address</label>
		                        <input type="text" value="${user._cus_address ? user._cus_address : "Address"}" name="_cus_address"/>
		                      </div>
						  </div>
		                  
		                  <div class="row">
							  <div class="col-3">
		                        <button type="submit" onclick="updateInformation(event)">Update</button>
		                      </div>
						  </div>
                	</form>
				`
				
				changePwdModalBody.innerHTML = `
					<div class="d-flex flex-column">
						<input id="cusEmailInput" value=${user._cus_email} hidden />
                        <div class="input-style-1 m-0">
                        	<label>Password</label>
                        	<input type="password" value="${user._cus_password ? user._cus_password : ""}"
                        		   name="_cus_password" oninput="validatePassword()" onblur="validatePassword()"/>
                        	<span id="validate_password"></span>
                        </div>
                        
                        <div class="input-style-1 m-0">
                        	<label>Retype Password</label>
                        	<input type="password" name="_cus_retype_password" oninput="validateRetypePassword()" onblur="validateRetypePassword()"/>
                        	<span id="validate_retype_password"></span>
                        </div>
                        
                        <span id="changePwd-noti" style="font-size: 12px;"></span>
                    </div>
				`
			}
			
			// Set call name
			let updateForm = document.getElementById("update-information");
			
			// Set default for DOB
			function formatDateToYYYYMMDD(dateString) {
			    const parts = dateString.split("-");
			    if (parts.length === 3) {
			        const year = parts[2];
			        const month = parts[1].padStart(2, '0');
			        const day = parts[0].padStart(2, '0');
			        return `${year}-${month}-${day}`;
			    } else {
			        // Invalid date format, return the original string
			        return dateString;
			    }
			}

			function getUserDOB() {
		        const userDOB = `${user._cus_dob || ''}`; 
		        const formattedDOB = formatDateToYYYYMMDD(userDOB);
		        const today = new Date();
		        
		        if (!formattedDOB) {
		            return formatDate(today);
		        } else {
		            const dobDate = new Date(formattedDOB);
		            
		            // Check if the age is greater than 18
		            if (calculateAge(dobDate) > 18) {
		                return formattedDOB;
		            } else {
		                return formatDate(today);
		            }
		        }
		    }
		
		    function formatDate(date) {
		        const year = date.getFullYear();
		        const month = String(date.getMonth() + 1).padStart(2, '0');
		        const day = String(date.getDate()).padStart(2, '0');
		        return `${year}-${month}-${day}`;
		    }
		
		    function calculateAge(birthDate) {
		        const today = new Date();
		        const birthDateCopy = new Date(birthDate);
		
		        let age = today.getFullYear() - birthDateCopy.getFullYear();
		        const monthDiff = today.getMonth() - birthDateCopy.getMonth();
		
		        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDateCopy.getDate())) {
		            age--;
		        }
		
		        return age;
		    }
		    
		    // Validate
		    function validateLastName() {
				let check = true;
				let lastNameInput = document.querySelector('input[name="_cus_last_name"]');
				let lastNameValidationMes = document.getElementById("validate_lastname");
				
				lastNameValidationMes.innerHTML = "";
				
			    // Check length
		        if (lastNameInput.value.length > 50) {
		            lastNameValidationMes.innerHTML = "Last name must be 50 characters or less.";
		            check = false;
		        }else{
					// Check for numbers or special characters using regex
			        if (/[^a-zA-Z\s]/.test(lastNameInput.value)) {
			            lastNameValidationMes.innerHTML = "Last name can only contain letters and spaces.";
			            check = false;
			        }
				}
				
				return check;
			}
			
			function validateFirstName() {
				let check = true;
				let firstNameInput = document.querySelector('input[name="_cus_first_name"]');
				let firstNameValidationMes = document.getElementById("validate_firstname");
				
				firstNameValidationMes.innerHTML = "";
				
			    // Check length
		        if (firstNameInput.value.length > 50) {
		            firstNameValidationMes.innerHTML = "First name must be 50 characters or less.";
		        }else{
					// Check for numbers or special characters using regex
			        if (/[^a-zA-Z\s]/.test(firstNameInput.value)) {
			            firstNameValidationMes.innerHTML = "First name can only contain letters and spaces.";
			        }
				}
				
				return check;
			}
			
		    function validateDOB() {
				let check = true;
		        const userDOBInput = document.querySelector('input[name="_cus_dob"]');
		        const ageValidationMessage = document.getElementById('validate_dob');
		        const selectedDate = new Date(userDOBInput.value);
		        
		        // Check if the age is less than 18
		        if (calculateAge(selectedDate) < 18) {
		            ageValidationMessage.textContent = "Age must be 18 years or older.";
		            check = false;
		        } else {
		            ageValidationMessage.textContent = "";
		        }
		        
		        return check;
		    }
		    
		    function validateEmail() {
				let check = true;
				let emailInput = document.querySelector('input[name="_cus_email"]');
				let emailValidationMessage = document.getElementById("validate_email");
				var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
	
				if (!emailRegex.test(emailInput.value)) {
					emailValidationMessage.innerHTML = "Invalid email address";
					check = false;
				}
				
				return check;
			}
			
			function validatePassword() {
				let check = true;
				let passwordInput = document.querySelector('input[name="_cus_password"]');
				let passwordValidationMessage = document.getElementById("validate_password");
				let retypePasswordInput = document.querySelector('input[name="_cus_retype_password"]');
				let retypePasswordValidationMessage = document.getElementById("validate_retype_password");
				
				var digitRegex = /\d/;
				var uppercaseRegex = /[A-Z]/;
				var specialCharRegex = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/;
				
				passwordValidationMessage.innerHTML = ""
				
				if (passwordInput.value.length < 6) {
					passwordValidationMessage.innerHTML = "Password must be at least 6 characters long.";
					check = false;
				}else if (passwordInput.value.length > 15) {
					passwordValidationMessage.innerHTML = "Password must be at most 15 characters long.";
				}else if (!digitRegex.test(passwordInput.value)) {
					passwordValidationMessage.innerHTML = "Password must contain at least one digit (number).";
					check = false;
				}else if (!uppercaseRegex.test(passwordInput.value)) {
					passwordValidationMessage.innerHTML = "Password must contain at least one uppercase letter.";
					check = false;
				}else if (!specialCharRegex.test(passwordInput.value)) {
					passwordValidationMessage.innerHTML = "Password must contain at least one special character (!@#$%^&*()_+{}[]:;<>,.?~-).";
					check = false;
				}else{
					passwordValidationMessage.innerHTML = ""
				}
				
				// Check if the new password and retype password match
				if (passwordInput.value === retypePasswordInput.value) {
			      retypePasswordValidationMessage.innerHTML = "";
			    } else {
			      retypePasswordValidationMessage.innerHTML = "Passwords do not match.";
			      check = false;
			    }
				    
			    return check;
			}
			
			function validateRetypePassword() {
				let check = true;
			    let passwordInput = document.querySelector('input[name="_cus_password"]');
				let passwordValidationMessage = document.getElementById("validate_password");
				let retypePasswordInput = document.querySelector('input[name="_cus_retype_password"]');
				let retypePasswordValidationMessage = document.getElementById("validate_retype_password");
				
				if(passwordInput.value == user._cus_password){
					return check;
				}else{
					// Check if the new password and retype password match
					if (passwordInput.value === retypePasswordInput.value) {
				      retypePasswordValidationMessage.innerHTML = "";
				    } else {
				      retypePasswordValidationMessage.innerHTML = "Passwords do not match.";
				      check = false;
				    }
				}
			    
			    return check;
			}
  
			function validatePhone() {
				let check = true;
				let phoneInput = document.querySelector('input[name="_cus_phone"]');
				let phoneValidationMessage = document.getElementById("validate_phone");
				
			    // Regular expression for a typical US phone number without country code
			    var phoneRegex = /^(\d{10}|\d{3}-\d{3}-\d{4}|\(\d{3}\)\s*\d{3}-\d{4})$/;
			
			    // Test the input against the regular expression
			    if(!phoneRegex.test(phoneInput.value)){
					phoneValidationMessage.innerHTML = "Phone number is not valid"
					check = false;
				}else{
					phoneValidationMessage.innerHTML = ""
				}
				
				return check;
			}

		    // Update
		    let avatar = document.getElementById("preview-image");
		    function openFileInput() {
			    document.getElementById('fileInput').click();
			}

			function updateAvatar(e) {
				let avatarStr = document.getElementById("_cus_avatar");
		        var avatar = document.getElementById("preview-image");

			    if (event.target.files && event.target.files[0]) {
			        var reader = new FileReader();
			
			        reader.onload = function (e) {
			            avatar.src = e.target.result;
			        };
			
			        reader.readAsDataURL(e.target.files[0]);
			        avatarStr.setAttribute("value", e.target.files[0].name); 
			    }
		    }
		    
		    function updateInformation(e){
				e.preventDefault();
				const isFirstName = validateFirstName();
				const isLastName = validateLastName();
				const isDOB = validateDOB();
				const isEmail = validateEmail();
				const isPhone = validatePhone();
				
				if (!isFirstName || !isLastName || !isDOB || !isEmail || !isPhone) {
					console.log(isFirstName)
					console.log(isLastName)
					console.log(isDOB)
					console.log(isEmail)
					console.log(isPhone)
					return
				}
				
				updateForm.submit();
			}
		
			function changePassword(){
				let cusEmail = document.getElementById("cusEmailInput");
				let oldPassword = localStorage.getItem("cusPwd");
				let newPassword = document.querySelector('input[name="_cus_password"]');
				let retypePassword = document.querySelector('input[name="_cus_retype_password"]');
				let changePwdNoti = document.getElementById("changePwd-noti");
				let myModal = new bootstrap.Modal(document.getElementById('changePwd'));
				myModal.show();
				
				const isPassword = validatePassword();
				const isRetypePassword = validateRetypePassword();
				
				if (!isPassword || !isRetypePassword) {
					console.log(isPassword)
					console.log(isRetypePassword)
					return
				}
				
				$.ajax({
					type: "POST",
					url: "http://localhost:8080/api/profile/changepassword",
					data: {_cus_email: cusEmail.value, _cus_password: oldPassword, _cus_new_password: newPassword.value},
					success: function (res) {
						console.log(res)
						if(res.isSuccess){
							changePwdNoti.innerHTML = "Change Password successfully";
							changePwdNoti.style.color = "#198754";
							
							retypePassword.value = "";
							newPassword.value = user._cus_password;
						}else{
							changePwdNoti.innerHTML = "Something wrong with server";
							changePwdNoti.style.color = "#dc3545";
						}
						
						setTimeout(function () {
					        changePwdNoti.innerHTML = "";
					        myModal.hide();
					        location.reload();
					    }, 2000);
						
					}, error: function (res) {
						console.log(res);
					}
				});
			}
			
			function setUser(e){
				localStorage.setItem("user-info", JSON.stringify(user));
			}
			
			function userLogout(cusId){
				let logoutLink = document.getElementById("logout-link");
				let logoutUrl = `http://localhost:8080/user/logout/${cusId}`;
				
				logoutLink.style.cursor = "pointer";
				logoutLink.href = logoutUrl;
				localStorage.removeItem("user-info");
				logoutLink.click();
			}
		</script>
	</body>
</html>