<!DOCTYPE html>
<html>

<head th:replace="shared/client_layout::head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<!-- Booking Flight Main Selection Start-->
	<div id="booking__form-flight-wrapper" class="booking__form-flight-wrapper d-flex flex-column" th:fragment="booking__form-flight">
		<form th:action="@{/filterflight}" method="post">
			<div class="d-flex">
				<div class="d-flex flex-column align-items-center mt-20 ms-5">
					<ul class="booking__flight-selection">
						<li id="booking__flight-selection-passenger" class="booking__flight-selection-passenger"
							onmouseenter="displayPassengerSelectionForm()" onmouseleave="hidePassengerSelectionForm()">
							<img src="../../images/booking_form/user-white.png" class="ms-35 me-16" />
							<span id="booking__flight-passenger-display"></span>
						</li>
						<li>
							<!-- Seat Selection Start -->
							<img src="../../images/booking_form/hotel.png" class="ms-35 me-16" />
							<select id="ticketClass-selection" class="form-select" name="ticketClass-selection">
								<option th:each="ticketClass: ${resultTicketClasses.data}"
									th:value="${ticketClass._tc_id}" th:text="${ticketClass._tc_name}"
									th:selected="${ ticketClass._tc_id==1 }"></option>
							</select>
							<!-- Seat Selection End -->
						</li>
					</ul>

					<!-- Passenger Selection Start -->
					<div id="booking__flight-passenger"
						class="booking__flight-passenger d-flex d-none flex-column mt-30 ms-5"
						onmouseenter="displayPassengerSelectionForm()" onmouseleave="hidePassengerSelectionForm()">
						<div class="d-flex align-items-center">
							<img src="../../../images/booking_form/adult-gray.png" class="me-16" />
							<div
								class="booking__flight-passenger-type-wrapper d-flex align-items-center justify-content-between">
								<div class="booking__flight-passenger-type d-flex flex-column">
									<span>Adult</span>
									<span>(age 12 and over)</span>
								</div>
								<div
									class="booking__flight-passenger-quantity d-flex align-items-center justify-content-center ms-3">
									<img src="../../../images/booking_form/minus-blue.png" class="me-3"
										onclick="flightDecreaseAdult()" />
									<div class="d-flex flex-column align-items-center justify-content-center me-3">
										<span id="flightAdultQuan">1</span>
										<input id="flightAdultQuanDisplay" name="flightAdultQuan" hidden />
										<div class="underlined"></div>
									</div>
									<img src="../../../images/booking_form/plus-blue.png"
										onclick="flightIncreaseAdult()" />
								</div>
							</div>
						</div>

						<div class="d-flex align-items-center mt-3">
							<img src="../../../images/booking_form/child-gray.png" class="me-16" />
							<div
								class="booking__flight-passenger-type-wrapper d-flex align-items-center justify-content-between">
								<div class="booking__flight-passenger-type d-flex flex-column">
									<span>Child</span>
									<span>(age 2 - 11)</span>
								</div>
								<div
									class="booking__flight-passenger-quantity d-flex align-items-center justify-content-center ms-3">
									<img src="../../../images/booking_form/minus-blue.png" class="me-3"
										onclick="flightDecreaseChild()" />
									<div class="d-flex flex-column align-items-center justify-content-center me-3">
										<span id="flightChildQuan">0</span>
										<input id="flightChildQuanDisplay" name="flightChildQuan" hidden />
										<div class="underlined"></div>
									</div>
									<img src="../../../images/booking_form/plus-blue.png"
										onclick="flightIncreaseChild()" />
								</div>
							</div>
						</div>

						<div class="d-flex align-items-center mt-3">
							<img src="../../../images/booking_form/infant-gray.png" class="me-16" />
							<div
								class="booking__flight-passenger-type-wrapper d-flex align-items-center justify-content-between">
								<div class="booking__flight-passenger-type d-flex flex-column">
									<span>Infant</span>
									<span>(below age 2)</span>
								</div>
								<div
									class="booking__flight-passenger-quantity d-flex align-items-center justify-content-center ms-3">
									<img src="../../../images/booking_form/minus-blue.png" class="me-3"
										onclick="flightDecreaseInfant()" />
									<div class="d-flex flex-column align-items-center justify-content-center me-3">
										<span id="flightInfantQuan">0</span>
										<input id="flightInfantQuanDisplay" name="flightInfantQuan" hidden />
										<div class="underlined"></div>
									</div>
									<img src="../../../images/booking_form/plus-blue.png"
										onclick="flightIncreaseInfant()" />
								</div>
							</div>
						</div>
					</div>
					<!-- Passenger Selection End -->
				</div>
			</div>

			<div class="d-flex">
				<div class="d-flex align-items-center">
					<!-- City Selection Start -->
					<div class="d-flex flex-column">
						<div class="booking__flight-selection-title d-flex mt-10 ms-5">
							<span>From</span>
							<span>To</span>
						</div>

						<div class="booking__flight-selection-city d-flex mt-2 ms-5">
							<div class="d-flex align-items-center">
								<img src="../../../images/booking_form/airplane-blue.png" class="ms-16 me-35" />
								<select id="departure-selection" class="form-select" name="departure-selection">
									<option th:each="airport : ${resultAirports.data}" th:value="${airport._ap_id}"
										th:text="${airport._ap_full_name}" th:selected="${ airport._ap_id==201 }">
									</option>
								</select>
							</div>

							<div class="d-flex align-items-center">
								<img src="../../../images/booking_form/take-off-blue.png" class="ms-16 me-35" />
								<select id="arrival-selection" class="form-select" name="arrival-selection">
									<option th:each="airport : ${resultAirports.data}" th:value="${airport._ap_id}"
										th:text="${airport._ap_full_name}" th:selected="${ airport._ap_id==202 }">
									</option>
								</select>
							</div>
						</div>
					</div>
					<!-- City Selection End -->

					<!-- Date Selection Start -->
					<div class="d-flex flex-column">
						<div class="booking__flight-selection-title d-flex mt-10 ms-5">
							<span>Departure Date</span>
							<span>Return Date</span>
						</div>

						<div class="booking__flight-selection-date d-flex mt-2 ms-5">
							<div class="d-flex align-items-center">
								<input id="departure-calendar" name="departure-calendar" type="date" class="ms-45" />
								<img src="../../../images/booking_form/calendar-blue.png" />
							</div>

							<div class="d-flex align-items-center">
								<input id="return-calendar" name="return-calendar" type="date" class="ms-45" />
								<img src="../../../images/booking_form/calendar-blue.png" />
							</div>
						</div>
					</div>
					<!-- Date Selection End -->

					<div id="booking-flight-submit" class="booking__flight-search-btn d-flex align-items-center ms-5">
						<button onclick="bookingFlightSubmit()" class="d-flex align-items-center">
							<img src="../../../images/booking_form/search-interface-symbol-white.png" class="ms-25 me-16" />Search
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Booking Flight Main Selection End-->
<div id="tmpForm" hidden></div>
</body>

</html>
