+<!DOCTYPE html>
<html>

<head th:replace="shared/client_layout::head">
	<meta charset="ISO-8859-1">
	<title>Search for Flight</title>
</head>

<body>
	<!-- ======== Preloader =========== -->
	<div th:replace="shared/client_layout::preloader"> </div>
	<!-- ======== Preloader =========== -->

	<!-- ======== sidebar-nav start =========== -->
	<aside th:replace="shared/flight_sidebar::flight_sidebar"> </aside>
	<div class="overlay"></div>
	<!-- ======== sidebar-nav end =========== -->

	<main class="main-wrapper">
		<!-- ========== header start ========== -->
		<header th:replace="shared/client_header::client_header"> </header>
		<!-- ========== header end ========== -->

		<section class="section">
			<div id="list-flights" class="container-fluid" style="margin-top: 3rem">
				<div th:if="${#lists.size(resultFlights.data) > 0}">
					<div class="container flight-detail-wrapper mb-3" th:each="flight: ${resultFlights.data}" th:attr="id='flight-detail-component' + ${flight._fl_id}">
						<div class="d-flex flex-column align-items-center flight-detail-component">
							<!-- =============================== Flight Information Area =============================== -->
							<div class="d-flex justify-content-between flight-detail-information-area">
								<div class="d-flex align-items-center flight-detail-airline">
									<img th:src="${flight._car_icon}" />
									<span class="ms-2" th:text="${flight._car_name}"></span>
								</div>
								<div class="d-flex align-items-center flight-detail-transit">
									<div
										class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-departure">
										<span id="departure-time-display"
											th:text="${flight._fl_take_off.toString().substring(10,16)}"
											class="time"></span>
										<span th:text="'(' + ${flight._fl_from_abbreviation} + ')'"
											class="abrv-city"></span>
									</div>
									<div
										class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-timeAndStop ms-3">
										<div><span th:text="${flight._fl_fly_duration}" class="hour"></span></div>
										<div class="d-flex align-items-center timeAndStop-bar">
											<span></span>
											<hr />
											<span></span>
											<hr />
											<span></span>
										</div>
										<div><span class="stop" th:text="${flight._fl_transit_id} == 0 ? ''"></span></div>
									</div>
									<div
										class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-arrival ms-3">
										<span id="arrival-time-display"
											th:text="${flight._fl_arrival.toString().substring(10,16)}" class="time"></span>
										<span th:text="'(' + ${flight._fl_to_abbreviation} + ')'" class="abrv-city"></span>
									</div>
								</div>
								<div class="d-flex align-items-center flight-detail-price">
									<input id="flight-detail-price" th:value="${flight._fl_ec_price}" hidden />
									<div th:switch="${flight._tc_id}">
										<div th:object="${flight}" th:case="1"><span th:inline="text"
												class="price-per-pax">[[${#strings.replace(#numbers.formatDecimal(flight._fl_ec_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span></div>
										<div th:object="${flight}" th:case="2"><span th:inline="text"
												class="price-per-pax">[[${#strings.replace(#numbers.formatDecimal(flight._fl_sc_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span></div>
										<div th:object="${flight}" th:case="3"><span th:inline="text"
												class="price-per-pax">[[${#strings.replace(#numbers.formatDecimal(flight._fl_bs_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span></div>
										<div th:object="${flight}" th:case="4"><span th:inline="text"
												class="price-per-pax">[[${#strings.replace(#numbers.formatDecimal(flight._fl_fc_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span></div>
									</div>
	
									<span class="price-per">/pax</span>
								</div>
							</div>
	
							<!-- =============================== Button Area =============================== -->
							<div class="d-flex align-items-end justify-content-between flight-detail-button-area">
								<div class="d-flex align-items-center">
									<span th:attr="data-id=${'flightdetail' + flight._fl_id}" class="flight-detail-btn"
										onclick="displayAndHideFlightDetail(event)">Flight Details</span>
									<span th:attr="data-id=${'flightFareAndBef' + flight._fl_id}"
										class="flight-detail-fareAndBef-btn ms-5"
										onclick="displayAndHideFareAndBef(event)">Fare & Benefits</span>
								</div>
	
								<div class="d-flex align-items-center justify-content-end">
									<button type="submit" class="d-flex align-items-center justify-content-center flight-choose-btn"
											th:attr="onclick='chooseFlight(event, ' + ${flight._fl_id} + ', ' + ${flight._tc_id} + ')'">Choose</button>
								</div>
							</div>
						</div>
	
						<!-- =============================== Flight Detail =============================== -->
						<div th:attr="data-for=${'flightdetail' + flight._fl_id}"
							class="d-none d-flex flex-column flight-detail-information-component">
							<div class="d-flex align-items-center flight-detail-information-area">
								<div class="d-flex flex-column align-items-center flight-detail-information-timeline">
									<div class="d-flex flex-column align-items-center justify-content-between">
										<span class="timeline departure-time-display"></span>
										<span th:text="${#dates.format(flight._fl_take_off, 'dd MMM')}" class="date"></span>
									</div>
									<div class="d-flex flex-column align-items-center justify-content-between mt-100">
										<span th:text="${flight._fl_fly_duration}" class="date"></span>
									</div>
									<div class="d-flex flex-column align-items-center justify-content-between mt-100">
										<span class="timeline arrival-time-display"></span>
										<span th:text="${#dates.format(flight._fl_arrival, 'dd MMM')}" class="date"></span>
									</div>
								</div>
	
								<div
									class="d-flex flex-column align-items-center flight-detail-information-timeline-bar ms-3">
									<span></span>
									<hr />
									<span></span>
								</div>
	
								<div class="d-flex flex-column flight-detail-information-content ms-3">
									<div
										class="d-flex flex-column justify-content-between flight-detail-information-content-destination">
										<span
											th:text="${flight._fl_from_name} + ' (' + ${flight._fl_from_abbreviation} + ')'"
											class="city-and-abrrv-city"></span>
										<span th:text="${flight._fl_ap_from_name} + ' Airport'" class="city-airport"></span>
									</div>
									<div class="d-flex flex-column flight-detail-information-content-wrapper mt-2">
										<div class="d-flex align-items-center flight-detail-information-content-airline">
											<span th:text="${flight._car_name}" class="airline-brand me-2"></span>
											<img th:src="${flight._car_icon}" />
										</div>
										<div
											class="d-flex align-items-center flight-detail-information-content-planeAndsclass">
											<span th:text="${flight._pt_name}"> </span>
											<span class="ms-1 me-1">-</span>
											<input id="ticket-class" hidden />
											<div th:switch="${flight._tc_id}">
												<span th:case="1">Economy</span>
												<span th:case="2">Special Economy</span>
												<span th:case="3">Business</span>
												<span th:case="4">First Class</span>
											</div>
	
										</div>
										<div
											class="d-flex align-items-start flight-detail-information-content-baggage mt-2">
											<div class="d-flex me-2">
												<img src="../../../images/flightdetail/luggage-gray.png" />
											</div>
											<div class="d-flex flex-column">
												<span th:text="'Baggage ' + ${flight._car_checked} + 'kg'"></span>
												<span th:text="'Cabin baggage ' + ${flight._car_carbin} + 'kg'"></span>
											</div>
										</div>
										<div th:each="service: ${flight._fl_services_convert}"
											class="d-flex align-items-start flight-detail-information-content-service mt-2">
											<div class="d-flex me-2">
												<img th:src="${service._ser_icon}" />
											</div>
											<div class="d-flex flex-column">
												<span th:text="${service._ser_name}"></span>
											</div>
										</div>
									</div>
	
									<div
										class="d-flex flex-column justify-content-between flight-detail-information-content-destination">
										<span th:text=" ${flight._fl_to_name} + ' (' + ${flight._fl_to_abbreviation} + ')'"
											class="city-and-abrrv-city"></span>
										<span th:text="${flight._fl_ap_to_name} + ' Airport'" class="city-airport"></span>
									</div>
								</div>
							</div>
	
							<!--<div class="d-flex align-items-center flight-detail-notification-area mt-4 mb-4">
									<img src="../../../images/flightdetail/information-gray.png" class="ms-5 me-2"/>
									<span>Stop to change plane in Ha Noi (22h 25m)</span>
								</div>-->
						</div>
	
						<!-- =============================== Flight Fare & Bef =============================== -->
						<div th:attr="data-for=${'flightFareAndBef' + flight._fl_id}"
							class="d-none d-flex flex-column flight-detail-fareAndBef-component">
							<div class="d-flex justify-content-between">
								<div class="d-flex flex-column flight-detail-fareAndBef-condition">
									<div class="d-flex flight-detail-fareAndBef-component-title mb-1">
										<span>Condition</span>
										<span></span>
									</div>
									<div class="d-flex flex-column flight-detail-fareAndBef-condition-content">
										<div
											class="d-flex align-items-center flight-detail-fareAndBef-condition-content-airline">
											<img src="../../../images/flightdetail/bamboo.png" />
											<span th:text="${flight._car_name}"></span>
										</div>
										<div class="d-flex flight-detail-fareAndBef-condition-route">
											<div th:switch="${flight._tc_id}">
												<span th:case="1" th:inline="text">[[${flight._fl_from_name + ' -> ' +
													flight._fl_to_name + ' - ' + 'Economy'}]]</span>
												<span th:case="2" th:inline="text">[[${flight._fl_from_name + ' -> ' +
													flight._fl_to_name + ' - ' + 'Premium Economy'}]]</span>
												<span th:case="3" th:inline="text">[[${flight._fl_from_name + ' -> ' +
													flight._fl_to_name + ' - ' + 'Business'}]]</span>
												<span th:case="4" th:inline="text">[[${flight._fl_from_name + ' -> ' +
													flight._fl_to_name + ' - ' + 'First Class'}]]</span>
											</div>
										</div>
									</div>
								</div>
	
								<div
									class="d-flex flex-column jusify-content-between flight-detail-fareAndBef-priceDetails">
									<div class="d-flex flight-detail-fareAndBef-component-title mb-1">
										<span>Price Details</span>
										<span></span>
									</div>
									<div class="d-flex flex-column flight-detail-fareAndBef-priceDetails-content">
										<div th:if="${flight._fl_adult_quan != 0}"
											class="d-flex align-items-center justify-content-between">
											<span th:inline="text"
												class="flight-detail-fareAndBef-priceDetails-content-guestType">[[${'Adult
												Basic Fare (x' + flight._fl_adult_quan + ')'}]]</span>
											<span th:inline="text"
												class="flight-detail-fareAndBef-priceDetails-content-price">[[${#strings.replace(#numbers.formatDecimal(flight._fl_adult_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span>
										</div>
										<div th:if="${flight._fl_child_quan != 0}"
											class="d-flex align-items-center justify-content-between">
											<span th:inline="text"
												class="flight-detail-fareAndBef-priceDetails-content-guestType">[[${'Child
												Basic Fare (x' + flight._fl_child_quan + ')'}]]</span>
											<span th:inline="text"
												class="flight-detail-fareAndBef-priceDetails-content-price">[[${#strings.replace(#numbers.formatDecimal(flight._fl_child_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span>
										</div>
										<div th:if="${flight._fl_infant_quan != 0}"
											class="d-flex align-items-center justify-content-between">
											<span th:inline="text"
												class="flight-detail-fareAndBef-priceDetails-content-guestType">[[${'Infant
												Basic Fare (x' + flight._fl_infant_quan + ')'}]]</span>
											<span th:inline="text"
												class="flight-detail-fareAndBef-priceDetails-content-price">[[${#strings.replace(#numbers.formatDecimal(flight._fl_infant_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span>
										</div>
										<div class="d-flex align-items-center justify-content-between">
											<span class="flight-detail-fareAndBef-priceDetails-content-guestType">Tax</span>
											<span
												class="flight-detail-fareAndBef-priceDetails-content-price">Included</span>
										</div>
										<hr />
										<div class="d-flex align-items-center justify-content-between">
											<span class="flight-detail-fareAndBef-priceDetails-content-guestType">You
												Pay</span>
											<span
												class="flight-detail-fareAndBef-priceDetails-content-price">[[${#strings.replace(#numbers.formatDecimal(flight._fl_total_price,
												0, 'COMMA', 2, 'POINT'), '.00', '') + ' VND'}]]</span>
										</div>
									</div>
								</div>
							</div>
	
							<div class="d-flex jusify-content-between">
								<div class="d-flex flex-column flight-detail-fareAndBef-baggagePrice">
									<div class="d-flex flex-column flight-detail-fareAndBef-component-title mb-1">
										<span>Baggage Prices</span>
										<span>See baggage prices for your flight</span>
									</div>
	
									<div class="d-flex flex-column flight-detail-fareAndBef-baggagePrice-content">
										<div class="d-flex flex-column">
											<div
												class="d-flex align-items-center flight-detail-fareAndBef-baggagePrice-content-airline">
												<img th:src="${flight._car_icon}" />
												<span th:text="${flight._car_name}"></span>
											</div>
											<div class="d-flex flight-detail-fareAndBef-baggagePrice-content-button">
												<span>See baggage prices</span>
											</div>
										</div>
										<!--<div class="d-flex flex-column">
												<div class="d-flex align-items-center flight-detail-fareAndBef-baggagePrice-content-airline">
													<img th:src="${flight._car_icon}"/>
													<span th:text="${flight._car_name}"></span>
												</div>
												<div class="d-flex flight-detail-fareAndBef-baggagePrice-content-button">
													<span>See baggage prices</span>
												</div>
											</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="d-flex align-items-center text-center" th:if="${#lists.size(resultFlights.data) == 0}">
					<h3 style="width: 100%; font-weight: bold;">No Flights Found</h3>
				</div>
				
				<div id="tmpForm" hidden></div>
				
				<div id="flightDetailModal"></div>
			</div>
		</section>
		<!-- ========== footer start =========== -->
		<footer th:replace="shared/client_layout::footer"></footer>
		<!-- ========== footer end =========== -->
	</main>

	<div th:replace="shared/client_layout::file_script"></div>

	<script th:inline="javascript">
		/*  =================================================================== */
		/*  ============================= COMMON ============================== */
		/*  =================================================================== */
		// Remove flightInfo
		localStorage.removeItem("buyerContactSaved");
		localStorage.removeItem("pasgDetailSaved");
		localStorage.removeItem("flightInfo")
		localStorage.removeItem("flight2Info")
		localStorage.removeItem("seatLocal");
		localStorage.removeItem("fIndex")
		// Get local data
		let user = JSON.parse(localStorage.getItem("user-info"));
		console.log(user)
		
		//setLocal("flights", '[[${resultFlights.data}]]');
		localStorage.setItem("flights", JSON.stringify('[[${resultFlights.data}]]'))
		let flightsLocal = getLocal("flights");
		let flightParam = JSON.parse(localStorage.getItem("params"));
		let fIndex = localStorage.getItem("flightIndex");
		
		let flight1 = JSON.parse(localStorage.getItem("flight1"));
		let flight2 = JSON.parse(localStorage.getItem("flight2"));
		
		console.log(flightsLocal)
		console.log(flightParam)
		
		// Set default value params of Flight
		let noOfTransitParam = document.getElementById("noOfTransit");
		let airlinesParam = document.getElementById("airlines");
		let facilitiesParam = document.getElementById("facilities");
		let transPointParam = document.getElementById("transPoint");
		let pricePerPasgParam = document.getElementById("pricePerPasg");
		let quanTotal = document.getElementById("quanTotal");
		let flightAdultQuan = document.getElementById("flightAdultQuan");
		let flightChildQuan = document.getElementById("flightChildQuan");
		let flightInfantQuan = document.getElementById("flightInfantQuan");
		let arrivalDate = document.getElementById("arrivalDate");
		let ticketClass = document.getElementById("ticketClass");
		let departureDes = document.getElementById("departureDes");
		let arrivalDes = document.getElementById("arrivalDes");
		let departureDate = document.getElementById("departureDate");
		
		arrivalDate.value = flightParam._fl_arrival;
		ticketClass.value = flightParam._tc_id;
		quanTotal.value = flightParam.quanTotal;
		flightAdultQuan.value = flightParam.flightAdultQuan;
		flightChildQuan.value = flightParam.flightChildQuan;
		flightInfantQuan.value = flightParam.flightInfantQuan;
		
		
		/*  =================================================================== */
		/*  ============================= HEADER ============================== */
		/*  =================================================================== */
		let loginForm = document.getElementById("login-form");
		let profileBox = document.getElementById("profile-box");

		let loginContinueBtn = document.getElementById("login-continue-button");
		let registerBtn = document.getElementById("register-btn");
		let loginBtn = document.getElementById("login");

		let email = document.getElementById('user-email');
		let emailNoti = document.getElementById('user-email-noti');
		let password = document.getElementById('user-password');
		let pwdNoti = document.getElementById('user-password-noti');
		let registrationNoti = document.getElementById('user-registration-noti');
			
		// Generate random String
		function generateRandomString(length) {
		    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
		    let randomString = '';
		
		    for (let i = 0; i < length; i++) {
		        const randomIndex = Math.floor(Math.random() * characters.length);
		        randomString += characters.charAt(randomIndex);
		    }
		
		    return randomString;
		}
		const randomString = generateRandomString(15);
		
		// Set focus
		function loginButton(e) {
			e.target.style.transform = '';
			let loginForm = document.getElementById("login-form");

			loginForm.style.visibility = "visible";
		}
		function setFocus(e) {
			event.stopImmediatePropagation();
		}
		
		// Set display Login Btn & Profile Box
		if (user && user._cus_status) {
			//Set Login button disappear
			loginBtn.style.display = "none";
			
			//Set User Information
			if(user._cus_id == 1){
				profileBox.innerHTML = "";
			}else{
				profileBox.innerHTML = `
					<button class="d-flex align-items-center me-2" style="border: none; background: transparent;" onclick="onCartClick()">
                      <img src="../../images/clients/grocery-store-black.png" alt="cart-image" style="width: 20px; height: 20px;"/>
                    </button>
					<button
		                class="dropdown-toggle bg-transparent border-0"
		                type="button"
		                id="profile"
		                data-bs-toggle="dropdown"
		                aria-expanded="false"
		                onclick="setUser(${randomString + user._cus_id.toString()})"
		              >
		                <div class="profile-info">
		                  <div class="info">
		                    <h6 class="me-2">${user._cus_full_name == "" ? "Welcome" : user._cus_full_name}</h6>
		                    <div class="image">
		                      <img src="${user._cus_avatar == "" ? '../images/profile/user-gray.png' : user._cus_avatar}" alt="profile-avatar" />
		                      <span class="status"></span>
		                    </div>
		                    
		                  </div>
		                </div>
		                <i class="lni lni-chevron-down"></i>
		              </button>
		              <ul
		                class="dropdown-menu dropdown-menu-end"
		                aria-labelledby="profile"
		              >
		                <li>
		                  <a href="http://localhost:8080/profile/${randomString + user._cus_id.toString()}" onclick="setUser(event)">
		                    <i class="lni lni-user"></i> View Profile
		                  </a>
		                </li>
		                <li>
		                  <a id="logout-link" onclick="userLogout(${user._cus_id})"> <i class="lni lni-exit"></i> Sign Out </a>
		                </li>
		              </ul>
				`
			}
		}
			
		// Validate
		function validateEmail(email) {
			var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

			if (!emailRegex.test(email)) {
				return "Invalid email address";
			}

			return "1";
		}

		function validatePassword(password) {
			var digitRegex = /\d/;
			var uppercaseRegex = /[A-Z]/;
			var specialCharRegex = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/;

			if (password.length < 6) {
				return "Password must be at least 6 characters long.";
			}

			if (password.length > 15) {
				return "Password must be at most 15 characters long.";
			}

			if (!digitRegex.test(password)) {
				return "Password must contain at least one digit (number).";
			}

			if (!uppercaseRegex.test(password)) {
				return "Password must contain at least one uppercase letter.";
			}

			if (!specialCharRegex.test(password)) {
				return "Password must contain at least one special character (!@#$%^&*()_+{}[]:;<>,.?~-).";
			}

			return "1";
		}
		
		const onCartClick = () => {
			const form = $("#defaultForm");
			const btnSubmit = form.find("#btnSubmit");
			localStorage.setItem("isCartSelected",true);			
			btnSubmit.click();
		}
		
		// Login & Register
		function registration(value, e) {
			event.stopImmediatePropagation();

			if (email.value !== "" && password.value !== "") {
				//Validate Email & Password
				if (validateEmail(email.value) !== "1") {
					emailNoti.innerHTML = validateEmail(email.value);
					emailNoti.style.color = "red";
				} else {
					emailNoti.innerHTML = ""
				}

				if (validatePassword(password.value) !== "1") {
					pwdNoti.innerHTML = validatePassword(password.value);
					pwdNoti.style.color = "red";
				} else {
					pwdNoti.innerHTML = ""
				}

				//Login
				if (validateEmail(email.value) == "1" && validatePassword(password.value) == "1") {
					loginContinueBtn.disabled = false;
					registerBtn.disabled = false;

					let registration = {
						_cus_email: email.value,
						_cus_password: password.value
					}

					if (value == 1) {
						$.ajax({
							type: "POST",
							url: "api/user/login",
							data: JSON.stringify(registration),
							contentType: 'application/json',
							success: function (res) {
								email.value = "";
								password.value = "";

								loginContinueBtn.disabled = true;
								registerBtn.disabled = true;

								if (res.isSuccess) {
									const cusData = res.data
									localStorage.setItem("user-info", JSON.stringify(cusData));
									localStorage.setItem("randomString", randomString);

									loginBtn.style.visibility = "hidden";
									loginForm.style.visibility = "hidden";

									profileBox.innerHTML = `
										<button class="d-flex align-items-center me-2" style="border: none; background: transparent;">
					                      <img src="../../images/clients/grocery-store-black.png" alt="cart-image" style="width: 20px; height: 20px;"/>
					                    </button>
										<button
					                    class="dropdown-toggle bg-transparent border-0"
					                    type="button"
					                    id="profile"
					                    data-bs-toggle="dropdown"
					                    aria-expanded="false"
					                    onclick="setUser(${randomString + res.data._cus_id.toString()})"
					                  >
					                    <div class="profile-info">
					                      <div class="info">
					                        <h6 class="me-2">${res.data._cus_full_name == "" ? "Welcome" : res.data._cus_full_name}</h6>
					                        <div class="image">
					                          <img src="${res.data._cus_avatar == "" ? '../images/profile/user-gray.png' : res.data._cus_avatar}" alt="" />
					                          <span class="status"></span>
					                        </div>
					                      </div>
					                    </div>
					                    <i class="lni lni-chevron-down"></i>
					                  </button>
					                  <ul
					                    class="dropdown-menu dropdown-menu-end"
					                    aria-labelledby="profile"
					                  >
					                    <li>
					                      <a href="http://localhost:8080/profile/${randomString + res.data._cus_id.toString()}" onclick="setUser(event)">
					                        <i class="lni lni-user"></i> View Profile
					                      </a>
					                    </li>
					                    <li>
					                      <a id="logout-link" onclick="userLogout(${res.data._cus_id})"> <i class="lni lni-exit"></i> Sign Out </a>
					                    </li>
					                  </ul>
									`;
									if (cusData._cart_detail) {
										const cart = JSON.parse(cusData._cart_detail);
										
										const _fl_id = cart._bil._bil_fl_id;
										const _tc_id = cart._tickets[0]._tk_tc_id;
										let adultQuan = 0;
										let childQuan = 0;
										let infanQuan = 0;
										
										for(var item of cart._tickets){
											if(item._tk_pas_id == 1)
												adultQuan++;
											if(item._tk_pas_id == 2)
												childQuan++;
											if(item._tk_pas_id == 3)
												infanQuan++;
										}
										
										const formTemplate = `<form id="defaultForm" action="/passenger-detail" method="post">
															<input name="_fl_id" hidden="" value="${_fl_id}">
															<input name="_tc_id" hidden="" value="${_tc_id}">>
															<input name="flightAdultQuan" hidden="" value="${adultQuan}">
															<input name="flightChildQuan" hidden="" value="${childQuan}">
															<input name="flightInfantQuan" hidden="" value="${infanQuan}">
															<button id="btnSubmit" type="submit" class="d-flex align-items-center justify-content-center flight-choose-btn">Choose</button>
														 </form>`;
										$("#tmpForm")[0].innerHTML = formTemplate;
										
									}
									location.reload();
								}else{
									registrationNoti.innerHTML = "Wrong email or password. Please try again!";
									registrationNoti.style.color = "red";
									
									setTimeout(function () {
									  registrationNoti.innerHTML = '';
									}, 5000);
								}
							}, error: function (res) {
								console.log(res);
							}
						});

					}
					//Register
					if (value == 2) {
						$.ajax({
							type: "POST",
							url: "api/user/registration",
							data: JSON.stringify(registration),
							contentType: 'application/json',
							success: function (res) {
								console.log(res);

								if (res.isSuccess) {
									loginForm.style.display = "none";

									email.value = "";
									password.value = "";

									loginContinueBtn.disabled = true;
									registerBtn.disabled = true;

									alert("Register Successfully. Please check your email to activate the account!");

									$.ajax({
										type: "POST",
										url: "api/mail/register",
										data: JSON.stringify(res.data),
										contentType: 'application/json',
										success: function (response) {
											console.log(response);

										}, error: function (response) {
											console.log(response);
										}
									});
								}else{
									registrationNoti.innerHTML = "Account already existed. Please try another one!";
									registrationNoti.style.color = "red";
									
									setTimeout(function () {
									  registrationNoti.innerHTML = '';
									}, 3000);
								}
							}, error: function (res) {
								console.log(res);
							}
						});
					}

				}
			}
		}

		/*  =================================================================== */
		/*  ========================= FILTER FLIGHT =========================== */
		/*  =================================================================== */
		// Get Container on UI
		let filterFlightForm = document.getElementById("filterFlight");	
		let switchFlightWrapper = document.getElementById("switch-flight-wrapper");
		let flightChoosenWrapper = document.getElementById("flight-choosen-wrapper");
		
		// Format date
		var departureDateObject = new Date(flightParam._fl_take_off);
		var returnDateObject = new Date(flightParam._fl_return);
		
		// Define an array of month names
		var monthNames = [
		    "Jan", "Feb", "Mar", "Apr", "May", "Jun",
		    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
		];
		
		// Get the day, month, and year components
		var departureDayOfWeek = departureDateObject.toLocaleDateString("en-US", { weekday: "short" });
		var departureDayOfMonth = departureDateObject.getDate();
		var departureMonth = monthNames[departureDateObject.getMonth()];
		var departureYear = departureDateObject.getFullYear();
		
		var returnDayOfWeek = returnDateObject.toLocaleDateString("en-US", { weekday: "short" });
		var returnDayOfMonth = returnDateObject.getDate();
		var returnMonth = monthNames[returnDateObject.getMonth()];
		var returnYear = returnDateObject.getFullYear();
		
		// Format the result
		var departureFormattedDate = departureDayOfWeek + ', ' + departureDayOfMonth + ' ' + departureMonth + ' ' + departureYear;
		var returnFormattedDate = returnDayOfWeek + ', ' + returnDayOfMonth + ' ' + returnMonth + ' ' + returnYear;
		
		// Set the result
		switchFlightWrapper.innerHTML = `
			 <button id="first-flight" class="d-flex align-items-center mb-2" onclick="switchFlight(1)">
				  <div class="d-flex align-items-center me-2">
					  <span>1</span>
				  </div>
				  <div class="d-flex flex-column align-items-start">
					  <span>${departureFormattedDate}</span>
					  <span>${flightParam._fl_from_des}  &rarr;  ${flightParam._fl_to_des}</span>
				  </div>
			 </button>	
			 
			 <div id="first-flight-info" class="first-flight-info d-flex flex-column mb-3">
			 	${flight1 ?
					`
						<div class="flight-airline d-flex align-items-center justify-content-between mb-3">
							<div class="d-flex align-items-center">
								<img src="${flight1._car_icon}" class="me-2" style="width: 1.5625rem; height: 1.5625rem;"/>
								<span>${flight1._car_name}</span>
							</div>
							
							<button type="button" class="d-flex align-items-center text-end" onclick="displayFlightDetail(${flight1._fl_id})">
								Details
							</button>
						</div>
						
						<div class="d-flex align-items-center flight-detail-transit">
							<div
								class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-departure">
								<span id="departure-time-display" class="time">${flight1._fl_take_off.toString().substring(11,16)}</span>
								<span class="abrv-city">( ${flight1._fl_from_abbreviation} )</span>
							</div>
							<div class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-timeAndStop ms-3">
								<div><span class="hour">${flight1._fl_fly_duration}</span></div>
								<div class="d-flex align-items-center timeAndStop-bar">
									<span></span>
									<hr />
									<span></span>
									<hr />
									<span></span>
								</div>
								<div><span class="stop">${flight1._fl_transit_id == 0 ? '' : choosenFlight1._fl_transit_id}</span></div>
							</div>
							<div
								class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-arrival ms-3">
								<span id="arrival-time-display" class="time">${flight1._fl_arrival.toString().substring(11,16)}</span>
								<span class="abrv-city">( ${flight1._fl_to_abbreviation} )</span>
							</div>
						</div>
					`
					: ""
				}
			 </div>
			 
		`
		if(flightParam._fl_return !== ""){
			switchFlightWrapper.innerHTML += `
				<button id="second-flight" class="d-flex align-items-center" onclick="switchFlight(2)">
				  <div class="d-flex align-items-center me-2">
					  <span>2</span>
				  </div>
				  <div class="d-flex flex-column align-items-start">
					  <span>${returnFormattedDate}</span>
					  <span>${flightParam._fl_to_des}  &rarr;  ${flightParam._fl_from_des}</span>
				  </div>
			    </button>
			    
			    <div id="second-flight-info" class="second-flight-info d-flex flex-column"> 
			    	${flight2 ?
						`
							<div class="flight-airline d-flex align-items-center justify-content-between mb-3">
								<div class="d-flex align-items-center">
									<img src="${flight2._car_icon}" class="me-2" style="width: 1.5625rem; height: 1.5625rem;"/>
									<span>${flight2._car_name}</span>
								</div>
								
								<button type="button" class="d-flex align-items-center text-end" onclick="displayFlightDetail(${flight2._fl_id})">
									Details
								</button>
							</div>
							
							<div class="d-flex align-items-center flight-detail-transit">
								<div
									class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-departure">
									<span id="departure-time-display" class="time">${flight2._fl_take_off.toString().substring(11,16)}</span>
									<span class="abrv-city">( ${flight2._fl_from_abbreviation} )</span>
								</div>
								<div class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-timeAndStop ms-3">
									<div><span class="hour">${flight2._fl_fly_duration}</span></div>
									<div class="d-flex align-items-center timeAndStop-bar">
										<span></span>
										<hr />
										<span></span>
										<hr />
										<span></span>
									</div>
									<div><span class="stop">${flight2._fl_transit_id == 0 ? '' : choosenFlight2._fl_transit_id}</span></div>
								</div>
								<div
									class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-arrival ms-3">
									<span id="arrival-time-display" class="time">${flight2._fl_arrival.toString().substring(11,16)}</span>
									<span class="abrv-city">( ${flight2._fl_to_abbreviation} )</span>
								</div>
							</div>
						`
						: ""
					}
			    </div>
			`
		}
		
		// Set default active flight btn
		let firstFlight = document.getElementById("first-flight");
		let secondFlight = document.getElementById("second-flight");
		
		if (fIndex == null || fIndex == "1"){
			firstFlight.classList.add("flight-active");
		}else{
			secondFlight.classList.add("flight-active");
		}
		
		// Hide flight component if it was choosen
		if(fIndex == null || fIndex == "1"){
			if(flight1 && flight1._fl_id !== null){
				hideFlightComponent(flight1._fl_id);
				
				if(flightsLocal.length == 1){
					let listFlights = document.getElementById("list-flights");
					listFlights.innerHTML += `
						<div class="d-flex align-items-center text-center">
							<h3 style="width: 100%; font-weight: 600">No Flights Found</h3>
						</div>
					`
				}
			}else{
				displayFlightComponentsExcept(flight1._fl_id);
			}
		}
		
		if(fIndex == "2"){
			console.log(flightsLocal.length)
			if(flight2){
				hideFlightComponent(flight2._fl_id);
				
				if(flightsLocal.length == 1){
					let listFlights = document.getElementById("list-flights");
					listFlights.innerHTML += `
						<div class="d-flex align-items-center text-center">
							<h3 style="width: 100%; font-weight: 600">No Flights Found</h3>
						</div>
					`
				}
			}else{
				displayFlightComponentsExcept(flight2._fl_id);
			}
		}
		
		// Display Continue To 3-step Form Btn
		if(flightParam._fl_return !== ""){
			if(flight1 && flight2){
				flightChoosenWrapper.innerHTML += `
					<li class="nav-item filter">
						<form id="submitFlightForm" action="/passenger-detail" method="post">
							<input value="${flight1._fl_id}" name="_fl_id" hidden />
							<input value="${flight1._tc_id}" name="_tc_id" hidden />
							<input value="${flight1._fl_adult_quan}" name="flightAdultQuan" hidden />
							<input value="${flight1._fl_child_quan}" name="flightChildQuan" hidden />
							<input value="${flight1._fl_infant_quan}" name="flightInfantQuan" hidden />
							<button id="submit-flight-btn" type="submit" class="d-flex align-items-center justify-content-center mt-2" onclick="submitFlight(event)" style="width: 100%; height: 2rem; padding: 0px; border-radius: 5px; background: var(--color-text2); color: var(--color-white); font-size: 14px; font-weight: 700;">
							  Continue
						 	</button>
						</form>
					</li>
				`
			}
		}else{
			if(flight1){
				flightChoosenWrapper.innerHTML += `
					<li class="nav-item filter">
						<form id="submitFlightForm" action="/passenger-detail" method="post">
							<input value="${flight1._fl_id}" name="_fl_id" hidden />
							<input value="${flight1._tc_id}" name="_tc_id" hidden />
							<input value="${flight1._fl_adult_quan}" name="flightAdultQuan" hidden />
							<input value="${flight1._fl_child_quan}" name="flightChildQuan" hidden />
							<input value="${flight1._fl_infant_quan}" name="flightInfantQuan" hidden />
							<button id="submit-flight-btn" type="submit" class="d-flex align-items-center justify-content-center mt-2" onclick="submitFlight(event)" style="width: 100%; height: 2rem; padding: 0px; border-radius: 5px; background: var(--color-text2); color: var(--color-white); font-size: 14px; font-weight: 700;">
							  Continue
						 	</button>
						</form>
					</li>
				`
			}
		}
		
		// Render list of flights again
		function switchFlight(flightIndex){
			if(flightIndex == "1"){
				// Set Active flight on UI
				if (!firstFlight.classList.contains("flight-active")) {
			        firstFlight.classList.add("flight-active");
			        secondFlight.classList.remove("flight-active");
			    } else {
			        firstFlight.classList.remove("flight-active");
			        secondFlight.classList.add("flight-active");
			    }
			    
			    // Set value for flight param
				departureDes.setAttribute("value", flightParam._fl_from_id);
				arrivalDes.setAttribute("value", flightParam._fl_to_id);
				departureDate.setAttribute("value", flightParam._fl_take_off);
			}else{
				// Set Active flight on UI
				if (!secondFlight.classList.contains("flight-active")) {
					firstFlight.classList.remove("flight-active");
			        secondFlight.classList.add("flight-active");
			    } else {
					firstFlight.classList.add("flight-active");
			        secondFlight.classList.remove("flight-active");
			    }
			    
			    // Set value for flight param
				departureDes.setAttribute("value", flightParam._fl_to_id);
				arrivalDes.setAttribute("value", flightParam._fl_from_id);
				departureDate.setAttribute("value", flightParam._fl_return);
			}
			localStorage.setItem("flightIndex", flightIndex);
			
			disableChooseFlightBtn();
		}
		
		/*  ==================== Display/Hide Buttons on Filter Page ===================== */
		function disableChooseFlightBtn(){
			let chooseFlightBtn = document.querySelectorAll(".flight-choose-btn");
			for(let i = 0; i < chooseFlightBtn.length; i++){
				chooseFlightBtn[i].classList.add("disable");
			}
		}	
		function hideFlightComponent(flightID){
			let flightComponent = document.getElementById("flight-detail-component" + flightID);
			flightComponent.classList.add("d-none");
			flightComponent.style.height = "0px";
		}
		function displayFlightComponentsExcept(flightID) {
		    let flightComponents = document.querySelectorAll("[id^='flight-detail-component']");
		
		    flightComponents.forEach(function (flightComponent) {
		        let currentFlightID = extractFlightIDFromComponentID(flightComponent.id);
		
		        if (currentFlightID !== flightID) {
		            flightComponent.classList.remove("d-none");
		            flightComponent.style.height = "auto";
		        }
		    });
		}
		function extractFlightIDFromComponentID(componentID) {
		    return parseInt(componentID.replace("flight-detail-component", ""));
		}
		
		/*  ==================== Save Flight Info Local ===================== */
		function chooseFlight(e, flightID, ticketClass) {
			e.preventDefault();
			console.log(ticketClass)
			let firstFlightRender = document.getElementById("first-flight-info");
			let secondFlightRender = document.getElementById("second-flight-info");
			let currentFlight;
			
			if(fIndex == null){
				fIndex = "1";
			}
				
			let itemChoosenFlight = {
				flightIndex: fIndex,
				_fl_id: flightID,
				_tc_id: ticketClass
			}
			
			// Get current choosen flight
			for(let i = 0; i < flightsLocal.length; i++){
				if(flightsLocal[i]._fl_id.toString() == flightID){
					currentFlight = flightsLocal[i];
				}
			}
			// Hide choosen flight on UI
			hideFlightComponent(flightID);
			displayFlightComponentsExcept(flightID);
			
			// Render choosen flight on sidebar
			if(fIndex == null || fIndex == "1"){
				if(flightsLocal.length == 1){
					let listFlights = document.getElementById("list-flights");
					listFlights.innerHTML += `
						<div class="d-flex align-items-center text-center">
							<h3 style="width: 100%; font-weight: 600">No Flights Found</h3>
						</div>
					`
				}
				
				firstFlightRender.innerHTML = `
					<div class="flight-airline d-flex align-items-center justify-content-between mb-3">
						<div class="d-flex align-items-center">
							<img src="${currentFlight._car_icon}" class="me-2" style="width: 1.5625rem; height: 1.5625rem;"/>
							<span>${currentFlight._car_name}</span>
						</div>
						
						<button type="button" class="d-flex align-items-center text-end" onclick="displayFlightDetail(${currentFlight._fl_id})">
							Details
						</button>
					</div>
					
					<div class="d-flex align-items-center flight-detail-transit">
						<div
							class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-departure">
							<span id="departure-time-display" class="time">${currentFlight._fl_take_off.toString().substring(11,16)}</span>
							<span class="abrv-city">( ${currentFlight._fl_from_abbreviation} )</span>
						</div>
						<div class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-timeAndStop ms-3">
							<div><span class="hour">${currentFlight._fl_fly_duration}</span></div>
							<div class="d-flex align-items-center timeAndStop-bar">
								<span></span>
								<hr />
								<span></span>
								<hr />
								<span></span>
							</div>
							<div><span class="stop">${currentFlight._fl_transit_id == 0 ? '' : currentFlight._fl_transit_id}</span></div>
						</div>
						<div
							class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-arrival ms-3">
							<span id="arrival-time-display" class="time">${currentFlight._fl_arrival.toString().substring(11,16)}</span>
							<span class="abrv-city">( ${currentFlight._fl_to_abbreviation} )</span>
						</div>
					</div>
				`
			}else{
				if(flightsLocal.length == 1){
					let listFlights = document.getElementById("list-flights");
					listFlights.innerHTML += `
						<div class="d-flex align-items-center text-center">
							<h3 style="width: 100%; font-weight: 600">No Flights Found</h3>
						</div>
					`
				}
				
				secondFlightRender.innerHTML = `
					<div class="flight-airline d-flex align-items-center justify-content-between mb-3">
						<div class="d-flex align-items-center">
							<img src="${currentFlight._car_icon}" class="me-2" style="width: 1.5625rem; height: 1.5625rem;"/>
							<span>${currentFlight._car_name}</span>
						</div>
						
						<button type="button" class="d-flex align-items-center text-end" onclick="displayFlightDetail(${currentFlight._fl_id})">
							Details
						</button>
					</div>
					
					<div class="d-flex align-items-center flight-detail-transit">
						<div
							class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-departure">
							<span id="departure-time-display" class="time">${currentFlight._fl_take_off.toString().substring(11,16)}</span>
							<span class="abrv-city">( ${currentFlight._fl_from_abbreviation} )</span>
						</div>
						<div class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-timeAndStop ms-3">
							<div><span class="hour">${currentFlight._fl_fly_duration}</span></div>
							<div class="d-flex align-items-center timeAndStop-bar">
								<span></span>
								<hr />
								<span></span>
								<hr />
								<span></span>
							</div>
							<div><span class="stop">${currentFlight._fl_transit_id == 0 ? '' : currentFlight._fl_transit_id}</span></div>
						</div>
						<div
							class="d-flex flex-column align-items-center justify-content-center flight-detail-transit-arrival ms-3">
							<span id="arrival-time-display" class="time">${currentFlight._fl_arrival.toString().substring(11,16)}</span>
							<span class="abrv-city">( ${currentFlight._fl_to_abbreviation} )</span>
						</div>
					</div>
				`
			}
			
			// Save flight data into local
			if(fIndex == null || fIndex == "1"){
				for(let i = 0; i < flightsLocal.length; i++){
					if(flightsLocal[i]._fl_id.toString() == flightID){
						flight1 = flightsLocal[i];
					}
				}
				localStorage.setItem("flight1", JSON.stringify(flight1));
				console.log("ticketClass")
				console.log(ticketClass)
				// Call API
				$.ajax({
					type: 'GET',
					url: '/api/flight/info',
					data: {_fl_id: flightID, _tc_id: ticketClass},
					success: function (data) {
						console.log(data);
						localStorage.setItem("flight1Info", JSON.stringify(data));
					
						localStorage.setItem("_tc_id", JSON.stringify(ticketClass));
					},
					error: function (xhr, status, error) {
						console.error('AJAX request failed with status:', status, 'and error:', error);
					}
				});
			}
			
			if(fIndex == "2"){
				for(let i = 0; i < flightsLocal.length; i++){
					if(flightsLocal[i]._fl_id.toString() == flightID){
						flight2 = flightsLocal[i];
					}
				}
				localStorage.setItem("flight2", JSON.stringify(flight2));
				
				// Call API
				$.ajax({
					type: 'GET',
					url: '/api/flight/info',
					data: {_fl_id: flightID, _tc_id: ticketClass},
					success: function (data) {
						console.log(data);
						localStorage.setItem("flight2Info", JSON.stringify(data));
						localStorage.setItem("_tc_id", JSON.stringify(ticketClass));
					},
					error: function (xhr, status, error) {
						console.error('AJAX request failed with status:', status, 'and error:', error);
					}
				});
			}
			
			// Display Continue To 3-step Form Btn
			let submitFlightBtn = document.getElementById("submit-flight-btn");
			console.log(submitFlightBtn)
			
			if(flightParam._fl_return !== ""){
				if(!submitFlightBtn && flight1 && flight2){
					flightChoosenWrapper.innerHTML += `
						<li class="nav-item filter">
							<form id="submitFlightForm" action="/passenger-detail" method="post">
								<input value="${currentFlight._fl_id}" name="_fl_id" hidden />
								<input value="${currentFlight._tc_id}" name="_tc_id" hidden />
								<input value="${currentFlight._fl_adult_quan}" name="flightAdultQuan" hidden />
								<input value="${currentFlight._fl_child_quan}" name="flightChildQuan" hidden />
								<input value="${currentFlight._fl_infant_quan}" name="flightInfantQuan" hidden />
								<button id="submit-flight-btn" type="submit" class="d-flex align-items-center justify-content-center mt-2" onclick="submitFlight(event)" style="width: 100%; height: 2rem; padding: 0px; border-radius: 5px; background: var(--color-text2); color: var(--color-white); font-size: 14px; font-weight: 700;">
								  Continue
							 	</button>
							</form>
						</li>
					`
				}
			}else{
				if(!submitFlightBtn && flight1){
					flightChoosenWrapper.innerHTML += `
						<li class="nav-item filter">
							<form id="submitFlightForm" action="/passenger-detail" method="post">
								<input value="${currentFlight._fl_id}" name="_fl_id" hidden />
								<input value="${currentFlight._tc_id}" name="_tc_id" hidden />
								<input value="${currentFlight._fl_adult_quan}" name="flightAdultQuan" hidden />
								<input value="${currentFlight._fl_child_quan}" name="flightChildQuan" hidden />
								<input value="${currentFlight._fl_infant_quan}" name="flightInfantQuan" hidden />
								<button id="submit-flight-btn" type="submit" class="d-flex align-items-center justify-content-center mt-2" onclick="submitFlight(event)" style="width: 100%; height: 2rem; padding: 0px; border-radius: 5px; background: var(--color-text2); color: var(--color-white); font-size: 14px; font-weight: 700;">
								  Continue
							 	</button>
							</form>
						</li>
					`
				}
			}
		}
		
		/*  ==================== Render Flight Detail ===================== */
		function displayFlightDetail(flightID){
			// Get current flight using flight ID
			let flight;
			for(let i = 0; i < flightsLocal.length; i++){
				if(flightsLocal[i]._fl_id == flightID){
					flight = flightsLocal[i];
				}
			}
			console.log(flight)
			// Create modal HTML dynamically
	        var modalHTML = `
	            <div class="modal fade" id="${flight._fl_id}" tabindex="-1" aria-labelledby="${flight._fl_id}Label" aria-hidden="true">
	                <div class="modal-dialog modal-lg">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <h5 class="modal-title" id="${flight._fl_id}Label">Flight ${fIndex ? fIndex : "1"} ----- ${flight._fl_from_name}  &rarr;  ${flight._fl_to_name}</h5>
	                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                        </div>
	                        <div class="modal-body">
	                            <div class="d-flex align-items-end justify-content-between flight-detail-button-area">
									<div class="d-flex align-items-center">
										<span class="flight-detail-btn"
											  onclick="displayAndHideFlightDetailModal(event, ${flight._fl_id})"
											  data-id="flightdetail${flight._fl_id}"
											  id="flight-detail-btn${flight._fl_id}">Flight Details</span>
										<span class="flight-detail-fareAndBef-btn ms-5"
											  onclick="displayAndHideFareAndBefModal(event, ${flight._fl_id})"
											  data-id="flightFareAndBef${flight._fl_id}"
											  id="flight-detail-fareAndBef-btn${flight._fl_id}">Fare & Benefits</span>
									</div>
								</div>
								
								<div id="flight-detail-modal-information-component${flight._fl_id}" class="d-none d-flex flex-column flight-detail-modal-information-component mt-3" data-for="flightdetail${flight._fl_id}">
									<div class="d-flex align-items-center flight-detail-information-area">
										<div class="d-flex flex-column align-items-center flight-detail-information-timeline">
											<div class="d-flex flex-column align-items-center justify-content-between">
												<span class="timeline departure-time-display"></span>
												<span class="date">${flight._fl_take_off.toString().substring(11,16)}</span>
											</div>
											<div class="d-flex flex-column align-items-center justify-content-between mt-100">
												<span class="date">${flight._fl_fly_duration}</span>
											</div>
											<div class="d-flex flex-column align-items-center justify-content-between mt-100">
												<span class="timeline arrival-time-display"></span>
												<span class="date">${flight._fl_arrival.toString().substring(11,16)}</span>
											</div>
										</div>
									
										<div class="d-flex flex-column align-items-center flight-detail-information-timeline-bar ms-3">
											<span></span>
											<hr />
											<span></span>
										</div>
									
										<div class="d-flex flex-column flight-detail-information-content ms-3">
											<div class="d-flex flex-column justify-content-between flight-detail-information-content-destination">
												<span class="city-and-abrrv-city">${flight._fl_from_name} (${flight._fl_from_abbreviation})</span>
												<span class="city-airport">${flight._fl_ap_from_name} Airport</span>
											</div>
											<div class="d-flex flex-column flight-detail-information-content-wrapper mt-2">
												<div class="d-flex align-items-center flight-detail-information-content-airline">
													<span class="airline-brand me-2">${flight._car_name}</span>
													<img src="${flight._car_icon}" />
												</div>
												<div
													class="d-flex align-items-center flight-detail-information-content-planeAndsclass">
													<span>${flight._pt_name}</span>
													<span class="ms-1 me-1">-</span>
													<input id="ticket-class" hidden />
													<div>
														${flight._tc_id == 1 ? `<span>Economy</span>` : ""}
														${flight._tc_id == 2 ? `<span>Special Economy</span>` : ""}
														${flight._tc_id == 3 ? `<span>Business</span>` : ""}
														${flight._tc_id == 4 ? `<span>First Class</span>` : ""}
													</div>
									
												</div>
												
												<div class="d-flex align-items-start flight-detail-information-content-baggage mt-2">
													<div class="d-flex me-2">
														<img src="../../../images/flightdetail/luggage-gray.png" />
													</div>
													<div class="d-flex flex-column">
														<span>Baggage  ${flight._car_checked}kg</span>
														<span>Cabin baggage ${flight._car_carbin}kg</span>
													</div>
												</div>
												
												<div class="d-flex flex-column align-items-start flight-detail-information-content-service mt-2">
													${flight._fl_services_convert.map(service => `
												        <div class="d-flex align-items-start">
												            <div class="d-flex me-2">
												                <img src="${service._ser_icon}" />
												            </div>
												            <div class="d-flex flex-column">
												                <span>${service._ser_name}</span>
												            </div>
												        </div>
												    `).join('')}
												</div>
											</div>
									
											<div
												class="d-flex flex-column justify-content-between flight-detail-information-content-destination">
												<span class="city-and-abrrv-city">${flight._fl_to_name} (${flight._fl_to_abbreviation})</span>
												<span class="city-airport">${flight._fl_ap_to_name} Airport</span>
											</div>
										</div>
									</div>
								</div>
								
								<div id="flight-detail-modal-fareAndBef-component${flight._fl_id}" class="d-none d-flex flex-column flight-detail-modal-fareAndBef-component mt-3" data-for="flightFareAndBef${flight._fl_id}" id="flightFareAndBef${flight._fl_id}">
									<div class="d-flex" style="width: 100%">
										<div class="d-flex flex-column flight-detail-fareAndBef-condition me-5" style="width: 30%;">
											<div class="d-flex flight-detail-fareAndBef-component-title mb-1">
												<span>Condition</span>
												<span></span>
											</div>
											
											<div class="d-flex flex-column flight-detail-fareAndBef-condition-content" style="padding: 10px; border: 1px solid var(--color-border2); border-radius: 10px">
												<div class="d-flex align-items-center flight-detail-fareAndBef-condition-content-airline">
													<img src="${flight._car_icon}" />
													<span>${flight._car_name}</span>
												</div>
												<div class="d-flex flight-detail-fareAndBef-condition-route">
													<div>
														${flight._tc_id == 1 ? `<span>${flight._fl_from_name} &rarr; ${flight._fl_to_name} - Economy</span>` : ""}
														${flight._tc_id == 2 ? `<span>${flight._fl_from_name} &rarr; ${flight._fl_to_name} - Special Economy</span>` : ""}
														${flight._tc_id == 3 ? `<span>${flight._fl_from_name} &rarr; ${flight._fl_to_name} - Business</span>` : ""}
														${flight._tc_id == 4 ? `<span>${flight._fl_from_name} &rarr; ${flight._fl_to_name} - First Class</span>` : ""}
													</div>
												</div>
											</div>
										</div>
			
										<div class="d-flex flex-column jusify-content-between flight-detail-fareAndBef-priceDetails" style="width: 30%;">
											<div class="d-flex flight-detail-fareAndBef-component-title mb-1">
												<span>Price Details</span>
												<span></span>
											</div>
											<div class="d-flex flex-column flight-detail-fareAndBef-priceDetails-content" style="padding: 10px; border: 1px solid var(--color-border2); border-radius: 10px">
												${flight._fl_adult_quan != 0 ? `
													<div class="d-flex align-items-center justify-content-between">
														<span style="font-size: 12px; font-weight: 500;">Adult Basic Fare (x${flight._fl_adult_quan})</span>
														<span style="font-size: 12px; font-weight: 500; color: var(--color-black)">${flight._fl_adult_price.toLocaleString()} VND</span>
													</div>
												`
												: ""}
												
												${flight._fl_child_quan != 0 ? `
													<div class="d-flex align-items-center justify-content-between">
														<span style="font-size: 12px; font-weight: 500;">Child Basic Fare (x${flight._fl_child_quan})</span>
														<span style="font-size: 12px; font-weight: 500; color: var(--color-black)">${flight._fl_child_price.toLocaleString()} VND</span>
													</div>
												`
												: ""}
												
												
												${flight._fl_infant_quan != 0 ? `
													<div class="d-flex align-items-center justify-content-between">
														<span style="font-size: 12px; font-weight: 500;">Infant Basic Fare (x${flight._fl_infant_quan})</span>
														<span style="font-size: 12px; font-weight: 500; color: var(--color-black)">${flight._fl_infant_price.toLocaleString()} VND</span>
													</div>
												`
												: ""}
												
												<div class="d-flex align-items-center justify-content-between">
													<span style="font-size: 12px; font-weight: 500;">Tax</span>
													<span style="font-size: 12px; font-weight: 500; color: var(--color-black)">Included</span>
												</div>
												<hr />
												<div class="d-flex align-items-center justify-content-between">
													<span style="font-size: 12px; font-weight: 500;">You Pay</span>
													<span style="font-size: 12px; font-weight: 500; color: var(--color-black)">${flight._fl_total_price.toLocaleString()} VND</span>
												</div>
											</div>
										</div>
									</div>
			
									<div class="d-flex jusify-content-between" style="width: 100%;">
										<div class="d-flex flex-column flight-detail-fareAndBef-baggagePrice" style="width: 30%;">
											<div class="d-flex flex-column flight-detail-fareAndBef-component-title mb-1">
												<span>Baggage Prices</span>
												<span>See baggage prices for your flight</span>
											</div>
			
											<div class="d-flex flex-column flight-detail-fareAndBef-baggagePrice-content" style="padding: 10px; border: 1px solid var(--color-border2); border-radius: 10px">
												<div class="d-flex flex-column">
													<div
														class="d-flex align-items-center flight-detail-fareAndBef-baggagePrice-content-airline">
														<img src="${flight._car_icon}" />
														<span>${flight._car_name}</span>
													</div>
													<div class="d-flex flight-detail-fareAndBef-baggagePrice-content-button">
														<span>See baggage prices</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        `;
			
	        // Append modal HTML to the modalContainer
	        document.getElementById('flightDetailModal').innerHTML += modalHTML;
	
	        // Show the dynamically created modal
	        var newModal = new bootstrap.Modal(document.getElementById(flight._fl_id));
	        newModal.show();
		}
    	
    	/*  ==================== Submit Flight ===================== */
    	function submitFlight(e){
			localStorage.setItem("isCartSelected",false);
			let submitFlightForm = document.getElementById("submitFlightForm");
			console.log(submitFlightForm);
		}
    	
		/*  ==================== Remove TotalPrice Local ===================== */
		localStorage.removeItem("totalPrice");
		
		/*=============================== Get Price Range ===============================*/
		let priceRange = document.getElementById("flight-price-range");
		priceRange.value = 0;
		let priceRangeDisplay = document.getElementById("flight-price-display");

		function getPriceValue(e) {
			priceRangeDisplay.innerHTML = formatter.format(e.target.value);
			request.pricePerPasg = e.target.value;
			pricePerPasgParam.value = e.target.value;
		}

		/*=============================== Display Flight Detail Component ===============================*/
		function displayAndHideFlightDetail(e) {
			var target = e.target.attributes[2].nodeValue;
			let flightDetailComponent = $(".flight-detail-information-component");
			let flightFareAndBefComponent = $(".flight-detail-fareAndBef-component");
			
			let displayFlightDetailBtn = document.querySelectorAll(".flight-detail-btn");
			let displayFlightFareAndBefBtn = document.querySelectorAll(".flight-detail-fareAndBef-btn");
			
			for (var i = 0; i < flightDetailComponent.length; i++) {
				var element = flightDetailComponent[i].attributes[1].nodeValue;
				if (element == target) {
					if ($(flightDetailComponent[i]).hasClass("d-none")) {
						flightDetailComponent[i].classList.remove("d-none");
						flightFareAndBefComponent[i].classList.add("d-none");
						flightDetailComponent[i].style.transition = "all 300s ease-in";
						flightDetailComponent[i].style.borderBottomLeftRadius = "0px";
						flightDetailComponent[i].style.borderBottomRightRadius = "0px";
						displayFlightDetailBtn[i].style.color = "#127ADB";
						displayFlightFareAndBefBtn[i].style.color = "#696969";
					} else {
						flightDetailComponent[i].classList.add("d-none");
						flightFareAndBefComponent[i].classList.add("d-none");
						flightDetailComponent[i].style.borderBottomLeftRadius = "10px";
						flightDetailComponent[i].style.borderBottomRightRadius = "10px";
						displayFlightDetailBtn[i].style.color = "#696969";
						displayFlightFareAndBefBtn[i].style.color = "#696969";
					}
				}
			}
		}

		function displayAndHideFareAndBef(e) {
			var target = e.target.attributes[2].nodeValue;
			let flightDetailComponent = $(".flight-detail-information-component");
			let flightFareAndBefComponent = $(".flight-detail-fareAndBef-component");
			
			let displayFlightDetailBtn = document.querySelectorAll(".flight-detail-btn");
			let displayFlightFareAndBefBtn = document.querySelectorAll(".flight-detail-fareAndBef-btn");
			
			for (var i = 0; i < flightFareAndBefComponent.length; i++) {
				var element = flightFareAndBefComponent[i].attributes[1].nodeValue;
				if (element == target) {
					if ($(flightFareAndBefComponent[i]).hasClass("d-none")) {
						flightFareAndBefComponent[i].classList.remove("d-none");
						flightDetailComponent[i].classList.add("d-none");
						flightFareAndBefComponent[i].style.transition = "all 300s ease-in";
						flightFareAndBefComponent[i].style.borderBottomLeftRadius = "0px";
						flightFareAndBefComponent[i].style.borderBottomRightRadius = "0px";
						displayFlightFareAndBefBtn[i].style.color = "#127ADB";
						displayFlightDetailBtn[i].style.color = "#696969";
					} else {
						flightFareAndBefComponent[i].classList.add("d-none");
						flightDetailComponent[i].classList.add("d-none");
						flightFareAndBefComponent[i].style.borderBottomLeftRadius = "10px";
						flightFareAndBefComponent[i].style.borderBottomRightRadius = "10px";
						displayFlightFareAndBefBtn[i].style.color = "#696969";
						displayFlightDetailBtn[i].style.color = "#696969";
					}
				}
			}
		}
		
		// Modal
		function displayAndHideFlightDetailModal(e, flightID) {
			let flightDetailModalComponent = document.getElementById("flight-detail-modal-information-component"+flightID);
			let flightFareAndBefModalComponent = document.getElementById("flight-detail-modal-fareAndBef-component"+flightID);
			
			let displayFlightDetailBtn = document.getElementById("flight-detail-btn"+flightID);
			let displayFlightFareAndBefBtn = document.getElementById("flight-detail-fareAndBef-btn"+flightID);
			
			if (flightDetailModalComponent.classList.contains('d-none')) {
				flightDetailModalComponent.classList.remove("d-none");
				flightFareAndBefModalComponent.classList.add("d-none");
				flightDetailModalComponent.style.transition = "all 300s ease-in";
				flightDetailModalComponent.style.borderBottomLeftRadius = "0px";
				flightDetailModalComponent.style.borderBottomRightRadius = "0px";
				displayFlightDetailBtn.style.color = "#127ADB";
				displayFlightFareAndBefBtn.style.color = "#696969";
			} else {
				flightDetailModalComponent.classList.add("d-none");
				flightFareAndBefModalComponent.classList.add("d-none");
				flightDetailModalComponent.style.borderBottomLeftRadius = "10px";
				flightDetailModalComponent.style.borderBottomRightRadius = "10px";
				displayFlightDetailBtn.style.color = "#696969";
				displayFlightFareAndBefBtn.style.color = "#696969";
			}
		}
		
		function displayAndHideFareAndBefModal(e, flightID) {
			let displayFlightDetailBtn = document.getElementById("flight-detail-btn"+flightID);
			let displayFlightFareAndBefBtn = document.getElementById("flight-detail-fareAndBef-btn"+flightID);
			
			let flightFareAndBefModalComponent = document.getElementById("flight-detail-modal-fareAndBef-component"+flightID);
			let flightDetailModalComponent = document.getElementById("flight-detail-modal-information-component"+flightID);
			
			if (flightFareAndBefModalComponent.classList.contains('d-none')) {
				flightFareAndBefModalComponent.classList.remove("d-none");
				flightDetailModalComponent.classList.add("d-none");
				flightFareAndBefModalComponent.style.transition = "all 300s ease-in";
				flightFareAndBefModalComponent.style.borderBottomLeftRadius = "0px";
				flightFareAndBefModalComponent.style.borderBottomRightRadius = "0px";
				displayFlightFareAndBefBtn.style.color = "#127ADB";
				displayFlightDetailBtn.style.color = "#696969";
			} else {
				flightFareAndBefModalComponent.classList.add("d-none");
				flightDetailModalComponent.classList.add("d-none");
				flightFareAndBefModalComponent.style.borderBottomLeftRadius = "10px";
				flightFareAndBefModalComponent.style.borderBottomRightRadius = "10px";
				displayFlightFareAndBefBtn.style.color = "#696969";
				displayFlightDetailBtn.style.color = "#696969";
			}
		}
		
		/*=============================== Display Filter Category on SideBar ===============================*/
		let sortbySelection = document.getElementById("flight-selection-sortBy");
		let sortbyDisplay = document.getElementById("flight-sortBy-display");
		let showSortByBtn = document.getElementById("showSortByBtn");
		let hideSortByBtn = document.getElementById("hideSortByBtn");

		let transitSelection = document.getElementById("flight-selection-transit");
		let transitDisplay = document.getElementById("flight-transit-display");
		let showTransitBtn = document.getElementById("showTransitBtn");
		let hideTransitBtn = document.getElementById("hideTransitBtn");

		let airlineSelection = document.getElementById("flight-selection-airline");
		let airlineDisplay = document.getElementById("flight-airline-display");
		let showAirlineBtn = document.getElementById("showAirlineBtn");
		let hideAirlineBtn = document.getElementById("hideAirlineBtn");

		let facilitiesSelection = document.getElementById("flight-selection-facilities");
		let facilitiesDisplay = document.getElementById("flight-facilities-display");
		let showFacilitiesBtn = document.getElementById("showFacilitiesBtn");
		let hideFacilitiesBtn = document.getElementById("hideFacilitiesBtn");

		let transPointSelection = document.getElementById("flight-selection-transPoint");
		let transPointDisplay = document.getElementById("flight-transPoint-display");
		let showTransPointBtn = document.getElementById("showTransPointBtn");
		let hideTransPointBtn = document.getElementById("hideTransPointBtn");

		let pricePerPasgSelection = document.getElementById("flight-selection-pricePerPasg");
		let pricePerPasgDisplay = document.getElementById("flight-pricePerPasg-display");
		let showPricePerPasgBtn = document.getElementById("showPricePerPasgBtn");
		let hidePricePerPasgBtn = document.getElementById("hidePricePerPasgBtn");

		let flightResetBtn = document.getElementById("flight-reset-btn");
		let localFilterFlight = JSON.parse(localStorage.getItem("localFilterFlight"));

		if (localFilterFlight == null) {
			localFilterFlight = {
				sortBy: 0,
				transit: [],
				airlines: [],
				facilities: [],
				transPoint: [],
				pricePerPasg: []
			}
		}

		if (localFilterFlight.transit.length != 0) {
			transitDisplay.innerHTML = "+" + localFilterFlight.transit.length;
			transitDisplay.style.background = "#FF5E1F";

			for (var i = 0; i < localFilterFlight.transit.length; i++) {
				for (var j = 0; j < document.querySelectorAll('input[name="transit"]').length; j++) {
					if (localFilterFlight.transit[i] == document.querySelectorAll('input[name="transit"]')[j].value) {
						document.querySelectorAll('input[name="transit"]')[j].checked = true;
					}
				}
			}
		}

		if (localFilterFlight.airlines.length != 0) {
			airlineDisplay.innerHTML = "+" + localFilterFlight.airlines.length;
			airlineDisplay.style.background = "#FF5E1F";
			for (var i = 0; i < localFilterFlight.airlines.length; i++) {
				for (var j = 0; j < document.querySelectorAll('input[name="airline"]').length; j++) {
					if (localFilterFlight.airlines[i] == document.querySelectorAll('input[name="airline"]')[j].value) {
						document.querySelectorAll('input[name="airline"]')[j].checked = true;
					}
				}
			}
		}

		if (localFilterFlight.facilities.length != 0) {
			facilitiesDisplay.innerHTML = "+" + localFilterFlight.facilities.length;
			facilitiesDisplay.style.background = "#FF5E1F";

			for (var i = 0; i < localFilterFlight.facilities.length; i++) {
				for (var j = 0; j < document.querySelectorAll('input[name="facility"]').length; j++) {
					if (localFilterFlight.facilities[i] == document.querySelectorAll('input[name="facility"]')[j].value) {
						document.querySelectorAll('input[name="facility"]')[j].checked = true;
					}
				}
			}
		}

		if (localFilterFlight.transPoint.length != 0) {
			transPointDisplay.innerHTML = "+" + localFilterFlight.transPoint.length;
			transPointDisplay.style.background = "#FF5E1F";

			for (var i = 0; i < localFilterFlight.transPoint.length; i++) {
				for (var j = 0; j < document.querySelectorAll('input[name="transPoint"]').length; j++) {
					if (localFilterFlight.transPoint[i] == document.querySelectorAll('input[name="transPoint"]')[j].value) {
						document.querySelectorAll('input[name="transPoint"]')[j].checked = true;
					}
				}
			}
		}

		function displaySortBy() {
			sortbySelection.classList.remove("d-none");
			showSortByBtn.classList.add("d-none");
			hideSortByBtn.classList.remove("d-none");
		}

		function hideSortBy() {
			sortbySelection.classList.add("d-none");
			hideSortByBtn.classList.add("d-none");
			showSortByBtn.classList.remove("d-none");
		}

		function getSortByVal(e) {
			sortbyDisplay.innerHTML = e.target.parentElement.querySelector("label").innerHTML;
		}

		function displayTransit() {
			transitSelection.classList.remove("d-none");
			showTransitBtn.classList.add("d-none");
			hideTransitBtn.classList.remove("d-none");
		}

		function hideTransit() {
			transitSelection.classList.add("d-none");
			hideTransitBtn.classList.add("d-none");
			showTransitBtn.classList.remove("d-none");
		}

		function getTransitReq() {
			let noOfTransitString = '';
			if (document.querySelectorAll('input[name="transit"]:checked').length == 0) {
				transitDisplay.innerHTML = "";
				transitDisplay.style.background = "none";
			} else {
				for (let i = 0; i < document.querySelectorAll('input[name="transit"]:checked').length; i++) {
					noOfTransitString += document.querySelectorAll('input[name="transit"]:checked')[i].attributes[0].nodeValue + ",";

					if (localFilterFlight.transit.length > 0) {
						for (let j = 0; j < localFilterFlight.transit.length; j++) {
							if (localFilterFlight.transit[j] != document.querySelectorAll('input[name="transit"]:checked')[i].attributes[0].nodeValue) {
								localFilterFlight.transit.push(document.querySelectorAll('input[name="transit"]:checked')[i].attributes[0].nodeValue);
							}
						}
					} else {
						localFilterFlight.transit.push(document.querySelectorAll('input[name="transit"]:checked')[i].attributes[0].nodeValue);
					}

					request.noOfTransit = noOfTransitString;
					noOfTransitParam.value = noOfTransitString;
					console.log(request);
				}
				transitDisplay.innerHTML = "+" + document.querySelectorAll('input[name="transit"]:checked').length;
				transitDisplay.style.background = "#FF5E1F";
			}
		}
		document.querySelectorAll("input[name=transit]").forEach(i => {
			i.onclick = function () {
				getTransitReq();
			}
		});

		function displayAirline() {
			airlineSelection.classList.remove("d-none");
			showAirlineBtn.classList.add("d-none");
			hideAirlineBtn.classList.remove("d-none");
		}

		function hideAirline() {
			airlineSelection.classList.add("d-none");
			hideAirlineBtn.classList.add("d-none");
			showAirlineBtn.classList.remove("d-none");
		}

		function getAirlineReq() {
			let airlinesString = '';
			if (document.querySelectorAll('input[name="airline"]:checked').length == 0) {
				airlineDisplay.innerHTML = "";
				airlineDisplay.style.background = "none";
			} else {
				for (let i = 0; i < document.querySelectorAll('input[name="airline"]:checked').length; i++) {
					airlinesString += document.querySelectorAll('input[name="airline"]:checked')[i].attributes[4].nodeValue + ",";

					if (localFilterFlight.airlines.length > 0) {
						for (let j = 0; j < localFilterFlight.airlines.length; j++) {
							if (localFilterFlight.airlines[j] != document.querySelectorAll('input[name="airline"]:checked')[i].attributes[4].nodeValue) {
								localFilterFlight.airlines.push(document.querySelectorAll('input[name="airline"]:checked')[i].attributes[4].nodeValue);
							}
						}
					} else {
						localFilterFlight.airlines.push(document.querySelectorAll('input[name="airline"]:checked')[i].attributes[4].nodeValue);
					}

					request.airlines = airlinesString;
					airlinesParam.value = airlinesString;
					console.log(request)
				}

				airlineDisplay.innerHTML = "+" + document.querySelectorAll('input[name="airline"]:checked').length;
				airlineDisplay.style.background = "#FF5E1F";
			}
		}
		document.querySelectorAll("input[name=airline]").forEach(i => {
			i.onclick = function () {
				getAirlineReq();
			}
		});

		function displayFacilities() {
			facilitiesSelection.classList.remove("d-none");
			showFacilitiesBtn.classList.add("d-none");
			hideFacilitiesBtn.classList.remove("d-none");
		}

		function hideFacilities() {
			facilitiesSelection.classList.add("d-none");
			hideFacilitiesBtn.classList.add("d-none");
			showFacilitiesBtn.classList.remove("d-none");
		}

		function getFacilitiesReq() {
			if (document.querySelectorAll('input[name="facility"]:checked').length == 0) {
				facilitiesDisplay.innerHTML = "";
				facilitiesDisplay.style.background = "none";
			} else {
				let facilitiesString = '';
				for (let i = 0; i < document.querySelectorAll('input[name="facility"]:checked').length; i++) {
					facilitiesString += document.querySelectorAll('input[name="facility"]:checked')[i].attributes[4].nodeValue + ",";

					if (localFilterFlight.facilities.length > 0) {
						for (let j = 0; j < localFilterFlight.facilities.length; j++) {
							if (localFilterFlight.facilities[j] != document.querySelectorAll('input[name="facility"]:checked')[i].attributes[4].nodeValue) {
								localFilterFlight.facilities.push(document.querySelectorAll('input[name="facility"]:checked')[i].attributes[4].nodeValue);
							}
						}
					} else {
						localFilterFlight.facilities.push(document.querySelectorAll('input[name="facility"]:checked')[i].attributes[4].nodeValue);
					}

					request.facilities = facilitiesString;
					facilitiesParam.value = facilitiesString;
					console.log(request);
				}

				facilitiesDisplay.innerHTML = "+" + document.querySelectorAll('input[name="facility"]:checked').length;
				facilitiesDisplay.style.background = "#FF5E1F";
			}
		}
		document.querySelectorAll("input[name=facility]").forEach(i => {
			i.onclick = function () {
				getFacilitiesReq();
			}
		});

		function displayTransPoint() {
			transPointSelection.classList.remove("d-none");
			showTransPointBtn.classList.add("d-none");
			hideTransPointBtn.classList.remove("d-none");
		}

		function hideTransPoint() {
			transPointSelection.classList.add("d-none");
			hideTransPointBtn.classList.add("d-none");
			showTransPointBtn.classList.remove("d-none");
		}

		function getTransPointReq() {
			if (document.querySelectorAll('input[name="transPoint"]:checked').length == 0) {
				transPointDisplay.innerHTML = "";
				transPointDisplay.style.background = "none";
			} else {
				let transPointString = '';
				for (let i = 0; i < document.querySelectorAll('input[name="transPoint"]:checked').length; i++) {
					transPointString += document.querySelectorAll('input[name="transPoint"]:checked')[i].attributes[0].nodeValue + ",";

					if (localFilterFlight.transPoint.length > 0) {
						for (let j = 0; j < localFilterFlight.transPoint.length; j++) {
							if (localFilterFlight.transPoint[j] != document.querySelectorAll('input[name="transPoint"]:checked')[i].attributes[0].nodeValue) {
								localFilterFlight.transPoint.push(document.querySelectorAll('input[name="transPoint"]:checked')[i].attributes[0].nodeValue);
							}
						}
					} else {
						localFilterFlight.transPoint.push(document.querySelectorAll('input[name="transPoint"]:checked')[i].attributes[0].nodeValue);
					}

					request.transitPoint.push(document.querySelectorAll('input[name="transPoint"]:checked')[i].attributes[0].nodeValue);
					transPointParam.value = transPointString;
					console.log(request);
				}
				transPointDisplay.innerHTML = "+" + document.querySelectorAll('input[name="transPoint"]:checked').length;
				transPointDisplay.style.background = "#FF5E1F";
			}
		}
		document.querySelectorAll("input[name=transPoint]").forEach(i => {
			i.onclick = function () {
				getTransPointReq();
			}
		});

		function displayPricePerPasg() {
			pricePerPasgSelection.classList.remove("d-none");
			showPricePerPasgBtn.classList.add("d-none");
			hidePricePerPasgBtn.classList.remove("d-none");
		}

		function hidePricePerPasg() {
			pricePerPasgSelection.classList.add("d-none");
			hidePricePerPasgBtn.classList.add("d-none");
			showPricePerPasgBtn.classList.remove("d-none");
		}

		/*function getPricePerPasgReq(){
			if(document.querySelectorAll('input[name="pricePerPasg"]:checked').length == 0){
				pricePerPasgDisplay.innerHTML = "";
				pricePerPasgDisplay.style.background = "none";
			}else{
				pricePerPasgDisplay.innerHTML = "+" + document.querySelectorAll('input[name="pricePerPasg"]:checked').length;
				pricePerPasgDisplay.style.background = "#FF5E1F";
			}
		}
		document.querySelectorAll("input[name=pricePerPasg]").forEach(i=>{
		 i.onclick = function(){
		  getPricePerPasgReq();
		 }
		});*/

		function flightResetFilter() {
			for (const checkbox of document.querySelectorAll('input[name="transit"]:checked')) {
				checkbox.checked = false;
				transitDisplay.innerHTML = "";
				transitDisplay.style.background = "none";
				request.noOfTransit = '';
			}
			for (const checkbox of document.querySelectorAll('input[name="airline"]:checked')) {
				checkbox.checked = false;
				airlineDisplay.innerHTML = "";
				airlineDisplay.style.background = "none";
				request.airlines = '';
			}
			for (const checkbox of document.querySelectorAll('input[name="facility"]:checked')) {
				checkbox.checked = false;
				facilitiesDisplay.innerHTML = "";
				facilitiesDisplay.style.background = "none";
				request.facilities = '';
			}
			for (const checkbox of document.querySelectorAll('input[name="transPoint"]:checked')) {
				checkbox.checked = false;
				transPointDisplay.innerHTML = "";
				transPointDisplay.style.background = "none";
				request.transitPoint = '';
			}
			for (const checkbox of document.querySelectorAll('input[name="pricePerPasg"]:checked')) {
				checkbox.checked = false;
				pricePerPasgDisplay.innerHTML = "";
				pricePerPasgDisplay.style.background = "none";
				request.pricePerPasg = '';
			}
			console.log(request);
			localFilterFlight.transit = [];
			localFilterFlight.airlines = [];
			localFilterFlight.facilities = [];
			localFilterFlight.transPoint = [];
			localFilterFlight.pricePerPasg = [];

			sendParamToController();
		}

		/*=============================== Send Filter Param to controller ===============================*/
		function sendParamToController() {
			localStorage.setItem("localFilterFlight", JSON.stringify(localFilterFlight));
			filterFlightForm.submit();
		}
		
		function setUser(e){
			localStorage.setItem("user-info", JSON.stringify(user));
		}
		
		function userLogout(cusId){
			let logoutLink = document.getElementById("logout-link");
			let logoutUrl = `http://localhost:8080/user/logout/${cusId}`;
			
			logoutLink.style.cursor = "pointer";
			logoutLink.href = logoutUrl;
			localStorage.removeItem("user-info");
			logoutLink.click();
		}
	</script>
</body>

</html>