<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/lineicons.css}" />
<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
	.bg {
		/* The image used */
		background-image: url("http://localhost:8080/images/admin_login_background.jpg");

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-input {
		border-style: solid;
		border-color: red;
	}

	.cursor-hand {
		cursor: pointer;
	}
</style>

<body>
	<header th:replace="shared/admin_layout::header"> </header>
	<div th:replace="shared/admin_layout::sidebar"> </div>
	<div id="blockUi" class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.20); z-index: 8888" hidden>
		<div class="d-flex justify-content-center" style="margin-top:300px">
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<main class="main-wrapper">
		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="title mb-30">
								<h2>Bill</h2>
							</div>
						</div>
					</div>
				</div>

				<div>
					<table id="billTable" class="table table-hover table-striped pt-2">
						<thead class="table-dark">
							<th>#</th>
							<th>Name</th>
							<th>Phone</th>
							<th>Payment</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="bill : ${resultBill.data}">
								<td th:text="${bill._bil_index}" class="p-2 m-0"></td>
								<td th:text="${bill._cus_full_name}" class="p-2 m-0"></td>
								<td th:text="${bill._cus_phone}" class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div>
										<span
											th:text="${#numbers.formatDecimal(bill._bil_payment,3,'POINT',0,'COMMA')}"></span>
										<span> VND</span>
									</div>
								</td>
								<td th:switch="${bill._bil_status}" class="p-2 m-0">
									<span th:case="1" class="badge badge-success">Paid</span>
									<span th:case="0" class="badge badge-danger">UnPaid</span>
								</td>
								<td th:text="${#dates.format(bill._bil_created_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td th:text="${#dates.format(bill._bil_updated_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" data-bs-toggle="modal"
											data-bs-target="#billInfoModal" onclick="onViewBill(event)">
											<input th:value="${bill._bil_id}" hidden></input>
										</i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>
	<div class="modal fade" id="billInfoModal" tabindex="-1" aria-labelledby="billInfoModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2>Information</h2>
					<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body row">
					<div class="col-12 d-flex justify-content-between">
						<div class="">
							<label for=""><b>Name : </b></label>
							<span id="name"></span>
						</div>
						<div class="">
							<label for=""><b>Payment : </b></label>
							<span id="payment"></h2>
						</div>
						<div class="">
							<label for=""><b>Status : </b></label>
							<span id="status"></h2>
						</div>
					</div>

					<div class="col-12 mt-3" style="overflow:auto;overflow-x: hidden; height:400px;">
						<h3>Ticket</h3>
						<table id="ticketTable" class="table table-hover pt-2">
							<thead class="table-dark">
								<th>#</th>
								<th>Name</th>
								<th>Payment</th>
								<th>Type</th>
								<th>Status</th>
								<th>Action</th>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ticketInfoModal" tabindex="-1" role="dialog" aria-labelledby="ticketIfoModal"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close float-end" aria-label="Close"
						onclick="hideTicketInfoModal()"></button>
				</div>
				<div class="modal-body row">
					<div class="col-8 row">
						<div class="col-12 d-flex justify-content-start">
							<div class="">
								<div><b>Carrier</b></div>
								<div id="ticketCarrier"></div>
							</div>
							<div id="ticketBarcode"></div>
						</div>
						<div class="col-6">
							<div class="">
								<div><b>Name</b></div>
								<div id="ticketName"></div>
							</div>
							<div class="">
								<div><b>From</b></div>
								<div id="ticketFrom"></div>
							</div>
							<div class="">
								<div><b>To</b></div>
								<div id="ticketTo"></div>
							</div>
						</div>
						<div class="col-6 row">
							<div class="col-12 col-12 d-flex justify-content-start">
								<div>
									<div><b>Flight</b></div>
									<div id="ticketFlight"></div>
								</div>
								<div style="margin-left:15px;">
									<div><b>Date</b></div>
									<div id="ticketDate"></div>
								</div>
							</div>

							<div class="col-12 col-12 d-flex justify-content-start">
								<div>
									<div><b>Gate</b></div>
									<div id="ticketGate"></div>
								</div>
								<div style="margin-left:15px;">
									<div><b>Boarding Time</b></div>
									<div id="ticketBoardingTime"></div>
								</div>
							</div>

							<div class="col-12 col-12 d-flex justify-content-start">
								<div>
									<div><b>Seat</b></div>
									<div id="ticketSeat"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4 container-fluid">
						<div class="row">
							<div class="col-12">
								<div id="ticketRightFrom"></div>
							</div>

							<div class="col-12">
								<div id="ticketRightTo"></div>
							</div>

							<div class="col-12">
								<div id=""><b>Name</b></div>
								<div id="ticketRightName"></div>
							</div>

							<div class="col-12 col-12 d-flex justify-content-start">
								<div>
									<div><b>Flight</b></div>
									<div id="ticketRightFlight"></div>
								</div>
								<div style="margin-left:15px;">
									<div><b>Date</b></div>
									<div id="ticketRightDate"></div>
								</div>
							</div>

							<div class="col-12">
								<div><b>Seat</b></div>
								<div id="ticketRightSeat"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9999">

	</div>
	<div th:replace="shared/admin_layout::file_script"></div>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
</body>

</html>
<script th:inline="javascript">
	setLocal("bill", '[[${resultBill}]]');
	CheckPermision();
	new DataTable('#billTable', {

	});

	const $name = $("#name");
	const $payment = $("#payment");
	const $status = $("#status");
	const $billTable = $("#billTable");
	const $ticketTable = $("#ticketTable");
	const $billInfoModal = $("#billInfoModal");
	const getBillStatus = (index) => {
		let status = {}

		switch (index) {
			case 0:
				status.title = "Unpaid";
				status.css = "badge badge-danger";
				break;
			case 1:
				status.title = "Paid";
				status.css = "badge badge-success";
				break;
		}

		return status;
	}

	$billInfoModal[0].addEventListener('hide.bs.modal', function (event) {
		$name[0].innerHTML = '';
		$payment[0].innerHTML = '';
		$status[0].innerHTML = '';
		$ticketTable[0].lastElementChild.innerHTML = '';
	})

	const $ticketInfoModal = $("#ticketInfoModal");
	const $ticketCarrier = $("#ticketCarrier");
	const $ticketBarcode = $("#ticketBarcode");
	const $ticketName = $("#ticketName");
	const $ticketFrom = $("#ticketFrom");
	const $ticketTo = $("#ticketTo");
	const $ticketFlight = $("#ticketFlight");
	const $ticketDate = $("#ticketDate");
	const $ticketGate = $("#ticketGate");
	const $ticketSeat = $("#ticketSeat");
	const $ticketBoardingTime = $("#ticketBoardingTime");
	const $ticketRightName = $("#ticketRightName");
	const $ticketRightFrom = $("#ticketRightFrom");
	const $ticketRightTo = $("#ticketRightTo");
	const $ticketRightFlight = $("#ticketRightFlight");
	const $ticketRightDate = $("#ticketRightDate");
	const $ticketRightSeat = $("#ticketRightSeat");
	let lastElement;
	const hideTicketInfoModal = () => {
		$ticketInfoModal.modal("hide");
		onViewBill(lastElement);
		$billInfoModal.modal("show");
	}

	const showTicketInfoModal = (event) => {
		$ticketInfoModal.modal("show");
		$billInfoModal.modal("hide");
		$ticketName[0].innerHTML = "";
		$ticketDate[0].innerHTML = "";
		$ticketFrom[0].innerHTML = "";
		$ticketTo[0].innerHTML = "";
		$ticketDate[0].innerHTML = "";
		$ticketFlight[0].innerHTML = "";
		$ticketBoardingTime[0].innerHTML = "";
		$ticketGate[0].innerHTML = "";
		$ticketSeat[0].innerHTML = "";

		$ticketRightFrom[0].innerHTML = "";
		$ticketRightTo[0].innerHTML = "";
		$ticketRightFlight[0].innerHTML = "";
		$ticketRightName[0].innerHTML = "";
		$ticketRightSeat[0].innerHTML = "";
		$ticketRightDate[0].innerHTML = "";
		$ticketCarrier[0].innerHTML = "";
		const lastChild = event.lastElementChild;
		const currentId = parseInt(lastChild.value);
		const data = getLocal("billData")
		let selectedTicket;
		for (var item of data) {
			if (item._tk_id == currentId) {
				selectedTicket = item;
			}
		}
		const _fl_id = selectedTicket._tk_fl_id;

		BlockUI();
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/flight/infor",
			data: {_fl_id},
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				const flight = res.data;
				if (res.isSuccess) {
					const flightTime = moment(flight._fl_estimate_take_off)._d.toString().split(" ");
					const boardingTime = moment(flight._fl_estimate_take_off).subtract(120, "minutes").toDate().toString().split(" ")[4].split(":");
					$ticketName[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketDate[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketFrom[0].innerHTML = flight._fl_ap_from_name;
					$ticketTo[0].innerHTML = flight._fl_ap_to_name;
					$ticketDate[0].innerHTML = `${flightTime[2]}${flightTime[1]}`;
					$ticketFlight[0].innerHTML = flight._pl_code;
					$ticketBoardingTime[0].innerHTML = `${boardingTime[0]}:${boardingTime[1]}`;
					$ticketGate[0].innerHTML = selectedTicket._tk_gate;
					$ticketSeat[0].innerHTML = selectedTicket._tk_seat;

					$ticketRightFrom[0].innerHTML = `<b>FR: ${flight._fl_ap_from_name}</b>`;
					$ticketRightTo[0].innerHTML = `<b>TO: ${flight._fl_ap_to_name}</b>`;
					$ticketRightFlight[0].innerHTML = flight._pl_code;
					$ticketRightName[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketRightSeat[0].innerHTML = selectedTicket._tk_seat;
					$ticketRightDate[0].innerHTML = `${flightTime[2]}${flightTime[1]}`;
					$ticketCarrier[0].innerHTML = `${flight._car_name} <img class="cursor-hand" src="${flight._car_icon}" alt=""
											style="width: 50px;height: 50px;" />`;
				}
			},
			error: function (e) {
			}
		});
	}

	const OnTicketReturn = (event) => {
		const lastChild = event.lastElementChild;
		const ids = lastChild.value;

		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/ticket/returnticket",
			data: ids,
			timeout: 100000,
			success: function (res) {
				if (res) {
					successToast("Return ticket Success!");
					const status = `<span class="badge badge-secondary">Returned</span>`
					const action = `<div class="d-flex justify-content-evenly">
							<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
									onclick="showTicketInfoModal(this)">
							<input value="${ids}" hidden></input></i>
					 </div>`;
					const row = event.parentElement.parentElement.parentElement;
					row.children[4].innerHTML = status
					row.children[5].innerHTML = action
				} else {
					failToast("Return ticket Fail!");
				}

				UnBlockUI();
			},
			error: function (e) {
				UnBlockUI();
				failToast("Return ticket Fail!");
			}
		});
	}

	const onViewBill = (e) => {
		const _bil_id = e.target.lastElementChild.value;
		lastElement = e;
		let bill = {};
		for (var item of getLocal("bill").data) {
			if (_bil_id == item._bil_id) {
				bill = item;
				break;
			}
		}
		BlockUI();
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/ticket/gets",
			data: {_bil_id},
			timeout: 100000,
			success: function (res) {
				if (res.isSuccess) {
					$name[0].innerHTML = bill._cus_full_name;
					$payment[0].innerHTML = toVnd(bill._bil_payment);
					const status = getBillStatus(bill._bil_status);
					$status[0].innerHTML = status.title;
					$status.addClass(status.css);
					let template = `<tr>`;
					setLocal("billData", JSON.stringify(res.data))
					for (var item of res.data) {
						let action = `<div class="d-flex justify-content-evenly">
											 	<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
												onclick="showTicketInfoModal(this)">
											<input value="${item._tk_id}" hidden></input></i>
										  </div>`;
						let status = "";
						switch (item._tk_status) {
							case 0:
								status = `<span class="badge badge-danger">UnPaid</span>`
								break;
							case 1:
								status = `<span class="badge badge-success">Paid</span>`
								break;
							case 2:
								status = `<span class="badge badge-warning">Pending</span>`
								break;
							case 3:
								status = `<span class="badge badge-warning">Wait Return</span>`
								action = `<div class="d-flex justify-content-evenly">
											 	<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
													onclick="showTicketInfoModal(this)">
												<input value="${item._tk_id}" hidden></input></i>
												<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
													onclick="OnTicketReturn(this)">
												<input value="${item._tk_id}" hidden></input></i>
										  </div>`;
								break;
							case 4:
								status = `<span class="badge badge-secondary">Returned</span>`
								break;
						}
						const cusName = item._tk_title + " " + item._tk_full_name;
						$ticketTable.append($('<tr>')
							.append($('<td>').addClass("p-2 m-0").append(item._tk_index))
							.append($('<td>').addClass("p-2 m-0").append(cusName))
							.append($('<td>').addClass("p-2 m-0").append(toVnd(item._tk_payment)))
							.append($('<td>').addClass("p-2 m-0").append(item._pas_title))
							.append($('<td>').addClass("p-2 m-0").append(status))
							.append($('<td>').addClass("p-2 m-0").append(action))
						)
					}
				}
				UnBlockUI();
			},
			error: function (e) {

				UnBlockUI();
			}
		});
	}
</script>