<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/lineicons.css}" />
<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
	integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
	.bg {
		/* The image used */
		background-image: url("http://localhost:8080/images/admin_login_background.jpg");

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-input {
		border-style: solid;
		border-color: red;
	}

	.cursor-hand {
		cursor: pointer;
	}
</style>

<body>
	<header th:replace="shared/admin_layout::header"> </header>
	<div th:replace="shared/admin_layout::sidebar"> </div>
	<div id="blockUi" class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.20); z-index: 8888" hidden>
		<div class="d-flex justify-content-center" style="margin-top:300px">
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<main class="main-wrapper">
		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="title mb-30">
								<h2>Plane
									<i class="cursor-hand fa-solid fa-square-plus fa-xl float-end"
										onclick="onEditPlane(this)"> <input value=0 data-bs-title="Insert Flight"
											data-bs-url="http://localhost:8080/api/plane/insert" hidden></input></i>
								</h2>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" id="planeModal" tabindex="-1" aria-labelledby="planeModal" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="planeTitle"></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<form id="planeForm" action="" method="POST">
								<div class="modal-body row">
									<input type="text" id="_pl_id" name="_pl_id" hidden />

									<div class="container">
										<din class="row">
											<div class="col-12">
												<label for="message-text" class="col-form-label"><b>Carrier</b><span
														style="color: red">*</span></label>
												<select id="_pl_carrier_id" name="_pl_carrier_id" class="form-select"
													onchange="checkFlCarrier()">
													<option th:value="0" selected disabled hidden>
														Select Carrier
													</option>
													<option th:each="car : ${resultCarrier.data}"
														th:if="${car._car_status}" th:value="${car._car_id}"
														th:text="${car._car_name}">
													</option>
												</select>
											</div>
											<div class="col-6">
												<label for="recipient-name" class="col-form-label"><b>Code</b><span
														style="color: red">*</span></label>
												<input type="text" id="_pl_code" name="_pl_code" class="form-control" placeholder="eg: A123"
													onchange="checkPlCode()" onkeyup="checkPlCode()">
											</div>
											<div class="col-6">
												<label for="message-text" class="col-form-label"><b>Type</b><span
														style="color: red">*</span></label>
												<select id="_pl_pt_id" name="_pl_pt_id" class="form-select"
													onchange="checkPlaneType()">
													<option th:value="0" selected disabled hidden>
														Select Type
													</option>
													<option th:each="pt : ${resultPlaneType.data}"
														th:if="${pt._pt_status}" th:value="${pt._pt_id}"
														th:text="${pt._pt_name}">
													</option>
												</select>
											</div>
										</din>
									</div>
									<div class="d-flex justify-content-between mb-3">

									</div>
								</div>
								<div class="modal-footer">
									<button type="button" id="btnPlane"
										class="btn btn-info d-flex justify-content-center"
										onclick="OnPlaneSubmit()">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div>
					<table id="planeTable" class="table table-hover table-striped pt-2">
						<thead class="table-dark">
							<th>#</th>
							<th>Code</th>
							<th>Type</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Action</th>
						</thead>
					</table>
				</div>
			</div>
		</section>
		<div class="modal fade" id="planeInfoModal" tabindex="-1" aria-labelledby="planeInfoModal" aria-hidden="true">
			<div class="modal-dialog" hidden>
			</div>
			<div class="container-fluid mt-5">
				<div class="d-flex justify-content-center">
					<div>
						<div class="modal-content">
							<div class="modal-header">
								<h2>Information</h2>
								<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body row" style="width:400px">
								<div class="col-12">
									<div class="d-flex justify-content-start">
										<img id="infoAvatar" class="cursor-hand" src="" alt=""
											style="width: 50px;height: 50px;" />
										<h4 id="infoCarier"></h4>
									</div>
									<div class="row">
										<div class="col-6">
											<label><b>Code : </b></label>
											<div id="infoCode"></div>
										</div>
										<div class="col-6">
											<label><b>Type : </b></label>
											<div id="infoType"></div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label><b>Economy : </b></label>
											<span id="infoEconomy"></span>
										</div>
										<div class="col-6">
											<label><b>S.Economy : </b></label>
											<span id="infoSEconomy"></span>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label><b>Business : </b></label>
											<span id="infoBusiness"></span>
										</div>
										<div class="col-6">
											<label><b>First Class : </b></label>
											<span id="infoFirstClass"></span>
										</div>
									</div>

									<div class="mt-3">
										<button type="button" class="btn btn-info" onclick="onEditPlane(this)">
											<input id="btnEdit" type="text" hidden data-bs-title="Update Plane"
												data-bs-url="http://localhost:8080/plane/update"></input>
											Edit</button>
										<button type="button" class="btn btn-info btnView"
											onclick='showFlightModal(this)'
											data-url="http://localhost:8080/api/flight/getbyplane" data-index="hotel">
											View</button>
									</div>
								</div>
							</div>
						</div>

						<div id="dashboardView" class="modal-content" hidden>
							<div class="modal-header">
								<h2>Dashboard</h2>
								<button type="button" class="btn-close float-end" onclick='hideModal()'
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center">
									<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
										aria-hidden="true"></span>
									<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
										aria-hidden="true"></span>
									<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
										aria-hidden="true"></span>
								</div>
								<div id="dashboardContent">

								</div>
							</div>
						</div>
					</div>


					<div style="padding-left:5px;">
						<div id="modalView" class="" style="padding-left:5px;" hidden>
							<div class="modal-content">
								<div class="modal-header">
									<h2>Flights</h2>
									<button type="button" class="btn-close float-end" onclick='hideModal()'
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="viewDetails"></div>
							</div>
						</div>

						<div id="modalView" class="" style="padding-left:5px;" hidden>
							<div class="modal-content">
								<div class="modal-header">
									<h2>Bills</h2>
									<button type="button" class="btn-close float-end" onclick='hideModal()'
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="viewDetails"></div>
							</div>
						</div>

						<div id="modalView" class="" style="padding-left:5px;" hidden>
							<div class="modal-content">
								<div class="modal-header">
									<h2>Tickets</h2>
									<button type="button" class="btn-close float-end" onclick='hideModal()'
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="viewDetails"></div>
							</div>
						</div>

						<div id="modalView" class="" style="padding-left:5px;" hidden>
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="btn-close float-end" aria-label="Close"></button>
								</div>
								<div class="modal-body" id="viewDetails"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="flightModal" aria-labelledby="flightModal" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="flightTitle"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form id="flightForm" action="" method="POST" enctype="multipart/form-data">
						<div class="modal-body row">
							<input type="text" id="_fl_id" name="_fl_id" hidden />
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Carrier</b><span
										style="color: red">*</span></label>
								<select id="_fl_carrier_id" name="_fl_carrier_id" class="form-select"
									onchange="onSelectCarrier()">
									<option th:value="0" selected disabled hidden>
										Select Carrier
									</option>
									<option th:each="car : ${resultCarrier.data}" th:if="${car._car_status}"
										th:value="${car._car_id}" th:text="${car._car_name}">
									</option>
								</select>
							</div>
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Plane</b><span
										style="color: red">*</span></label>
								<select id="_fl_plane_id" name="_fl_plane_id" class="form-select"
									onchange="checkPlane()">
									<option th:value="0" selected disabled hidden>
										Select Plane
									</option>
								</select>
							</div>

							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Departure</b><span
										style="color: red">*</span></label>
								<select id="_fl_from_id" name="_fl_from_id" class="form-select"
									onchange="checkFromCity()">
									<option th:value="0" selected disabled hidden>
										Select City
									</option>
									<option th:each="airport : ${resultAirport.data}" th:if="${airport._ap_status}"
										th:value="${airport._ap_id}" th:text="${airport._ap_full_name}">
									</option>
								</select>
							</div>
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Destination</b><span
										style="color: red">*</span></label>
								<select id="_fl_to_id" name="_fl_to_id" class="form-select" onchange="checkToCity()">
									<option th:value="0" selected disabled hidden>
										Select City
									</option>
									<option th:each="airport : ${resultAirport.data}" th:if="${airport._ap_status}"
										th:value="${airport._ap_id}" th:text="${airport._ap_full_name}">
									</option>
								</select>
							</div>

							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Take Off</b><span
										style="color: red">*</span></label>
								<input class="form-control" type="datetime-local" id="_fl_take_off" name="_fl_take_off"
									onchange="checkTakeOff()" onblur="checkTakeOff()" />
							</div>
							<div class="col-6">
								<label for="message-text" class="col-form-label"><b>Arrival</b><span
										style="color: red">*</span></label>
								<input class="form-control" type="datetime-local" id="_fl_arrival" name="_fl_arrival"
									onchange="checkArrival()" onblur="checkArrival()" />
							</div>

							<div class="col-12">
								<label for="message-text" class="col-form-label"><b>Services</b></label>
								<select id="_fl_services" name="_fl_services" class="select2 select2-arrow form-control"
									multiple>
									<option th:each="service : ${resultService.data}" th:if="${service._ser_status}"
										th:value="${service._ser_id}" th:text="${service._ser_name}">
									</option>
								</select>
							</div>

							<div class="col-12 row m-0 p-0">
								<div class="col-6 row m-0 p-0">
									<div class="col-6">
										<label for="message-text" class="col-form-label"><b>Economy
												Price</b><span style="color: red">*</span></label>
										<input min="0" max="10000000" class="form-control" type="number"
											id="_fl_ec_price" name="_fl_ec_price" onchange="checkEcPrice()"
											onkeyup="checkEcPrice()" />
									</div>
									<div class="col-6 float-end">
										<label for="message-text" class="col-form-label"><b>S.Economy
												Price</b><span style="color: red">*</span></label>
										<input min="0" max="10000000" class="form-control" type="number"
											id="_fl_sc_price" name="_fl_sc_price" onchange="checkScPrice()"
											onkeyup="checkScPrice()" />
									</div>
								</div>
								<div class="col-6 row m-0 p-0">
									<div class="col-6">
										<label for="message-text" class="col-form-label"><b>Business
												Price</b><span style="color: red">*</span></label>
										<input min="0" max="10000000" class="form-control" type="number"
											id="_fl_bs_price" name="_fl_bs_price" onchange="checkBsPrice()"
											onkeyup="checkBsPrice()" />
									</div>
									<div class="col-6  float-end">
										<label for="message-text" class="col-form-label"><b>First Class
												Price</b><span style="color: red">*</span></label>
										<input min="0" max="10000000" class="form-control" type="number"
											id="_fl_fc_price" name="_fl_fc_price" onchange="checkFcPrice()"
											onkeyup="checkFcPrice()" />
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<span style="color:red;" id="result"></span>
							<button type="button" id="btnFlight" class="btn btn-info d-flex justify-content-center"
								onclick="OnFlightSubmit()">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="flightInfoModal" tabindex="-1" aria-labelledby="flightInfoModal" aria-hidden="true">
			<div class="container-fluid mt-5">
				<div class="d-flex justify-content-center">
					<div>
						<div class="modal-content">
							<div class="modal-header">
								<h2>Information</h2>
								<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body row" style="width:400px;">

								<div class="col-12">
									<div class="d-flex justify-content-start">
										<img id="infoFlightAvatar" class="cursor-hand" src="" alt=""
											style="width: 50px;height: 50px;" />
										<h4 id="infoFlightCarier"></h4>
									</div>
									<div class="row">
										<div class="col-6">
											<label><b>Flight : </b></label>
											<span id="infoFlight"></span>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label><b>From : </b></label>
											<div id="infoFrom"></div>
										</div>
										<div class="col-6">
											<label><b>To : </b></label>
											<div id="infoTo"></div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-6">
											<label><b>Take Off : </b></label>
											<div id="infoTakeOff"></div>
										</div>
										<div class="col-6">
											<label><b>Arrival : </b></label>
											<div id="infoArrival"></div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label><b>Carbin : </b></label>
											<span id="infoCarbin"></span>
										</div>
										<div class="col-6">
											<label><b>Checked : </b></label>
											<span id="infoCheck"></span>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label><b>Economy : </b></label>
											<div id="infoFlightEconomy"></div>
										</div>
										<div class="col-6">
											<label><b>S.Economy : </b></label>
											<div id="infoFlightSEconomy"></div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label><b>Business : </b></label>
											<div id="infoFlightBusiness"></div>
										</div>
										<div class="col-6">
											<label><b>First Class : </b></label>
											<div id="infoFlightFirstClass"></div>
										</div>
									</div>

									<div class="row">
										<div class="col-12">
											<label><b>Services : </b></label>
											<div id="infoService"></div>
										</div>
									</div>

									<div class="mt-3 float-end">
										<button type="button" class="btn btn-info" onclick="onEditFlight(this)">
											<input id="btnFlightEdit" type="text" hidden data-bs-title="Update Flight"
												data-bs-url="http://localhost:8080/api/flight/update"></input>
											Edit</button>
										<button type="button" class="btn btn-info btnFlightView"
											onclick='showBillModal(this)'
											data-url="http://localhost:8080/api/bill/getbyflight" data-index="hotel">
											View</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div style="padding-left:5px;">
						<div id="" class="modal-dialog modal-xl " hidden>
							<div class="modal-content modal-xl">
								<div class="modal-header">
									<h2>Tickets</h2>
									<button type="button" class="btn-close float-end" 
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id=""></div>
							</div>
						</div>
						<div id="modalFlightView" hidden>
							<div class="modal-content modal-md">
								<div class="modal-header">
									<h2>Details</h2>
									<button type="button" class="btn-close float-end" onclick='hideModal()'
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="viewFlightDetails"></div>
							</div>
						</div>

						<div id="customerBillInfoModal" hidden>
							<div class="modal-content modal-xl">
								<div class="modal-header">
									<h2>Tickets</h2>
									<button type="button" class="btn-close float-end" onclick='hideBillInfoModal()'
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="viewFlightBills"></div>
							</div>
						</div>

						<div id="ticketInfoModal" hidden>
							<div class="modal-content modal-xl">
								<div class="modal-header">
									<button type="button" class="btn-close float-end" onclick='hideTicketInfoModal()'
										aria-label="Close"></button>
								</div>
								<div class="modal-body row">
									<div class="col-8 row">
										<div class="col-12 d-flex justify-content-start">
											<div class="">
												<div><b>Carrier</b></div>
												<div id="ticketCarrier"></div>
											</div>
											<div id="ticketBarcode"></div>
										</div>
										<div class="col-6">
											<div class="">
												<div><b>Name</b></div>
												<div id="ticketName"></div>
											</div>
											<div class="">
												<div><b>From</b></div>
												<div id="ticketFrom"></div>
											</div>
											<div class="">
												<div><b>To</b></div>
												<div id="ticketTo"></div>
											</div>
										</div>
										<div class="col-6 row">
											<div class="col-12 col-12 d-flex justify-content-start">
												<div>
													<div><b>Flight</b></div>
													<div id="ticketFlight"></div>
												</div>
												<div style="margin-left:15px;">
													<div><b>Date</b></div>
													<div id="ticketDate"></div>
												</div>
											</div>

											<div class="col-12 col-12 d-flex justify-content-start">
												<div>
													<div><b>Gate</b></div>
													<div id="ticketGate"></div>
												</div>
												<div style="margin-left:15px;">
													<div><b>Boarding Time</b></div>
													<div id="ticketBoardingTime"></div>
												</div>
											</div>

											<div class="col-12 col-12 d-flex justify-content-start">
												<div>
													<div><b>Seat</b></div>
													<div id="ticketSeat"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4 container-fluid">
										<div class="row">
											<div class="col-12">
												<div id="ticketRightFrom"></div>
											</div>

											<div class="col-12">
												<div id="ticketRightTo"></div>
											</div>

											<div class="col-12">
												<div id=""><b>Name</b></div>
												<div id="ticketRightName"></div>
											</div>

											<div class="col-12 col-12 d-flex justify-content-start">
												<div>
													<div><b>Flight</b></div>
													<div id="ticketRightFlight"></div>
												</div>
												<div style="margin-left:15px;">
													<div><b>Date</b></div>
													<div id="ticketRightDate"></div>
												</div>
											</div>

											<div class="col-12">
												<div><b>Seat</b></div>
												<div id="ticketRightSeat"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9999">

		</div>
	</main>
	<div th:replace="shared/admin_layout::file_script"></div>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"
		integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
<script th:inline="javascript">
	setLocal("plane", '[[${resultPlane}]]');
	CheckPermision();
	let planeGetUrl = 'http://localhost:8080/api/plane/gets';
	let columns = [
		{"data": "_pl_index"},
		{"data": "_pl_plane"},
		{"data": "_pt_name"},
		{"data": "_pl_status_string"},
		{"data": "_pl_created_timestamp"},
		{"data": "_pl_updated_timestamp"},
		{"data": "_pl_action"},
	]

	let planeTable = new DataTable('#planeTable', {
		ajax: {
			type: 'GET',
			url: planeGetUrl,
			dataFilter: function (res) {
				const Res = JSON.parse(res);
				const data = Res.data;
				const currentData = [];
				if (Res.isSuccess) {
					for (var item of data) {
						var _pl_status_string = '';
						switch (item._pl_status) {
							case false:
								_pl_status_string = `<span class="badge badge-danger">Deactive</span>`
								break;
							case true:
								_pl_status_string = `<span class="badge badge-success">Active</span>`
								break;
						}

						const _pl_plane = `<div class="d-flex">
										<img src="${item._car_icon}" style="width: 50px; height: auto;" />
										<span >${item._pl_code}</span>
									</div>`

						const _pl_action = `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-pen-to-square fa-2xl" style="color: #00c217;"
											onclick="onEditPlane(this)"> 
											<input value="${item._pl_id}" data-bs-title="Update Plane"
												data-bs-url="http://localhost:8080/api/plane/update" hidden></input></i>
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
											onclick="onShowPlaneInfo(this)">
											<input value="${item._pl_id}" hidden></input>
										</i>
										<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
											onclick="OnPlaneChangeStatus(event)">
											<input value="${item._pl_id}" hidden></input></i>
									</div>`
						const currentItem = {
							...item,
							_pl_status_string: _pl_status_string,
							_pl_plane: _pl_plane,
							_pl_action: _pl_action
						}
						currentData.push(currentItem)
					}
				}
				return JSON.stringify({
					//draw: skipAjaxDrawValue,
					data: currentData,
					//recordsTotal: response.recordsTotal,
					//recordsFiltered: response.recordsFiltered
				});
			}
		},
		columns: columns
	});

	const $planeModal = $('#planeModal');
	const $_pl_id = $("#_pl_id");
	const $_pl_carrier_id = $("#_pl_carrier_id");
	const $_pl_code = $("#_pl_code");
	const $_pl_pt_id = $("#_pl_pt_id");
	const $btnPlane = $("#btnPlane");
	const $planeForm = $("#planeForm");

	const $planeInfoModal = $("#planeInfoModal");
	const $infoCarier = $("#infoCarier");
	const $infoCode = $("#infoCode");
	const $infoType = $("#infoType");
	const $infoEconomy = $("#infoEconomy");
	const $infoSEconomy = $("#infoSEconomy");
	const $infoBusiness = $("#infoBusiness");
	const $infoFirstClass = $("#infoFirstClass");
	const $infoAddress = $("#infoAddress");
	const $infoAvatar = $("#infoAvatar");
	const $modalView = $("#modalView");
	const $dashboardView = $("#dashboardView");
	const $dashboardLoading = $(".dashboardLoading");
	const $dashboardContent = $("#dashboardContent");
	const $btnEdit = $("#btnEdit");
	const $btnView = $(".btnView");
	const $viewDetails = $("#viewDetails");
	const tableTemplate = `<table id="modalViewTable" style="width : 100%;"
								class="table table-hover table-striped pt-2">
								<thead class="table-dark">
									<th>#</th>
									<th style="width : 200px;">From - To</th>
									<th style="width : 200px;">Status</th>
									<th>Action</th>
								</thead>
							</table>`;
	let editInput;
	let lastChild;
	const onShowPlaneInfo = (event) => {
		lastChild = event.lastElementChild;
		$planeInfoModal.modal("show");
	}

	$planeInfoModal[0].addEventListener('show.bs.modal', function (event) {
		const currentId = lastChild.value;
		$btnEdit.val(currentId);
		$modalView[0].hidden = true;
		$dashboardView[0].hidden = true;
		for (var item of getLocal("plane").data) {
			if (currentId == item._pl_id) {
				$infoAvatar.attr('src', item._car_icon);
				$infoCarier[0].innerHTML = item._car_name;
				$infoCode[0].innerHTML = item._pl_code;
				$infoType[0].innerHTML = item._pt_name;
				$infoEconomy[0].innerHTML = item._pt_sc_quantity;
				$infoSEconomy[0].innerHTML = item._pt_ec_quantity;
				$infoBusiness[0].innerHTML = item._pt_bs_quantity;
				$infoFirstClass[0].innerHTML = item._pt_fc_quantity;
				$btnView.val(item._pl_id);
				break;
			}
		}
	});
	let currentChart;
	let currentIndex;
	const onSelectDashboard = () => {
		const $dashboardType = $("#dashboardType");
		const $dashboardYear = $("#dashboardYear");
		const $dashboardChart = $("#dashboardChart");

		const selectedYear = $dashboardYear.val();
		const payment = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
		const res = getLocal("billData");
		for (var item of res.data) {
			const currentDay = item._bil_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (selectedYear == year) {
				if ($dashboardType.val() == 'payment')
					payment[parseInt(currentDay[1]) - 1] += item._bil_payment;
				else
					payment[parseInt(currentDay[1]) - 1] += 1;
			}
		}

		if (currentChart) {
			for (var index = 0; index < 12; index++) {
				currentChart.data.datasets[0].data[index] = payment[index];
			}
			currentChart.update();
		}
	}

	const hideFlightModal = () => {
		$modalView[0].hidden = true;
		//$dashboardView[0].hidden = true;
		$dashboardContent[0].hidden = true;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
	}

	let flightTabel;
	let lastFlight;
	let lastPlaneElement;
	const showFlightModal = (event) => {
		$modalView[0].hidden = false;
		lastPlaneElement = event;
		//$dashboardView[0].hidden = false;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
		$viewDetails[0].innerHTML = tableTemplate
		const url = event.getAttribute('data-url');
		let columns = [
			{"data": "_fl_index"},
			{"data": "_fl_from_to"},
			{"data": "_fl_status_string"},
			{"data": "_fl_action"},
		]

		lastFlight = event.value;
		flightTabel = $("#modalViewTable").on('processing.dt', function (res, settings, processing) {
			const tableTd = $('#modalViewTable td')
			if (!processing && tableTd.length >= 1) {
			}
		}).DataTable({
			ajax: {
				type: 'GET',
				data: {_pl_id: event.value},
				url: url,
				dataFilter: function (res) {
					const Res = JSON.parse(res);
					const data = Res.data;
					setLocal("flightData", JSON.stringify(Res.data));
					const currentData = [];
					if (Res.isSuccess) {
						for (var item of data) {
							var _fl_status_string = '';
							switch (item._fl_status) {
								case 0:
									_fl_status_string = `<span th:case="0" class="badge badge-info">In Fly</span>`
									break;
								case 1:
									_fl_status_string = `<span th:case="1" class="badge badge-success">Free</span>`
									break
								case 2:
									_fl_status_string = `<span th:case="2" class="badge badge-secondary">Arrival</span>`
								case 4:
									_fl_status_string = `<span th:case="4" class="badge badge-danger">Cancel</span>`
									break;
							}
							var _fl_from_to = `${item._fl_from_full_name} - ${item._fl_to_full_name}`;

							const currentItem = {
								...item,
								_fl_from_to: _fl_from_to,
								_fl_status_string: _fl_status_string,
								_fl_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-pen-to-square fa-2xl" style="color: #00c217;"
											onclick="onEditFlight(this)">
											<input value="${item._fl_id}" data-bs-title="Update Flight"
												data-bs-url="http://localhost:8080/api/flight/update" hidden></input></i>
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
											onclick="onShowFlightInfo(this)">
											<input value="${item._fl_id}" hidden></input>
										</i>
										<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
											onclick="OnFlightChangeStatus(event)">
											<input value="${item._fl_id}" hidden></input></i>
									</div>`}
							currentData.push(currentItem)
						}
					}
					return JSON.stringify({
						//draw: skipAjaxDrawValue,
						data: currentData,
						//recordsTotal: response.recordsTotal,
						//recordsFiltered: response.recordsFiltered
					});
				}
			},
			columns: columns,
		});
	}

	const getChart = (data) => {
		const res = {
			payment: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			years: [],
			year: 0,
		}
		for (var item of data) {
			const currentDay = item._bil_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (!res.years.find(x => x == year)) {
				res.years.push(year);
			}
		}
		res.year = Math.max(...res.years);
		for (var item of data) {
			for (var dataItem of res.payment) {
				const currentDay = item._bil_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (res.year == year) {
					res.payment[currentDay[1] - 1] += item._bil_payment;
					break;
				}
			}
		}
		return res;
	}

	const onEditPlane = (event) => {
		editInput = event.firstElementChild;

		$planeInfoModal.modal("hide");
		$planeModal.modal("show");
	}

	$planeModal[0].addEventListener('show.bs.modal', function (event) {

		const title = editInput.getAttribute('data-bs-title');
		const url = editInput.getAttribute('data-bs-url');
		const $modalTitle = $('#planeTitle');
		if (editInput) {
			const currentId = editInput.value;
			for (var item of getLocal("plane").data) {
				if (currentId == item._pl_id) {
					$_pl_id.val(item._pl_id);
					$_pl_code.val(item._pl_code);
					setupSelect($_pl_pt_id, item._pt_id);
					setupSelect($_pl_carrier_id, item._car_id);
					break;
				}
			}
		}

		$planeForm[0].action = url;
		$btnPlane.val(url);
		$modalTitle[0].innerHTML = title;
	})

	$planeModal[0].addEventListener('hide.bs.modal', function (event) {
		$_pl_id.val(0);
		$_pl_code.val("");
		
		RemoveError($_pl_code);
		RemoveError($_pl_carrier_id);
		RemoveError($_pl_pt_id);
	})

	const checkPlCode = () => {
		const _pl_code = $_pl_code.val();
		let check = false;
		if (_pl_code == '') {
			AddError($_pl_code, "Code is Required.");
		}
		else if (_pl_code.length > 5) {
			AddError($_pl_code, "Max length 50 letters.");
		}
		else {
			RemoveError($_pl_code);
			check = true;
		}

		return check;
	}

	const checkCarrier = () => {
		const _pl_carrier_id = $_pl_carrier_id[0].value;

		let check = false;
		if (_pl_carrier_id == 0) {
			AddError($_pl_carrier_id, "Please select Carrier.");
		}
		else {
			RemoveError($_pl_carrier_id);
			check = true;
		}

		return check;
	}

	const checkPlaneType = () => {
		const _pl_pt_id = $_pl_pt_id[0].value;

		let check = false;
		if (_pl_pt_id == 0) {
			AddError($_pl_pt_id, "Please select Type.");
		}
		else {
			RemoveError($_pl_pt_id);
			check = true;
		}

		return check;
	}

	const OnPlaneSubmit = () => {
		const isCode = checkPlCode();
		const isCarrier = checkCarrier();
		const isPlaneType = checkPlaneType();
		if (!isCode || !checkCarrier || !isPlaneType) {
			return
		}
		const btnPlane = $btnPlane[0];
		AddSpiner(btnPlane);
		const url = $planeForm[0].action;
		BlockUI();
		const _pl_id = $_pl_id.val();
		const _pl_code = $_pl_code.val();
		const _pl_carrier_id = parseInt($_pl_carrier_id.val());
		const _pl_pt_id = parseInt($_pl_pt_id.val());
		const plane = {_pl_id, _pl_code, _pl_carrier_id, _pl_pt_id}

		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: url,
			data: JSON.stringify(plane),
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				RemoveSpiner(btnPlane);
				if (res.isSuccess) {
					successToast(res.mes);
					planeTable.ajax.reload();
					var currentId = res.data._fl_id;
					var localData = getLocal("plane");
					var currentData = localData.data;
					var data = currentData.filter(x => x._pl_id != currentId);
					data.push(res.data);
					localData.data = data;

					setLocal("plane", JSON.stringify(localData));
				} else {
					failToast(res.mes);
				}
			},
			error: function (e) {
				var res = JSON.parse(e.responseText);
				UnBlockUI();
				RemoveSpiner(btnPlane);
				if (res.isSuccess) {
					successToast(res.mes);
					planeTable.ajax.reload();
				} else {
					failToast(res.mes);
				}
			}
		});
	}

	const OnPlaneChangeStatus = (e) => {
		const _pl_id = e.target.lastElementChild.value;
		let _pl_status = false;
		for (var item of getLocal("plane").data) {
			if (_pl_id == item._pl_id) {
				_pl_status = !item._pl_status
				break;
			}
		}

		const plane = {_pl_id, _pl_status};
		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/plane/changestatus",
			data: JSON.stringify(plane),
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				if (res.isSuccess) {
					successToast(res.mes);
					planeTable.ajax.reload();
					var currentId = res.data._pl_id;
					var localData = getLocal("plane");
					var currentData = localData.data;
					var data = currentData.filter(x => x._pl_id != currentId);
					data.push(res.data);
					localData.data = data;

					setLocal("plane", JSON.stringify(localData));
				} else {
					failToast(res.mes);
				}
			},
			error: function (e) {
				var res = JSON.parse(e.responseText);
				UnBlockUI();
				if (res.isSuccess) {
					successToast(res.mes);
					planeTable.ajax.reload();
				} else {
					failToast(res.mes);
				}
				UnBlockUI();
			}
		});
	}
	setLocal("service", '[[${resultService}]]');
	setLocal("airport", '[[${resultAirport}]]');
	const $flightModal = $('#flightModal');
	const $_fl_id = $('#_fl_id');
	const $_fl_carrier_id = $('#_fl_carrier_id');
	const $_fl_plane_id = $("#_fl_plane_id");
	const $_fl_from_id = $("#_fl_from_id");
	const $_fl_to_id = $("#_fl_to_id");
	const $_fl_take_off = $("#_fl_take_off");
	const $_fl_arrival = $("#_fl_arrival");
	const $_fl_ec_price = $("#_fl_ec_price");
	const $_fl_sc_price = $("#_fl_sc_price");
	const $_fl_bs_price = $("#_fl_bs_price");
	const $_fl_fc_price = $("#_fl_fc_price");
	const $_fl_services = $("#_fl_services");
	const $result = $("#result");
	const $btnFlight = $("#btnFlight");
	const $flightForm = $("#flightForm");

	const $flightInfoModal = $("#flightInfoModal");
	const $infoFlightAvatar = $("#infoFlightAvatar");
	const $infoFlightCarier = $("#infoFlightCarier");
	const $infoFlight = $("#infoFlight");
	const $infoFrom = $("#infoFrom");
	const $infoTo = $("#infoTo");
	const $infoTakeOff = $("#infoTakeOff");
	const $infoArrival = $("#infoArrival");
	const $infoCarbin = $("#infoCarbin");
	const $infoCheck = $("#infoCheck");
	const $infoFlightEconomy = $("#infoFlightEconomy");
	const $infoFlightSEconomy = $("#infoFlightSEconomy");
	const $infoFlightBusiness = $("#infoFlightBusiness");
	const $infoFlightFirstClass = $("#infoFlightFirstClass");
	const $infoService = $("#infoService");
	//const $modalView = $("#modalView");
	//const $dashboardView = $("#dashboardView");
	//const $dashboardLoading = $(".dashboardLoading");
	//const $dashboardContent = $("#dashboardContent");
	const $btnFlightEdit = $("#btnEdit");
	const $btnFlightView = $(".btnFlightView");
	const $modalFlightView = $("#modalFlightView");
	const $viewFlightDetails = $("#viewFlightDetails");
	const tableFlightTemplate = `<table id="modalFlightViewTable" style="width : 100%;"
								class="table table-hover table-striped pt-2">
								<thead class="table-dark">
									<th>#</th>
									<th style="width : 200px;">Name</th>
									<th style="width : 100px;">Payment</th>
									<th style="width : 100px;">Status</th>
									<th style="width : 200px;">Date</th>
									<th>Action</th>
								</thead>
							</table>`;

	const $customerBillInfoModal = $("#customerBillInfoModal");
	const $ticketInfoModal = $("#ticketInfoModal");
	const $viewFlightBills = $("#viewFlightBills");

	const viewTicketTempalteFlight = `<table id="tableViewTicket" style="width : 100%;" class="table table-hover table-striped pt-2">
							<thead class="table-dark">
								<th style="width : 200px;">Name</th>
								<th style="width : 100px;">Payment</th>
								<th style="width : 100px;">Passenger</th>
								<th style="width : 200px;">Date</th>
								<th style="width : 200px;">Status</th>
								<th style="width : 200px;">Action</th>
							</thead>
						</table>`
	var Utils = $.fn.select2.amd.require('select2/utils');
	var Dropdown = $.fn.select2.amd.require('select2/dropdown');
	var DropdownSearch = $.fn.select2.amd.require('select2/dropdown/search');
	var CloseOnSelect = $.fn.select2.amd.require('select2/dropdown/closeOnSelect');
	var AttachBody = $.fn.select2.amd.require('select2/dropdown/attachBody');

	var dropdownAdapter = Utils.Decorate(Utils.Decorate(Utils.Decorate(Dropdown, DropdownSearch), CloseOnSelect), AttachBody);
	$_fl_services.select2({
		width: '100%',
		placeholder: "Select Service",
		allowClear: true,
		dropdownParent: $flightModal,
		dropdownAutoWidth: 'true',
		dropdownAdapter: dropdownAdapter,
	});
	$_fl_services.on('select2:open', function (e) {
		$(".select2-search__field").css("width", "100%");
	});
	$(".select2-search__field").css("width", "100%")

	let flightInput;
	const onEditFlight = (event) => {
		flightInput = event.firstElementChild;
		$flightModal.modal("show");
	}

	const onShowFlightInfo = (event) => {
		flightInput = event.lastElementChild;
		$flightInfoModal.modal("show");
		$planeInfoModal.modal("hide");
	}

	$flightModal[0].addEventListener('show.bs.modal', function (event) {
		const _fl_id = flightInput.getAttribute('data-bs-id');
		const title = flightInput.getAttribute('data-bs-title');
		const url = flightInput.getAttribute('data-bs-url');
		const $modalTitle = $('#flightTitle');
		if (flightInput) {
			const currentId = flightInput.value;
			for (var item of getLocal("flightData")) {
				if (currentId == item._fl_id) {
					$_fl_id.val(item._fl_id);
					$_fl_take_off.val(item._fl_take_off);
					$_fl_arrival.val(item._fl_arrival);
					$_fl_ec_price.val(item._fl_ec_price);
					$_fl_sc_price.val(item._fl_sc_price);
					$_fl_bs_price.val(item._fl_bs_price);
					$_fl_fc_price.val(item._fl_fc_price);
					setupSelect($_fl_carrier_id, item._car_id);
					$_fl_plane_id.empty();
					let currentPlane = [];
					for (var plane of getLocal("plane").data) {
						if (plane._car_id == item._car_id) {
							$('<option/>').val(plane._pl_id).text(plane._pl_code).appendTo('#_fl_plane_id')
						}
					}
					setupSelect($_fl_plane_id, item._pl_id);
					setupSelect($_fl_from_id, item._fl_from_id);
					setupSelect($_fl_to_id, item._fl_to_id);
					setupSelect($_fl_plane_id, item._fl_plane_id);
					$_fl_take_off.val(moment(item._fl_take_off).format(dateFormat));
					$_fl_arrival.val(moment(item._fl_arrival).format(dateFormat));
					$_fl_services.val(item._fl_services.split(','));
					$_fl_services.trigger('change');
					break;
				}
			}
		}

		$flightForm[0].action = url;
		$btnFlight.val(url);
		$modalTitle[0].innerHTML = title;
	})
	
	const hideModal = () => {
		$modalView[0].hidden = true;
	}
	
	$flightInfoModal[0].addEventListener('hide.bs.modal', function (event) {
		$planeInfoModal.modal("show");
		$(".btnView").click();
	})

	$flightInfoModal[0].addEventListener('show.bs.modal', function (event) {
		const currentId = flightInput.value;
		$btnEdit.val(currentId);
		for (var item of getLocal("flightData")) {
			if (currentId == item._fl_id) {
				console.log(item)
				$infoFlightAvatar.attr('src', item._car_icon);
				$infoFlightCarier[0].innerHTML = item._car_name;
				$infoFlight[0].innerHTML = item._pl_code;
				$infoFrom[0].innerHTML = item._fl_from_full_name;
				$infoTo[0].innerHTML = item._fl_to_full_name;
				$infoTakeOff[0].innerHTML = item._fl_take_off_timestamp;
				$infoArrival[0].innerHTML = item._fl_arrival_timestamp;
				$infoCarbin[0].innerHTML = item._car_carbin + " Kg";
				$infoCheck[0].innerHTML = item._car_checked + " Kg";
				$infoFlightEconomy[0].innerHTML = item._fl_ec_sold + " / " + item._pt_ec_quantity;
				$infoFlightSEconomy[0].innerHTML = item._fl_sc_sold + " / " + item._pt_sc_quantity;
				$infoFlightBusiness[0].innerHTML = item._fl_bs_sold + " / " + item._pt_bs_quantity;
				$infoFlightFirstClass[0].innerHTML = item._fl_fc_sold + " / " + item._pt_fc_quantity;
				const services = item._fl_services.split(",");
				let serviceTemplate = '';
				for (var ser of getLocal("service").data) {
					for (var index of services) {
						if (ser._ser_id == index) {
							const template = `<div class="d-flex">
											  <img class="float-start" src="${ser._ser_icon}" alt=""
													style="width: 25px; height: 25px;" />
											  <span>${ser._ser_name}</span>
										  </div>`;
							serviceTemplate += template;
						}
					}
				}

				$infoService[0].innerHTML = serviceTemplate;
				$btnFlightView.val(item._fl_id);
				break;
			}
		}
	});

	const hideBillModal = () => {
		$modalFlightView[0].hidden = true;
	}

	let flightid;

	const showBillModal = (event) => {
		$modalFlightView[0].hidden = false;
		$viewFlightDetails[0].innerHTML = tableFlightTemplate
		const url = event.getAttribute('data-url');

		let columns = [
			{"data": "_bil_index"},
			{"data": "_cus_full_name"},
			{"data": "_bil_payment_string"},
			{"data": "_bil_status_string"},
			{"data": "_bil_updated_timestamp"},
			{"data": "_bil_action"},
		]

		$("#modalFlightViewTable").on('processing.dt', function (res, settings, processing) {
			const tableTd = $('#modalViewTable td')
			if (!processing && tableTd.length >= 1) {

			}
		}).DataTable({
			ajax: {
				type: 'GET',
				data: {_fl_id: event.value},
				url: url,
				dataFilter: function (res) {
					setLocal("billData", res);
					const Res = JSON.parse(res);
					const data = Res.data;
					console.log(data)
					let _fl_ec_sold, _fl_sc_sold, _fl_bs_sold, _fl_fc_sold;
					if (data.length > 0) {
						for (var item of data) {
							if (event.value == item._fl_id) {
								_fl_ec_sold = item._fl_ec_sold;
								_fl_sc_sold = item._fl_sc_sold;
								_fl_bs_sold = item._fl_bs_sold;
								_fl_fc_sold = item._fl_fc_sold;
								break;
							}
						}

						for (var item of getLocal("flight").data) {
							if (event.value == item._fl_id) {
								$infoAvatar.attr('src', item._car_icon);
								$infoCarier[0].innerHTML = item._car_name;
								$infoFlight[0].innerHTML = item._pl_code;
								$infoFrom[0].innerHTML = item._fl_from_full_name;
								$infoTo[0].innerHTML = item._fl_to_full_name;
								$infoCarbin[0].innerHTML = item._car_carbin + " Kg";
								$infoCheck[0].innerHTML = item._car_checked + " Kg";
								$infoEconomy[0].innerHTML = _fl_ec_sold + " / " + item._pt_ec_quantity;
								$infoSEconomy[0].innerHTML = _fl_sc_sold + " / " + item._pt_sc_quantity;
								$infoBusiness[0].innerHTML = _fl_bs_sold + " / " + item._pt_bs_quantity;
								$infoFirstClass[0].innerHTML = _fl_fc_sold + " / " + item._pt_fc_quantity;
								const services = item._fl_services.split(",");
								let serviceTemplate = '';
								for (var ser of getLocal("service").data) {
									for (var index of services) {
										if (ser._ser_id == index) {
											const template = `<div class="d-flex">
											  <img class="float-start" src="${ser._ser_icon}" alt=""
													style="width: 25px; height: 25px;" />
											  <span>${ser._ser_name}</span>
										  </div>`;
											serviceTemplate += template;
										}
									}
								}

								$infoService[0].innerHTML = serviceTemplate;
								$btnFlightView.val(item._fl_id);
								break;
							}
						}
					}

					const currentData = [];
					if (Res.isSuccess) {
						for (var item of data) {
							var _bil_status_string = '';
							switch (item._bil_status) {
								case 0:
									_bil_status_string = `<span class="badge badge-danger">Unpaid</span>`
									break;
								case 1:
									_bil_status_string = `<span class="badge badge-success">Paid</span>`
									break;
							}
							const currentItem = {
								...item,
								_bil_status_string: _bil_status_string,
								_bil_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" onclick="showBillInfoModal(this)">
											<input value="${item._bil_id}" hidden></input>
										</i>
									</div>`}
							currentData.push(currentItem)
						}
					}
					return JSON.stringify({
						//draw: skipAjaxDrawValue,
						data: currentData,
						//recordsTotal: response.recordsTotal,
						//recordsFiltered: response.recordsFiltered
					});
				}
			},
			columns: columns,
		});
	}

	const $ticketCarrier = $("#ticketCarrier");
	const $ticketBarcode = $("#ticketBarcode");
	const $ticketName = $("#ticketName");
	const $ticketFrom = $("#ticketFrom");
	const $ticketTo = $("#ticketTo");
	const $ticketFlight = $("#ticketFlight");
	const $ticketDate = $("#ticketDate");
	const $ticketGate = $("#ticketGate");
	const $ticketSeat = $("#ticketSeat");
	const $ticketBoardingTime = $("#ticketBoardingTime");
	const $ticketRightName = $("#ticketRightName");
	const $ticketRightFrom = $("#ticketRightFrom");
	const $ticketRightTo = $("#ticketRightTo");
	const $ticketRightFlight = $("#ticketRightFlight");
	const $ticketRightDate = $("#ticketRightDate");
	const $ticketRightSeat = $("#ticketRightSeat");

	let lastBill;
	let currentBill;

	const showBillInfoModal = (event) => {
		$modalFlightView[0].hidden = true;
		$customerBillInfoModal[0].hidden = false;
		const lastChild = event.lastElementChild;
		const currentId = parseInt(lastChild.value);

		if (lastBill == currentId) {
			return;
		}

		lastBill = currentId;
		let url = 'http://localhost:8080/api/ticket/getbybill';
		let isFlight = true;
		let columns = [
			//{"data": "_tk_index"},
			{"data": "_tk_full_name"},
			{"data": "_tk_payment_string"},
			{"data": "_pas_title"},
			{"data": "_tk_updated_timestamp"},
			{"data": "_tk_status_string"},
			{"data": "_tk_action"},
		]

		$viewFlightBills[0].innerHTML = viewTicketTempalteFlight;
		$("#tableViewTicket").DataTable({
			ajax: {
				type: 'GET',
				data: {_bil_id: currentId},
				url: url,
				dataFilter: function (res) {
					const Res = JSON.parse(res);
					const data = Res.data;
					setLocal("ticketByFlight", JSON.stringify(Res.data));
					const currentData = [];
					if (Res.isSuccess) {
						for (var item of data) {
							var _tk_rt_name = '';
							switch (item._tk_tc_id) {
								case 0:
									_tk_rt_name = `<span class="badge badge-danger">None</span>`
									break;
								case 1:
									_tk_rt_name = `<span class="badge badge-success">50%</span>`
									break;
							}
							let action = `<div class="d-flex justify-content-evenly">
											 	<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
												onclick="showTicketInfoModal(this)">
											<input value="${item._tk_id}" hidden></input></i>
										  </div>`;
							var _tk_status_string = ""
							switch (item._tk_status) {
								case 0:
									_tk_status_string = `<span class="badge badge-danger">UnPaid</span>`
									break;
								case 1:
									_tk_status_string = `<span class="badge badge-success">Paid</span>`
									break;
								case 2:
									_tk_status_string = `<span class="badge badge-warning">Pending</span>`
									break;
								case 3:
									_tk_status_string = `<span class="badge badge-warning">Wait Return</span>`
									action = `<div class="d-flex justify-content-evenly">
											 	<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
													onclick="showTicketInfoModal(this)">
												<input value="${item._tk_id}" hidden></input></i>
												<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
													onclick="OnTicketReturn(this)">
												<input value="${item._tk_id}" hidden></input></i>
										  </div>`;
									break;
								case 4:
									_tk_status_string = `<span class="badge badge-Secondary">Returned</span>`
									break;
							}


							const currentItem = {
								...item,
								_tk_rt_name: _tk_rt_name,
								_tk_status_string: _tk_status_string,
								_tk_action: action
							}
							currentData.push(currentItem)
						}
					}
					return JSON.stringify({
						//draw: skipAjaxDrawValue,
						data: currentData,
						//recordsTotal: response.recordsTotal,
						//recordsFiltered: response.recordsFiltered
					});
				}
			},
			columns: columns,
		});
	}

	const hideBillInfoModal = (event) => {
		$modalFlightView[0].hidden = false;
		$customerBillInfoModal[0].hidden = true;
	}

	const showTicketInfoModal = (event) => {
		$ticketInfoModal[0].hidden = false;
		$customerBillInfoModal[0].hidden = true;
		const lastChild = event.lastElementChild;
		const currentId = parseInt(lastChild.value);
		const ticketByFlight = getLocal("ticketByFlight");
		let selectedTicket;
		for (var item of ticketByFlight) {
			if (item._tk_id == currentId) {
				selectedTicket = item;
				break;
			}
		}
		$ticketName[0].innerHTML = "";
		$ticketDate[0].innerHTML = "";
		$ticketFrom[0].innerHTML = "";
		$ticketTo[0].innerHTML = "";
		$ticketDate[0].innerHTML = "";
		$ticketFlight[0].innerHTML = "";
		$ticketBoardingTime[0].innerHTML = "";
		$ticketGate[0].innerHTML = "";
		$ticketSeat[0].innerHTML = "";

		$ticketRightFrom[0].innerHTML = "";
		$ticketRightTo[0].innerHTML = "";
		$ticketRightFlight[0].innerHTML = "";
		$ticketRightName[0].innerHTML = "";
		$ticketRightSeat[0].innerHTML = "";
		$ticketRightDate[0].innerHTML = "";
		$ticketCarrier[0].innerHTML = "";
		BlockUI();
		const _fl_id = selectedTicket._tk_fl_id;
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/flight/infor",
			data: {_fl_id},
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				const flight = res.data;
				if (res.isSuccess) {
					const flightTime = moment(flight._fl_estimate_take_off)._d.toString().split(" ");
					const boardingTime = moment(flight._fl_estimate_take_off).subtract(120, "minutes").toDate().toString().split(" ")[4].split(":");
					$ticketName[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketDate[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketFrom[0].innerHTML = flight._fl_ap_from_name;
					$ticketTo[0].innerHTML = flight._fl_ap_to_name;
					$ticketDate[0].innerHTML = `${flightTime[2]}${flightTime[1]}`;
					$ticketFlight[0].innerHTML = flight._pl_code;
					$ticketBoardingTime[0].innerHTML = `${boardingTime[0]}:${boardingTime[1]}`;
					$ticketGate[0].innerHTML = selectedTicket._tk_gate;
					$ticketSeat[0].innerHTML = selectedTicket._tk_seat;

					$ticketRightFrom[0].innerHTML = `<b>FR: ${flight._fl_ap_from_name}</b>`;
					$ticketRightTo[0].innerHTML = `<b>TO: ${flight._fl_ap_to_name}</b>`;
					$ticketRightFlight[0].innerHTML = flight._pl_code;
					$ticketRightName[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketRightSeat[0].innerHTML = selectedTicket._tk_seat;
					$ticketRightDate[0].innerHTML = `${flightTime[2]}${flightTime[1]}`;
					$ticketCarrier[0].innerHTML = `${flight._car_name} <img class="cursor-hand" src="${flight._car_icon}" alt=""
											style="width: 50px;height: 50px;" />`;
				}
			},
			error: function (e) {
			}
		});

	}


	const hideTicketInfoModal = () => {
		$ticketInfoModal[0].hidden = true;
		$customerBillInfoModal[0].hidden = false;
	}
	
	$flightModal[0].addEventListener('hide.bs.modal', function (event) {
		$_fl_id.val(0);
		$_fl_ec_price.val(0);
		$_fl_sc_price.val(0);
		$_fl_bs_price.val(0);
		$_fl_fc_price.val(0);
		setupSelect($_fl_from_id, 0);
		setupSelect($_fl_to_id, 0);
		setupSelect($_fl_plane_id, 0);
		setupSelect($_fl_carrier_id, 0);
		
		RemoveError($_fl_carrier_id);
		RemoveError($_fl_plane_id);
		RemoveError($_fl_from_id);
		RemoveError($_fl_to_id);
		RemoveError($_fl_take_off);
		RemoveError($_fl_arrival);
		RemoveError($_fl_ec_price);
		RemoveError($_fl_sc_price);
		RemoveError($_fl_bs_price);
		RemoveError($_fl_fc_price);
	})

	const onSelectCarrier = () => {
		const _fl_carrier_id = $_fl_carrier_id[0].value;
		$_fl_plane_id.empty();
		let currentPlane = [];
		for (var plane of getLocal("plane").data) {
			if (plane._car_id == _fl_carrier_id) {
				$('<option/>').val(plane._pl_id).text(plane._pl_code).appendTo('#_fl_plane_id')
			}
		}
		$_fl_plane_id[0][0].selected = true;
	}
	
	const checkFlCarrier = () => {
		const _fl_carrier_id = $_fl_carrier_id[0].value;

		let check = false;
		if (_fl_carrier_id == 0) {
			AddError($_fl_carrier_id, "Please select Carrier.");
		}
		else {
			RemoveError($_fl_carrier_id);
			check = true;
		}

		return check;
	}

	const checkPlane = () => {
		const _fl_plane_id = $_fl_plane_id[0].value;

		let check = false;
		if (_fl_plane_id == 0) {
			AddError($_fl_plane_id, "Please select Plane.");
		}
		else {
			RemoveError($_fl_plane_id);
			check = true;
		}

		return check;
	}

	const checkFromCity = () => {
		const _fl_from_id = $_fl_from_id[0].value;
		const _fl_to_id = $_fl_to_id[0].value;

		let check = false;
		if (_fl_from_id == 0) {
			AddError($_fl_from_id, "Please select Departure.");
		}
		else {
			RemoveError($_fl_from_id);
			check = true;
		}

		if (_fl_from_id == _fl_to_id) {
			$result[0].innerHTML = "Departure cant be the same Destination";
			check = false;
		} else {
			$result[0].innerHTML = "";
			check = true;
		}

		return check;
	}

	const checkToCity = () => {
		const _fl_from_id = $_fl_from_id[0].value;
		const _fl_to_id = $_fl_to_id[0].value;

		let check = false;
		if (_fl_to_id == 0) {
			AddError($_fl_to_id, "Please select Destination.");
		}
		else {
			RemoveError($_fl_to_id);
			check = true;
		}

		if (_fl_from_id == _fl_to_id) {
			$result[0].innerHTML = "Departure cant be the same Destination";
			check = false;
		} else {
			$result[0].innerHTML = "";
			check = true;
		}

		return check;
	}

	const checkDate = ($ele, mes) => {
		const currentDate = moment(new Date());
		const selectedDate = moment($ele.val());
		let check = false;
		if ($ele.val() == '') {
			AddError($ele, mes);
		}
		else if (currentDate > selectedDate) {
			AddError($ele, "Cant select old date.");
		}
		else {
			RemoveError($ele);
			check = true;
		}

		return check;
	}

	const checkTakeOff = () => {
		let check = checkDate($_fl_take_off, "Please select Depart Date");
		const takeOffDate = moment($_fl_take_off.val());
		const arrivalDate = moment($_fl_arrival.val());
		if ($_fl_take_off.val() != '' && $_fl_arrival.val() != '' && takeOffDate > arrivalDate) {
			$result[0].innerHTML = "Depart date must be before Arrival date";
			check = false;
		} else {
			$result[0].innerHTML = '';
		}

		return check;
	}

	const checkArrival = () => {
		let check = checkDate($_fl_arrival, "Please select Arrival Date");
		const takeOffDate = moment($_fl_take_off.val());
		const arrivalDate = moment($_fl_arrival.val());
		if ($_fl_take_off.val() != '' && $_fl_arrival.val() != '' && takeOffDate > arrivalDate) {
			$result[0].innerHTML = "Depart date must be before Arrival date";
			check = false;
		} else {
			$result[0].innerHTML = '';
		}

		return check;
	}

	const checkEcPrice = () => {
		return checkNumber($_fl_ec_price, "Please enter Price");
	}

	const checkScPrice = () => {
		return checkNumber($_fl_sc_price, "Please enter Price");
	}

	const checkBsPrice = () => {
		return checkNumber($_fl_bs_price, "Please enter Price");
	}

	const checkFcPrice = () => {
		return checkNumber($_fl_fc_price, "Please enter Price");
	}

	const OnFlightSubmit = () => {
		const isCarrier = checkFlCarrier();
		const isPlane = checkPlane();
		const isFromCity = checkFromCity();
		const isToCity = checkToCity();
		const isEcPrice = checkEcPrice();
		const isScPrice = checkScPrice();
		const isBsPrice = checkBsPrice();
		const isFcPrice = checkFcPrice();
		const isTakeOff = checkTakeOff();
		const isArrival = checkArrival();
		if (!isCarrier || !isPlane || !isFromCity || !isToCity || !isTakeOff || !isArrival ||
			!isEcPrice || !isScPrice || !isBsPrice || !isFcPrice) {
			return
		}

		const _fl_from_id = $_fl_from_id[0].value;
		const _fl_to_id = $_fl_to_id[0].value;

		if (_fl_from_id == _fl_to_id) {
			$result[0].innerHTML = "Departure cant be the same Destination";
			return;
		}

		const takeOffDate = moment($_fl_take_off.val());
		const arrivalDate = moment($_fl_arrival.val());

		if (takeOffDate > arrivalDate) {
			$result[0].innerHTML = "Depart date must be before Arrival date";
			return;
		}

		$result[0].innerHTML = "";
		const btnFlight = $btnFlight[0];
		AddSpiner(btnFlight);
		BlockUI();
		const url = $flightForm[0].action;

		const flight = {
			_fl_id: parseInt($_fl_id.val()),
			_fl_take_off_local: $_fl_take_off.val(),
			_fl_arrival_local: $_fl_arrival.val(),
			_fl_ec_price: parseInt($_fl_ec_price.val()),
			_fl_sc_price: parseInt($_fl_sc_price.val()),
			_fl_bs_price: parseInt($_fl_bs_price.val()),
			_fl_fc_price: parseInt($_fl_fc_price.val()),
			_fl_carrier_id: parseInt($_fl_carrier_id.val()),
			_fl_plane_id: parseInt($_fl_plane_id.val()),
			_fl_from_id: parseInt($_fl_from_id.val()),
			_fl_to_id: parseInt($_fl_to_id.val()),
			_fl_services: $_fl_services.val().toString()
		};

		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: url,
			data: JSON.stringify(flight),
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				RemoveSpiner(btnFlight);
				flightTabel.ajax.reload();
				if (res.isSuccess) {
					successToast(res.mes);
					/*var currentId = res.data._fl_id;
					var localData = getLocal("flight");
					var currentData = localData.data;
					var data = localData.data.filter(x => x._fl_id != currentId);
					data.push(res.data);
					localData.data = data;
					
					setLocal("flight",JSON.stringify(localData));*/
				} else {
					failToast(res.mes);
				}
			},
			error: function (e) {
				var res = JSON.parse(e.responseText);
				UnBlockUI();
				if (res.isSuccess) {
					successToast(res.mes);
				} else {
					failToast(res.mes);
				}
			}
		});
		//$flightForm.submit();
	}

	const OnFlightChangeStatus = (e) => {
		const _fl_id = e.target.lastElementChild.value;
		let _fl_status = 4;
		for (var item of getLocal("flight").data) {
			if (_fl_id == item._fl_id) {
				item._fl_status = 4;
				break;
			}
		}

		const flight = {_fl_id, _fl_status};
		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/flight/changestatus",
			data: JSON.stringify(flight),
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				if (res.isSuccess) {
					successToast(res.mes);
					flightTabel.ajax.reload();
				} else {
					failToast(res.mes);
				}
			},
			error: function (e) {
				var res = JSON.parse(e.responseText);
				UnBlockUI();
				if (res.isSuccess) {
					successToast(res.mes);
				} else {
					failToast(res.mes);
				}
				UnBlockUI();
			}
		});
	}

	const OnTicketReturn = (event) => {
		const lastChild = event.lastElementChild;
		const ids = lastChild.value;

		BlockUI();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/api/ticket/returnticket",
			data: ids,
			timeout: 100000,
			success: function (res) {
				if (res) {
					successToast("Return ticket Success!");
					const status = `<span class="badge badge-secondary">Returned</span>`
					const action = `<div class="d-flex justify-content-evenly">
							<i class="cursor-hand fa-solid fa-circle-info fa-2xl"
									onclick="showTicketInfoModal(this)">
							<input value="${ids}" hidden></input></i>
					 </div>`;
					const row = event.parentElement.parentElement.parentElement;
					row.children[4].innerHTML = status
					row.children[5].innerHTML = action
				} else {
					failToast("Return ticket Fail!");
				}

				UnBlockUI();
			},
			error: function (e) {
				UnBlockUI();
				failToast("Return ticket Fail!");
			}
		});
	}
</script>