.space1{
	height: 1rem;
}
/* =========================================================================================== */
/* ----------------------------------------- HEADER ------------------------------------------ */
/* =========================================================================================== */
.header-left ul li{
	cursor: pointer;
}
	.header-left .menu-toggle-btn button{
		font-size: 1rem;
		font-weight: bold;
	}
	.header-left ul li img{
		width: 1.875rem;
		height: 1.875rem;
		margin-right: 1rem;
	}
.booking__form-wrapper .dropdown-menu{
	width: 350px;
	border: 1px solid #efefef;
	padding: 10px 10px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	top: 10px !important;
	right: 0;
	position: absolute;
	transform: translate3d(0px, 60px, 0px);
	border-radius: 10px;
}
	.booking__form-wrapper .dropdown-menu li {
	  padding: 3px 0px;
	  -webkit-transition: all 0.3s ease-out 0s;
	  -moz-transition: all 0.3s ease-out 0s;
	  -ms-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	  transition: all 0.3s ease-out 0s;
	  border-bottom: 1px solid #efefef;
	  position: relative;
	  z-index: 2;
	}
	.booking__form-wrapper .login-box,
	.booking__form-wrapper .profile-box{
	  display: flex;
	  position: relative;
	}
	.booking__form-wrapper .login-box button,
	.booking__form-wrapper .profile-box button {
	  width: auto;
	  border: none;
	}
		.booking__form-wrapper .login-box button:disabled{
			opacity: 0.5; 
	    	cursor: not-allowed;
		}
		.booking__form-wrapper .login-box .dropdown-menu,
		.booking__form-wrapper .profile-box .dropdown-menu {
		  border: none;
		  border-radius: 4px;
		  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 16px rgba(0, 0, 0, 0.1);
		}
		.booking__form-wrapper .profile-box .dropdown-menu{
		  	width: 10rem;
		  	min-width: 190px;
		  	padding: 8px;
		}
			.booking__form-wrapper .login-box .dropdown-toggle a{
				font-size: 16px;
				font-weight: bold;
			}
			.booking__form-wrapper .login-box .dropdown-menu{
				max-width: 600px;
			    min-height: 200px;
			    width: 432px;
			    padding: 16px;
			}
			.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end,
			.booking__form-wrapper .profile-box .dropdown-menu.dropdown-menu-end {
			  transform: translate3d(0px, 60px, 0px);
			}
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-form h3{
					font-weight: bold;
				}
				
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-email span,
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .register-intro span{
					font-size: 16px;
					font-weight: 500;
					color: rgb(104, 113, 118);
				}
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-email input{
					width: 100%;
					height: 40px;
					line-height: 24px;
					font-size: 16px;
					color: rgb(3, 18, 26);
					outline: none;
					border: rgba(0, 0, 0, 0.1) 1px solid;
					border-radius: 8px;
					padding: 8px;
				}
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-submit-btn button,
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .register-btn button{
					width: 100%;
					height: 40px;
					color: white;
					font-weight: bold;
					font-size: 16px;
					border-radius: 8px !important;
				}
					.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-submit-btn button{
						background: var(--color-button-bg2);
					}
					
					.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .register-btn button{
						background: var(--color-blue);
					}
					.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-notice{
						width: 100%;
						box-sizing: border-box;
						text-wrap: wrap; 
						word-wrap: break-word; 
						white-space: pre-wrap;
					}
						.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .login-notice a{
							color: var(--color-blue);
							font-weight: bold;
							font-size: 14px;
						}
				.booking__form-wrapper .login-box .dropdown-menu.dropdown-menu-end .register-intro hr{
					height: 1px;
					background: var(--color-black);
					width: 36%;
				}
				
			.booking__form-wrapper .login-box .dropdown-menu li,
			.booking__form-wrapper .profile-box .dropdown-menu li {
			  border-bottom: none;
			  padding: 0;
			}
			.booking__form-wrapper .profile-box .dropdown-menu li a {
			  font-size: 14px;
			  display: flex;
			  align-items: center;
			  border-radius: 6px;
			  padding: 10px 8px;
			  color: var(--color-textshadow1);
			}
			
			.booking__form-wrapper .profile-box .dropdown-menu li a:hover {
			  color: var(--color-text12);
			  background: var(--color-bg7);
			}
			
			.booking__form-wrapper .profile-box .dropdown-menu li a i {
			  margin-right: 8px;
			  font-weight: 700;
			}
			.booking__form-wrapper .profile-box .dropdown-menu li.divider{
			  margin: 4px 0;
			  height: 1px;
			  display: block;
			  background: rgba(28, 28, 28, 0.05);
			}
			.booking__form-wrapper .profile-box .profile-info {
			  margin: 0 5px;
			}
			.booking__form-wrapper .profile-box .profile-info .info {
			  display: flex;
			  align-items: center;
			}
			.booking__form-wrapper .profile-box .profile-info .info p {
			  font-size: 12px;
			  text-align: left;
			}
		
.booking__form-login-btn,
.booking__form-wrapper .profile-box button{
	width: 12.5rem; 
	height: 3.125rem; 
	padding-left: 1rem; 
	border: 1px solid var(--color-white); 
	border-radius: .375rem; 
	background: transparent;
}
	.booking__form-login-btn img,
	.booking__form-wrapper .profile-box button img{
		width: 1.5625rem;
		height: 1.5625rem;
	}
	.booking__form-login-btn span{
		width: 100%; 
		color: var(--color-white); 
		font-size: 1rem; 
		font-weight: 500;
	}
	.booking__form-login-btn:hover,
	.booking__form-wrapper .profile-box button:hover{
		background: var(--color-button-bg6) !important;
	}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px){
	.header-left ul li a,
	.profile-box .profile-info .info h6{
		display: none;
	}
}	

/* ------------------------- FLIGHT HEADER ------------------------- */
.flight-header-number{
	width: 2.1875rem;
	height: 2.1875rem;
	border-radius: 50%;
	color: var(--color-white);
	font-weight: bold;
	background-color: var(--color-text5);
}
	.flight-header-number img{
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
	}
	
.active{
	background-color: var(--color-blue);
}	

.active-main-wrapper{
	background-color: var(--color-bg3);
}

.flight-header-title{
	color: var(--color-text5);
	font-size: 12px;
}

/* =========================================================================================== */
/* -------------------------------------- FILTER SIDEBAR ------------------------------------- */
/* =========================================================================================== */	
#filter_flight_sidebar::-webkit-scrollbar,
#filter_hotel_sidebar::-webkit-scrollbar,
#profile_sidebar::-webkit-scrollbar{
	opacity: 0;
}

ul .filter form:first-child{
	margin-bottom: 2rem;
}
ul .filter form:not(:first-child),
ul .profile form:not(:first-child){
	margin-top: 1rem;
}
ul .filter,
ul .profile{
	display: flex;
	flex-direction: column;
}
	ul .filter a,
	ul .profile a{
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	ul .filter select:focus,
	ul .profile select:focus{
		box-shadow: none;
	}
ul .filter form > div{
	padding: 7px 0px 7px 25px;
}
	ul .filter form > div button{
		border: none;
		background: var(--color-white);
	}
	ul .filter form > div .filter-hr{
		width: 100%;
		height: 1px;
		background: var(--color-underlined-bg);
	}
	ul .filter form > div button{
		padding: 7px 0px 7px 15px;
	}
		ul .filter form > div button div:first-child span{
			width: 1.5rem; 
			height: 1.5rem;
			margin-right: 7px;
			background: var(--color-blue); 
			border-radius: 3px;
			color: var(--color-white);
			font-weight: 500;
		}
		ul .filter form > div button div:not(:first-child) span:first-child{
			font-size: 12px;
		}
		ul .filter form > div button div:not(:first-child) span:not(:first-child){
			font-size: 14px;
			font-weight: bold;
		}
.icon {
	color: var(--color-text8);
	font-size: 14px;
	font-weight: 500;
}
.icon img{
	width: 1.375rem;
	height: 1.375rem;
}
.flight-active{
	border-left: 3px solid var(--color-blue) !important;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: var(--color-boxshadow3) !important; 
}
.filter-selection-display{
	width: 2rem;
	height: 21px;
	border-radius: 3px;
	color: var(--color-white);
	font-size: 14px;
	text-align: center;
}
.filter-sortBy-display-wrapper{
	margin: 0 25px;
}
	.filter-sortBy-display-wrapper .filter-sortBy-display{
		color: var(--color-text1);
		font-size: 14px;
	}
	
.filter-selection{
	width: 13rem;
	margin: 0 25px;
	background: var(--color-white);
	cursor: pointer;
	z-index: 5;
}
	.filter-selection label{
		width: 100%;
		font-size: 13px;
	}
	.filter-selection label img{
		width: 1.375rem;
		height: 1.375rem;
	}
	.filter-selection span{
		font-size: 10px;
		font-weight: 600;
		color: var(--color-text2);
	}
.form-check label,
.form-check input{
	cursor: pointer;
}	
.reset-title{
	font-size: 18px;
	font-weight: 600;
	color: var(--color-black);
	cursor: text;
}
.reset-btn{
	font-size: 1rem;
	font-weight: 600;
	color: var(--color-blue);
}

.flight-airline span{
	height: 1rem;
	color: var(--color-black);
	font-size: 12px;
	font-weight: 700;
	overflow: hidden;
}
.flight-airline button{
	font-size: 14px;
	font-weight: 600;
	color: var(--color-blue);
}
#submit-flight-btn{
	width: 85% !important;
	height: 2rem;
	margin-left: 25px;
	font-size: 14px;
	font-weight: 700;
	color: var(--color-white);
	background: var(--color-button-bg2) !important;
	border: none;
	border-radius: 5px;
}
.hotel-price-title{
	font-size: 10px;
	color: var(--color-black);
}
/* =========================================================================================== */
/* --------------------------------------- BOOKING FORM -------------------------------------- */
/* =========================================================================================== */
.booking__form-bg{
	position: relative;
	width: auto;
	height: 100vh;
	background-image: url(../images/booking_form/booking_form_bg.jpg);
	object-fit: cover;
	object-position: bottom;
}

.booking_form-welcome{
	width: 95%;
	height: 12.5rem;
}

.booking__form-flight-wrapper select:focus,
.booking__form-hotel-wrapper select:focus{
	/*border: none;*/
    box-shadow: none;
}
.booking__hotel-selection-title span::-webkit-scrollbar{
	opacity: 0;
 }
@media (max-width: 1450px) {
  .booking__form-flight-wrapper,
  .booking__form-hotel-wrapper{
    overflow-x: scroll;
  }
  
  .booking__form-flight-wrapper::-webkit-scrollbar,
  .booking__form-hotel-wrapper::-webkit-scrollbar{
	  opacity: 0;
  }
}

.booking_form-welcome span{
	width: 50rem;
	color: var(--color-white);
	font-size: 3.5rem;
	font-weight: bold;
}
.booking__form-subwelcome{
	position: absolute;
	bottom: 1.5rem;
	width: 95%;
	height: 6.25rem;
	text-align: center;
}

.booking__form-subwelcome span{
	width: 62.5rem;
	font-size: 2rem;
	font-weight: 600;
	color: var(--color-white);
}

@media (max-width: 768px){
	.booking_form-welcome span{
		font-size: 2.5rem;
	}
	.booking__form-subwelcome span{
		font-size: 1.5rem;
	}
}
.booking__form-menu{
	display: flex;
}

	.booking__form-menu li{
		margin-right: 2rem;
	}

	.booking__form-menu button{
		width: 12.5rem;
		height: 3.125rem;
		border: none;
		border-radius: 0.625rem;
		color: var(--color-white);
		background-color: var(--color-button-bg1);
		font-weight: 600;
	}
		.booking__form-menu button img{
			width: 1.5625rem;
			height: 1.5625rem;
		}
		
	.booking__form-menu .active{
		background-color: var(--color-blue);
	}


.booking__flight-selection,
.booking__hotel-selection{
	display: flex;
	width: 100%;
}
	.booking__flight-selection img,
	.booking__hotel-selection img{
		width: 1.25rem;
		height: 1.25rem;
	}

	.booking__flight-selection li,
	.booking__hotel-selection li{
		display: flex;
		align-items: center;
		height: 1.875rem;
		margin-right: 2rem;
		border: none;
		border-radius: 0.625rem;
		background-color: var(--color-button-bg1);
		color: var(--color-white);
		font-weight: 600;
	}
	
/* ---------------------------------- BOOKING FLIGHT FORM ---------------------------------- */	
@media (max-width: 1450px) {
  .booking__form-flight-wrapper {
    overflow-x: scroll;
  }
}
.booking__flight-selection li:first-child{
		width: 18.75rem;
}

.booking__flight-selection li:not(first-child){
	width: 12.5rem;
}

.booking__flight-selection li select{
	height: 1.875rem;
	border: none;
	background-color: transparent;
	font-size: 12px;
	font-weight: 600;
}

.booking__flight-selection li button{
	border: none;
	background: transparent;
}

.booking__flight-selection-passenger{
	cursor: pointer;
}

.booking__flight-passenger{
	position: fixed;
	left: 0;
	width: 18.75rem;
	padding: 1rem;
	border-radius: .5rem;
	border: var(--color-border);
	background: var(--color-white);
	z-index: 5;
}
	.booking__flight-passenger img{
		width: 1.5625rem;
		height: 2.5rem;
		padding: 5px;
	}

.booking__flight-passenger-type-wrapper{
	width: 100%;
}
.booking__flight-passenger-type{
	text-align: left;
}
	.booking__flight-passenger-type span:first-child{
		color: var(--color-black);
		font-size: 1.25rem;
		font-weight: 600;
	}
	
	.booking__flight-passenger-type span:not(first-child){
		font-size: .8rem;
		font-weight: 400;
	}

.booking__flight-passenger-quantity{
	height: 2.5rem;
}
	.booking__flight-passenger-quantity img{
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
	}
	
	.booking__flight-passenger-quantity span{
		font-size: 1.25rem;
		font-weight: 600;
	}
.booking__flight-selection-title{
	width: 34.375rem;
}	
	.booking__flight-selection-title span{
		width: 50%;
		color: var(--color-white);
		font-weight: 600;
	}	
.booking__flight-selection-city,
.booking__flight-selection-date{
	position: relative;
	width: 34.375rem;
	height: 4.375rem;
	background: var(--color-white);
	border-radius: 1rem;
}
	.booking__flight-selection-city div,
	.booking__flight-selection-date div{
		width: 50%;
	}
	.booking__flight-selection-city div img,
	.booking__flight-selection-date div img,
	.profile_birthday_wrapper img,
	.profile_passport_date_wrapper img{
		width: 1.875rem;
		height: 1.875rem;
	}
	
	.booking__flight-selection-date div:first-child img{
		position: absolute;
		left: 30%;
	}
	
	.booking__flight-selection-date div:last-child img,
	.profile_birthday_wrapper img,
	.profile_passport_date_wrapper img{
		position: absolute;
		left: 80%;
	}
	
	.profile_birthday_wrapper img,
	.profile_passport_date_wrapper img{
		position: absolute;
		left: 92%;
	}
	
	.booking__flight-selection-city div select,
	.booking__flight-selection-date div input{
		background: transparent;
		border: none;
	}
	
	.booking__flight-selection-date div input,
	.profile_birthday_wrapper input,
	.profile_passport_date_wrapper input{
		z-index: 5;
	}
	.booking__flight-selection-date div input[type=date]::-webkit-calendar-picker-indicator,
	.profile_birthday_wrapper input[type=date]::-webkit-calendar-picker-indicator,
	.profile_passport_date_wrapper input[type=date]::-webkit-calendar-picker-indicator{
    	-webkit-appearance: none;
    	opacity: 0;
	};
.booking__flight-search-btn{
	position: relative;
}
.booking__flight-search-btn button{
	width: 12.5rem;
	height: 4.375rem;
	margin-top: 2.75rem;
	background: var(--color-button-bg2);
	border: none;
	color: var(--color-white);
	font-size: 20px;
	font-weight: 500;
	border-radius: .625rem;
	cursor: pointer;
}
	.booking__flight-search-btn button > img{
		width: 1.875rem;
		height: 1.875rem;
	}
	.booking__flight-search-btn button input{
		background: none;
		border: none;
		color: var(--color-white);
		font-size: 1.25rem;
		font-weight: 600;
	}
.disable{
	opacity: 0.5;
    pointer-events: none; 
    cursor: not-allowed;
}	
/* ---------------------------------- BOOKING HOTEl FORM ---------------------------------- */	
.booking__hotel-selection-title span{
	color: var(--color-white);
	font-weight: 600;
	overflow-x: scroll;
}

.booking__hotel-selection-city {
	width: 31.25rem;
	height: 4.375rem;
	border-radius: 0.625rem;
	background: var(--color-white);
}
	.booking__hotel-selection-city select{
		border: none;
		background: transparent;
	}
	.booking__hotel-selection-city img{
		width: 1.875rem;
		height: 1.875rem;
	}
	
.booking__hotel-input-eticket{
	width: 12.5rem;
	height: 4.375rem;
	border-radius: 0.625rem;
	background: var(--color-white);
}
	.booking__hotel-input-eticket input{
		border: none;
	}
	.booking__hotel-input-eticket img{
		width: 1.875rem;
		height: 1.875rem;
	}
	
.booking__hotel-selection-guestRoom{
	position: relative;
	width: 25rem;
	height: 4.375rem;
	border-radius: 0.625rem;
	background: var(--color-white);
	cursor: pointer;
}
	.booking__hotel-selection-guestRoom img{
		width: 1.875rem;
		height: 1.875rem;
	}
	.booking__hotel-selection-guestRoom span{
		font-weight: 600;
	}
	
.booking__hotel-guestRoom-form-select{
	position: fixed;
	width: 25rem;
	height: 14.75rem;
	padding: 1rem;
	border-radius: 0.625rem;
	box-shadow: var(--box-shadow1);
	background: var(--color-white);
	z-index: 5;
}
	
	.booking__hotel-guestRoom-form-select .done-btn{
		padding: 0.3125rem;
		border: none;
		background: var(--color-white) !important;
	}
		.booking__hotel-guestRoom-form-select .done-btn span{
			color: var(--color-blue);
			font-weight: 600;
		}
.booking__hotel-guestRoom-form-select-type span{
	font-weight: 600;
}
	.booking__hotel-guestRoom-form-select-type img{
		width: 1.5625rem;
		height: 1.5625rem;
	}
.booking__hotel-guestRoom-form-select-quantity button{
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.3125rem;
	border-radius: 0.3125rem;
}
	.booking__hotel-guestRoom-form-select-quantity button:not(:nth-child(2)){
		border: none;
		background: var(--color-button-bg3);
	}
		.booking__hotel-guestRoom-form-select-quantity button:not(:nth-child(2)) span{
			font-size: 1rem;
			font-weight: 600;
			color: var(--color-blue);
		}
	.booking__hotel-guestRoom-form-select-quantity button:nth-child(2){
		border: 1px solid var(--color-button-border1);
		background: var(--color-white);
		cursor: not-allowed;
	}	

.booking__hotel-input-checkin{
	position: relative;
	width: 17.1875rem;
	height: 4.375rem;
	border-radius: 0.625rem;
	background: var(--color-white);
}	
	.booking__hotel-input-checkin img{
		position: absolute;
		right: 1rem;
		width: 1.5625rem;
		height: 1.5625rem;
	}
	.booking__hotel-input-checkin input{
		border: none;
		background: transparent;
		z-index: 5;
	}
		.booking__hotel-input-checkin input[type=date]::-webkit-calendar-picker-indicator{
			opacity: 0;
		}
		
.booking__hotel-selection-duration{
	width: 17.1875rem;
	height: 4.375rem;
	border-radius: 0.625rem;
	background: var(--color-white);
}
	.booking__hotel-selection-duration img{
		width: 1.5625rem;
		height: 1.5625rem;
	}
	.booking__hotel-selection-duration select{
		border: none;
		font-weight: 600;
	}

.booking__hotel-checkout-information{
	width: 13.75rem;
	height: 4.375rem;
}
	.booking__hotel-checkout-information span{
		color: var(--color-white);
		font-size: 1.5rem;
		font-weight: 600;
	}
	
.booking__hotel-search-btn{
	margin-top: 1rem;
	width: 17.1875rem;
	height: 4.375rem;
	background: var(--color-button-bg2);
	border-radius: .625rem;
}
	.booking__hotel-search-btn img{
		width: 1.5625rem;
		height: 1.5625rem;
	}
	.booking__hotel-search-btn span{
		color: var(--color-white);
		font-weight: 600;
		font-size: 1.25rem;
	}
/* =========================================================================================== */
/* --------------------------------------- DETAIL FORM -------------------------------------- */
/* =========================================================================================== */
.flight-detail-wrapper{
	width: 41.875rem;
	padding: 0;
	border: 1px solid var(--color-border);
	border-radius: 10px;
}
/* ---------------------------------- FLIGHT COMPONENT---------------------------------- */	
.flight-detail-component{
	width: 100%;
	height: 8.4375rem;
	padding: 15px;
	background: var(--color-white);
	border-radius: 10px;
}
	.flight-detail-component .flight-detail-information-area,
	.flight-detail-component .flight-detail-button-area{
		width: 100%;
		height: 50%;
	}

.flight-detail-button-area{
	position: relative;
}
	.flight-detail-button-area div{
		width: 50%;
	}	
	.flight-detail-button-area span{
		color: var(--color-text-3);
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
	}
	.flight-detail-button-area button{
		width: 9.375rem;
		height: 1.875rem;
		color: var(--color-white);
		font-size: 12px;
		font-weight: bold;
		background: var(--color-blue);
		border-radius: 5px;
		border: none;
		cursor: pointer;
	}

.flight-detail-airline img{
	width: 1.5625rem;
	height: 1.5625rem;
}
.flight-detail-airline span{
	color: var(--color-black);
	font-size: 12px;
	font-weight: bold;
}
.flight-detail-transit-departure .time,
.flight-detail-transit-arrival .time,
.pasgDetail-flightInfo-content-detail-transit-departure .time,
.pasgDetail-flightInfo-content-detail-transit-arrival .time{
	font-size: 12px;
	font-weight: bold;
	color: var(--color-black);
}
.flight-detail-transit-departure .abrv-city,
.flight-detail-transit-arrival .abrv-city,
.flight-detail-transit-timeAndStop .hour,
.flight-detail-transit-timeAndStop .stop,
.pasgDetail-flightInfo-content-detail-transit-departure .abrv-city,
.pasgDetail-flightInfo-content-detail-transit-arrival .abrv-city,
.pasgDetail-flightInfo-content-detail-transit-timeAndStop .hour,
.pasgDetail-flightInfo-content-detail-transit-timeAndStop .stop{
	font-size: 12px; 
	font-weight: bold;
	color: var(--color-text-3);
}
	.flight-detail-transit-timeAndStop .timeAndStop-bar span:not(:last-child),
	.pasgDetail-flightInfo-content-detail-transit-timeAndStop .timeAndStop-bar span:not(:last-child){
		width: .5rem;
		height: .5rem;
		border-radius: 50%;
		border: 1px solid var(--color-border2);
	}
	.flight-detail-transit-timeAndStop .timeAndStop-bar span:last-child,
	.pasgDetail-flightInfo-content-detail-transit-timeAndStop .timeAndStop-bar span:last-child{
		width: .5rem;
		height: .5rem;
		border-radius: 50%;
		background: var(--color-bg2);
	}
	.flight-detail-transit-timeAndStop .timeAndStop-bar hr,
	.pasgDetail-flightInfo-content-detail-transit-timeAndStop .timeAndStop-bar hr{
		width: 2rem;
		height: 1px;
		margin: 0;
		padding: 0;
		color: var(--color-text-3);
	}
	
.flight-detail-price .price-per-pax{
	color: var(--color-text2);
	font-size: 18px;
	font-weight: bold;
}
.flight-detail-price .price-per{
	color: var(--color-text3);
	font-size: 12px;
	font-weight: bold;
}

/* ---------------------------------- FLIGHT INFORMATION COMPONENT ---------------------------------- */
.flight-detail-information-component{
	width: 100%;
	max-height: 45rem;
	padding: 20px 15px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow-y: scroll;
}
	.flight-detail-information-component::-webkit-scrollbar{
		opacity: 0;
	}

.flight-detail-information-timeline .timeline{
	font-size: 12px;
	font-weight: bold;
	color: var(--color-black);
}
.flight-detail-information-timeline .date{
	font-size: 12px;
	font-weight: bold;
	color: var(--color-text-4);
}

.flight-detail-information-timeline-bar span:first-child{
	width: 1.25rem;
	height: 1.25rem;
	background: none;
	border: 1px solid var(--color-blue);
	border-radius: 50%;
}
.flight-detail-information-timeline-bar span:last-child{
	width: 1.25rem;
	height: 1.25rem;
	background: var(--color-blue);
	border-radius: 50%;
}

.flight-detail-information-timeline-bar hr{
	width: 1px;
	height: 15rem;
	margin: 0;
	padding: 0;
	background: var(--color-underlined-bg);
}

.flight-detail-information-area .flight-detail-information-content-destination .city-and-abrrv-city{
	font-size: 12px;
	font-weight: 500;
	color: var(--color-black);
}
.flight-detail-information-area .flight-detail-information-content-destination .city-airport{
	font-size: 12px;
	font-weight: 500;
	color: var(--color-text4);
}

.flight-detail-information-area .flight-detail-information-timeline .timeline{
	font-size: 12px;
	font-weight: bold;
	color: var(--color-black);
}
.flight-detail-information-area .flight-detail-information-timeline .date{
	font-size: 12px;
	font-weight: bold;
	color: var(--color-text4);
}

.flight-detail-information-area .flight-detail-information-content-wrapper{
	height: 13rem;
}
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-airline .airline-brand{
		font-size: 12px;
		font-weight: bold;
		color: var(--color-black);
	}
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-airline img{
		width: 1.5625rem;
		height: 1.5625rem;
	}
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-planeAndsclass{
		font-size: 12px;
		font-weight: 500;
		color: var(--color-black);
	}
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-baggage img,
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-service img{
		width: 15px;
		height: 15px;
	}
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-baggage span,
	.flight-detail-information-area .flight-detail-information-content-wrapper .flight-detail-information-content-service span{
		font-size: 12px;
		font-weight: 600;
		color: var(--color-text5);
	}
	
.flight-detail-notification-area{
	height: 3.125rem;
	border: 1px solid var(--color-bg2);
	border-radius: 10px;
}
	.flight-detail-notification-area img{
		width: 15px;
		height: 15px;
	}
	.flight-detail-notification-area span{
		font-size: 12px;
		font-weight: bold;
		color: var(--color-text5);
	}
	
.flight-detail-fareAndBef-component{
	width: 100%;
	padding: 20px 15px;
}
	.flight-detail-fareAndBef-component .flight-detail-fareAndBef-condition-content,
	.flight-detail-fareAndBef-component .flight-detail-fareAndBef-priceDetails-content,
	.flight-detail-fareAndBef-component .flight-detail-fareAndBef-baggagePrice-content{
		width: 16.5rem;
		padding: 15px;
		border: 1px solid var(--color-bg2);
		border-radius: 10px;
		background: var(--color-white);
	}
		.flight-detail-fareAndBef-component-title span:first-child,
		.flight-detail-fareAndBef-condition .flight-detail-fareAndBef-condition-content-airline span,
		.flight-detail-fareAndBef-baggagePrice-content-airline span{
			font-size: 12px;
			font-weight: bold;
			color: var(--color-black);
		}
		.flight-detail-fareAndBef-component-title span:last-child{
			font-size: 10px;
			font-weight: bold;
			color: var(--color-text5);
		}
		.flight-detail-fareAndBef-condition .flight-detail-fareAndBef-condition-content-airline img,
		.flight-detail-fareAndBef-baggagePrice .flight-detail-fareAndBef-baggagePrice-content-airline img{
			width: 1.5625rem;
			height: 1.5625rem;
		}
		.flight-detail-fareAndBef-condition .flight-detail-fareAndBef-condition-route span{
			font-size: 10px;
			font-weight: bold;
			color: var(--color-text5);
		}
		.flight-detail-fareAndBef-component .flight-detail-fareAndBef-priceDetails-content .flight-detail-fareAndBef-priceDetails-content-guestType{
			font-size: 12px;
			font-weight: 600;
			color: var(--color-text5);
		}
		.flight-detail-fareAndBef-component .flight-detail-fareAndBef-priceDetails-content .flight-detail-fareAndBef-priceDetails-content-price{
			font-size: 12px;
			font-weight: 600;
			color: var(--color-black);
		}
		.flight-detail-fareAndBef-baggagePrice-content-button{
			font-size: 10px;
			font-weight: bold;
			color: var(--color-blue);
		}
		.flight-detail-fareAndBef-baggagePrice-content > div:not(:last-child){
			margin-bottom: 1rem;
		}

/* =========================================================================================== */
/* --------------------------------------- 3-STEPS FORM -------------------------------------- */
/* =========================================================================================== */	

/* ------------------- PASSENGER DETAIL - COMMON ------------------- */
.btn-return-group-wrapper,
.btn-return-group-wrapper button{
	width: 100%;
}
	.btn-return-group-wrapper button{
		padding: 5px 15px;
		color: var(--color-white);
		background:var(--color-boxshadow1);
		border: 1px solid var(--color-bg2);
		border-radius: 5px;
	}
	.btn-return-group-wrapper button > div:first-child span{
		font-size: 16px;
		font-weight: 700;
	}
	.btn-return-group-wrapper button:hover{
		background: var(--color-text2);
	}
	.active-flight-btn{
		background:var(--color-blue) !important;
	}

/* ------------------- PAYMENT FLIGHT - COMMON ------------------- */
.pasgDetail-right hr{
	width: 37.375rem;
	color: var(--color-bg2);
}

.pasgDetail-left hr{
	width: 18.75rem;
	color: var(--color-bg2);
}
	
.pasgDetail-info-title h3,
.pasgDetail-contact-content h3,
.pasgDetail-traveler-content h3,
.pasgDetail-facilities-content h3,
.pasgDetail-price-content h3,
.payment-flight-title h3,
.payment-flight-price-form,
.payment-flight-price-form .payment-flight-price-content h3{
	font-weight: bold;
}

.pasgDetail-info-title span{
	font-size: 15px;
	font-weight: bold;
	color: var(--color-text5);
}

.pasgDetail-info-content-form,
.pasgDetail-contact-content-form,
.pasgDetail-traveler-content-form,
.pasgDetail-facilities-baggage-form,
.pasgDetail-facilities-seat-form,
.pasgDetail-price-content-form,
.pasgDetail-flightInfo-content{
	background: var(--color-white);
	border-radius: 10px;
}
	.pasgDetail-info-content-form,
	.pasgDetail-contact-content-form,
	.pasgDetail-traveler-content-form,
	.pasgDetail-facilities-baggage-form,
	.pasgDetail-facilities-seat-form,
	.pasgDetail-price-content-form{
		width: 39.375rem;
		padding: 1rem;
	}
	.pasgDetail-flightInfo-content{
		width: 25rem;
		border: 1px solid var(--color-bg2);
	}
		.pasgDetail-flightInfo-content .pasgDetail-flightInfo-content-title{
			padding: 1rem 1rem 0 1rem;
		}
		.pasgDetail-flightInfo-content hr{
			padding: 0 1rem 0 1rem;
		}
		.pasgDetail-flightInfo-content .pasgDetail-flightInfo-content-detail{
			padding: 0 1rem 0 1rem;
		}
		.pasgDetail-flightInfo-content .pasgDetail-flightInfo-content-detail-stop{
			padding: 1rem;
			background: var(--color-button-bg3);
		}
	.pasgDetail-info-content-form .pasgDetail-info-content-image span{
		width: 2.1875rem;
		height: 2.1875rem;
		border-radius: 50%;
		background: var(--color-blue);
	}
	.pasgDetail-info-content-form .pasgDetail-info-content-image img,
	.pasgDetail-price-content-title img,
	.pasgDetail-flightInfo-content-title img,
	.pasgDetail-flightInfo-content-detail-airline img,
	.pasgDetail-flightInfo-content-detail-stop img{
		width: 1.25rem;
		height: 1.25rem;
	}
	.pasgDetail-price-content-title img{
		cursor: pointer;
	}

.pasgDetail-info-content-detail span,
.pasgDetail-contact-content-form-title span,
.pasgDetail-contact-content-form-title button,
.pasgDetail-contact-content-form-input span,
.pasgDetail-traveler-content-form span,
.pasgDetail-traveler-content-form-title span,
.pasgDetail-traveler-content-form-edit span,
.pasgDetail-traveler-content-form-title button,
.pasgDetail-facilities-baggage-form span,
.pasgDetail-facilities-seat-form span,
.pasgDetail-facilities-baggage-form-title button,
.pasgDetail-facilities-seat-form-title span,
.pasgDetail-facilities-seat-form-title button,
.pasgDetail-price-content-title span,
.pasgDetail-price-content-detail span,
.pasgDetail-flightInfo-content-title span,
.pasgDetail-flightInfo-content-detail-departure span,
.pasgDetail-flightInfo-content-detail-airline span,
.pasgDetail-flightInfo-content-detail-stop span,
.baggage-form .modal-footer .subtotal-price .subtotal-price-title span:last-child,
.baggage-form .modal-body .pasg-info .baggage-title span:last-child,
.baggage-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:nth-child(2) span,
.baggage-form .modal-body .baggage-info .flight-title .flight-title-content span,
.baggage-form .modal-body .baggage-info .flight-title .flight-title-airline span,
.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-title span:first-child,
.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-detail .baggage-info-content-detail-kg span,
.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-detail .baggage-info-content-detail-total span,
.seat-form .modal-body .pasg-info .flight-title-content span,
.seat-form .modal-body .pasg-info .flight-title-airline span,
.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:not(:nth-child(1)) span,
.seat-form .modal-body .seat-info .seat-info-content .seat-block-description span:nth-child(even),
.seat-form .modal-body .seat-info .seat-info-content .seat-map span,
.payment-flight-price-form .payment-flight-price-content span,
.bhf_wrapper .bhf_overall_info span,
.bhf_wrapper .bhf_airplane span{
	font-size: 12px;
	font-weight: bold;
}
	.pasgDetail-info-content-detail span:last-child{
		color: var(--color-text6);
	}
	.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:nth-child(3) span:first-child{
		color: var(--color-text7);
	}
	.pasgDetail-info-content-detail span:first-child,
	.pasgDetail-contact-content-form-title span,
	.pasgDetail-traveler-content-form-title span,
	.pasgDetail-traveler-content-form-edit div div span:last-child,
	.pasgDetail-facilities-baggage-form-title button,
	.pasgDetail-facilities-seat-form-title div:first-child span,
	.pasgDetail-facilities-seat-info-flight,
	.pasgDetail-price-content-title span:first-child,
	.pasgDetail-flightInfo-content-title span,
	.pasgDetail-flightInfo-content-detail-departure span,
	.pasgDetail-flightInfo-content-detail-airline span:first-child,
	.pasgDetail-flightInfo-content-detail-stop span,
	.baggage-form .modal-body .baggage-info .flight-title .flight-title-content span,
	.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-detail .baggage-info-content-detail-kg span:last-child,
	.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-detail .baggage-info-content-detail-total span:last-child,
	.seat-form .modal-body .pasg-info .flight-title-content span,
	.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:nth-child(2) span,
	.seat-form .modal-body .seat-info .seat-info-content .seat-block-description .seat-row,
	.payment-flight-price-form .payment-flight-price-content span:first-child,
	.bhf_wrapper .bhf_overall_info .bhf_booking_id,
	.bhf_wrapper .bhf_airplane span{
		color: var(--color-black);
	}
	.pasgDetail-contact-content-form-title button,
	.pasgDetail-traveler-content-form-title button,
	.pasgDetail-facilities-baggage-form-title button,
	.pasgDetail-facilities-seat-form-title button,
	.payment-flight-price-form .payment-flight-price-content .payment-flight-price-detail span:last-child{
		color: var(--color-blue);
		cursor: pointer;
	}
	.pasgDetail-traveler-content-info span:first-child{
		color: var(--color-green);
	}
	.pasgDetail-traveler-content-info span:last-child{
		color: var(--color-yellow);
	}
	.pasgDetail-facilities-baggage-info-price span:last-child,
	.pasgDetail-price-content-title div:last-child span,
	.pasgDetail-facilities-seat-form .pasgDetail-facilities-seat-info div div:nth-child(2) span:last-child,
	.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:nth-child(3) span:last-child{
		color: var(--color-text2);
	}
	
.pasgDetail-contact-content-form-title button,
.pasgDetail-traveler-content-form-title button,
.pasgDetail-facilities-baggage-form-title button,
.pasgDetail-facilities-seat-form-title button{
	border: none;
	background: none;
}

.pasgDetail-contact-content-form-input span,
.pasgDetail-traveler-content-form-input span{
	color: var(--color-black);
}

.pasgDetail-traveler-content-form-input select,
.pasgDetail-traveler-content-form-input input{
	font-size: 12px;
}
.pasgDetail-contact-content-form-input input,
.pasgDetail-traveler-content-form-input-one input,
.pasgDetail-traveler-content-form-input select:not(:first-child){
	width: 15.625rem;
	height: 1.875rem;
	border-radius: 5px;
	border: 1px solid var(--color-bg2);
}
.pasgDetail-traveler-content-form-input-passport input{
	width: 21.875rem;
	height: 1.875rem;
	border-radius: 5px;
	border: 1px solid var(--color-bg2);
}
.pasgDetail-traveler-content-form-select-three select{
	width: 4.875rem !important;
	height: 1.875rem !important;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid var(--color-bg2);
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.pasgDetail-traveler-content-form-input select:first-child{
	width: 12.5rem;
	height: 1.875rem;
	border-radius: 5px;
	border: 1px solid var(--color-bg2);
}
.pasgDetail-continue-button{
	width: 39.375rem;
}
.pasgDetail-traveler-content-form-button button,
.pasgDetail-continue-button button,
.payment-flight-button button{
	height: 1.875rem;
	font-size: 12px;
	font-weight: bold;
	color: var(--color-white);
	border-radius: 5px;
	border: none;
	
}
	.pasgDetail-traveler-content-form-button button{
		width: 6.25rem;
		background: var(--color-blue);
	}
	.pasgDetail-continue-button button,
	.payment-flight-button button{
		width: 15.625rem;
		background: var(--color-text2);
	}
	
.pasgDetail-facilities-baggage-form-title img,
.pasgDetail-facilities-seat-form-title img{
	width: 1.25rem;
	height: 1.25rem;
}
/* ------------------- TRAVELER DETAIL - BAGGAGE MODAL ------------------- */
.pasgDetail-traveler-content-form-edit div{
	width: 100%;
}
/* ------------------- PASSENGER DETAIL - BAGGAGE MODAL ------------------- */
.baggage-form .modal-xl,
.seat-form .modal-xl{
	width: 60rem;
}
/* --------- Modal Body --------- */
.baggage-form .modal-body,
.seat-form .modal-body{
	padding: 0;
	border-top-right-radius: 5px;
	background: var(--color-button-bg3);
}
	.baggage-form .modal-body .pasg-info,
	.seat-form .modal-body .pasg-info{
		width: 37.5%;
		border-right: 1px solid var(--bs-modal-footer-border-color);
		box-shadow: 2px 0px 5px rgba(3,18,26,0.15);
		background: var(--color-white);
		z-index: 1;
	}
	.baggage-form .modal-body .baggage-info,
	.seat-form .modal-body .seat-info{
		width: 62.5%;
		padding: 0 1rem 0 0;
		z-index: 0;
	}
		.baggage-form .modal-body .pasg-info .baggage-title,
		.seat-form .modal-body .pasg-info .seat-title{
			height: 3.75rem;
			padding: 0 0 0 1rem;
		}
		.seat-form .modal-body .pasg-info .flight-title-content,
		.seat-form .modal-body .pasg-info .flight-title-airline{
			padding: 0 0 0 1rem;
		}
		.baggage-form .modal-body .pasg-info .pasg-info-content,
		.seat-form .modal-body .pasg-info .pasg-info-content{
			width: 100%;
			height: 4.375rem;
			padding: .5rem 0 0 1rem;
			border: none;
			background: var(--color-white);
		}
		.baggage-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail,
		.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail{
			width: 80%;
		}
		.baggage-form .modal-body .pasg-info .pasg-info-content-active,
		.seat-form .modal-body .pasg-info .pasg-info-content-active{
			border-left: 3px solid var(--color-blue);
			background: var(--color-button-bg3);
		}
		.baggage-form .modal-body .pasg-info .baggage-title img,
		.baggage-form .modal-body .baggage-info .flight-title .flight-title-airline img,
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-detail .baggage-info-content-detail-kg img,
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option .baggage-info-content-option-detail img,
		.seat-form .modal-body .pasg-info .seat-title img{
			width: 1.25rem;
			height: 1.25rem;
		}
		.baggage-form .modal-body .pasg-info .baggage-title div{
			padding: 1rem 0;
		}
		.baggage-form .modal-body .pasg-info .baggage-title span:first-child,
		.seat-form .modal-body .pasg-info .seat-title span{
			font-size: 1.25rem;
			font-weight: bold;
			color: var(--color-black);
		}
		.baggage-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-index span,
		.baggage-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:first-child span,
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-title span:last-child,
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option span,
		.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-index span,
		.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:first-child span{
			font-size: 15px;
		}
		.baggage-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-index span,
		.baggage-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:first-child span,
		.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-index span,
		.seat-form .modal-body .pasg-info .pasg-info-content .pasg-info-content-detail div:first-child span{
			color: var(--color-blue);
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-title span:last-child{
			font-weight: bold;
			color: var(--color-black);
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option .baggage-info-content-option-detail .baggage-info-content-option-detail-price span{
			font-weight: bold;
			color: var(--color-text2);
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option .baggage-info-content-option-detail .baggage-info-content-option-detail-name span{
			font-weight: 500;
			color: var(--color-black);
		}
		
		.baggage-form .modal-body .baggage-info .flight-title,
		.seat-form .modal-body .seat-info .flight-title{
			padding: 1rem 0 0 2rem;
			height: 3.75rem;
			
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content{
			margin-left: 2rem;
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content{
			width: 31.25rem;
			border: 1px solid var(--bs-modal-footer-border-color);
			border-radius: 10px;
			background: var(--color-white);
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-title,
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper{
			padding: 1rem;
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content hr{
			width: 100%;
			height: 1px;
			padding: 0;
			margin: 0;
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option{
			width: 100%;
			height: 2.1875rem;
			padding: .4rem 1rem;
			border: 1px solid var(--bs-modal-footer-border-color);
			border-radius: 10px;
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option .baggage-info-content-option-detail{
			width: 100%;
		}
		.baggage-form .modal-body .baggage-info .baggage-info-content .baggage-info-content-option-wrapper .baggage-info-content-option input[type="radio"]{
			width: 1.25rem;
		}
		.seat-form .modal-body .seat-info .seat-info-content .seat-block-description{
			padding: 1.875rem 0 0 2.5rem;
		}
			.seat-form .modal-body .seat-info .seat-info-content .seat-block-description span:nth-child(odd){
				width: 1.5625rem;
				height: 1.5625rem;
				border-radius: 5px;
			}
			.seat-form .modal-body .seat-info .seat-info-content .seat-block-description .seat-occupied,
			.seat-form .modal-body .seat-info .seat-info-content .seat-map .seat-occupied{
				position: relative;
				background: var(--color-bg2) !important;
				cursor: not-allowed !important;
				user-select: none !important;
			}
			.seat-form .modal-body .seat-info .seat-info-content span:nth-child(odd){
				background: var(--color-blue);
			}
			
			.seat-form .modal-body .seat-info .seat-info-content .seat-map .pasg-occupied{
				background: var(--color-button-bg2) !important;
			}
			.seat-form .modal-body .seat-info .seat-info-content .seat-block-description .seat-occupied::before,
			.seat-form .modal-body .seat-info .seat-info-content .seat-block-description .seat-occupied::after,
			.seat-form .modal-body .seat-info .seat-info-content .seat-map .seat-occupied::before,
			.seat-form .modal-body .seat-info .seat-info-content .seat-map .seat-occupied::after{
		      content: '';
		      position: absolute;
		      width: 100%;
		      height: 1px;
		      background: white;
		      top: 50%;
		      left: 0;
		      transform-origin: 50% 50%;
		    }
		    
		    /*.seat-form .modal-body .seat-info .seat-info-content .seat-map .pasg-occupied::before{
		      content: '';
		      position: absolute;
		      width: 20px;
		      height: 20px;
		      background: var(--color-underlined-bg);
		      border-radius: 3px;
		      top: 15.67%;
		      left: 15.67%;
		    }*/
		    
		    .seat-form .modal-body .seat-info .seat-info-content .seat-block-description .seat-occupied::before,
		    .seat-form .modal-body .seat-info .seat-info-content .seat-map .seat-occupied::before{
		      transform: translateY(-50%) rotate(45deg);
		    }
		
		    .seat-form .modal-body .seat-info .seat-info-content .seat-block-description .seat-occupied::after,
		    .seat-form .modal-body .seat-info .seat-info-content .seat-map .seat-occupied::after{
		      transform: translateY(-50%) rotate(-45deg);
		    }
		
		.seat-form .modal-body .seat-info .seat-info-content .seat-map .seat-row{
			color: var(--color-black) !important;
			font-size: 1.25rem !important;
			background: transparent !important;
		}
			
	    .seat-form .modal-body .seat-info .seat-info-content .seat-map span:nth-child(odd){
			width: 1.875rem;
			height: 1.875rem;
			background: var(--color-blue);
			border-radius: 5px;
			color: var(--color-white);
			cursor: pointer;
		}
		

/* --------- Modal Footer --------- */
.baggage-form .modal-footer,
.seat-form .modal-footer{
	margin: 0;
	padding: 1rem;
}
	.baggage-form .modal-footer .subtotal-price,
	.seat-form .modal-footer .subtotal-price{
		max-width: 21rem;
	}
		.baggage-form .modal-footer .subtotal-price .subtotal-price-title span:first-child,
		.seat-form .modal-footer .subtotal-price .subtotal-price-title span:first-child{
			font-size: 1.5625rem;
			font-weight: bold;
			color: var(--color-black);
		}
		.baggage-form .modal-footer .subtotal-price div:last-child span,
		.seat-form .modal-footer .subtotal-price div:last-child span{
			font-size: 1.25rem;
			font-weight: bold;
			color: var(--color-text2);
		}
	.baggage-form .modal-footer .subtotal-button,
	.seat-form .modal-footer .subtotal-button{
		max-width: 37.5rem;
		padding-left: 1.5rem;
	}
		.baggage-form .modal-footer .subtotal-button button,
		.seat-form .modal-footer .subtotal-button button{
			width: 9.375rem;
			height: 1.875rem;
			border: none;
			border-radius: 5px;
			background: var(--color-bg2);
			color: var(--color-white);
			font-size: 12px;
			font-weight: bold;
		}
		.baggage-form .modal-footer .subtotal-button .btn-baggage-active,
		.seat-form .modal-footer .subtotal-button .btn-baggage-active{
			background: var(--color-text2);
		}
		
		
/* ------------------- PAYMENT FLIGHT ------------------- */
.payment-flight-price-form .payment-flight-payment-method{
	background: var(--color-bg4);
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
	.payment-flight-price-form .payment-flight-payment-method div:first-child{
		height: 3.75rem;
	}
		.payment-flight-price-form .payment-flight-payment-method div:first-child h3{
			color: var(--color-white);
			font-weight: bold;
		}
	.payment-flight-price-form .payment-flight-payment-method div:not(:first-child){
		height: 3.125rem;
		cursor: pointer;
	}
	.payment-flight-price-form .payment-flight-payment-method .payment-flight-payment-method-active{
		background: var(--color-white);
	}
	.payment-flight-price-form .payment-flight-payment-method .payment-flight-payment-method-active span{
		color: var(--color-bg4) !important;
	}
		.payment-flight-price-form .payment-flight-payment-method div:not(:first-child) span{
			color: var(--color-white);
			padding-left: 28px;
		}
		.payment-flight-price-form .payment-flight-price-content .payment-flight-price-detail .payment-flight-price-detail-total{
			font-size: 15px;
			font-weight: bold;
			color: var(--color-text2) !important;
		}
	
.payment-flight-price-form .payment-flight-price-content{
	background: var(--color-white) !important;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.payment-notification{
	width: 700px;
	height: 300px;
	border-left: rgba(0, 0, 255, 0.1) 1px solid;
	border-bottom: rgba(0, 0, 255, 0.1) 1px solid;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
}
	.payment-notification img{
		width: 30px;
		height: 30px;
	}

.login-modal{
	position: absolute;
}

/* =========================================================================================== */
/* ------------------------------------------ PROFILE ---------------------------------------- */
/* =========================================================================================== */

/* ------------------- PROFILE ------------------- */
.profile-info button{
	width: 100%;
	height: 3rem;
	border: none;
	border-radius: 5px;
	background: var(--color-blue);
	font-size: 1rem;
	font-weight: 700;
	color: var(--color-white);
}

.input-style-1 span{
	padding-left: 5px;
	color: red; 
	font-size: 14px; 
	font-weight: 500;
}
/* ------------------- BILL HISTORY ------------------- */
.bhf_wrapper{
	-webkit-tap-highlight-color: transparent;
	margin-top: 8px;
    margin-bottom: 12px;
    padding: 0px;
    border-width: 1px;
    border-color: var(--color-border3);
    border-radius: 1rem;
    border-style: solid;
    background: var(--color-white);
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}
	.bhf_booking_stt_wrapper,
	.bhf_booking_stt{
		width: 5rem;
		height: 2rem;
    	border-radius: 4px;
	}
		.paid{
			color: var(--color-green);
			background: var(--color-bg5);
		}
		
		.unpaid{
			color: var(--color-danger);
			background: var(--color-button-bg7);
		}
		
		.pending{
			color: var(--color-yellow);
			background: var(--color-button-bg8);
		}
		
		.bhf_booking_stt_wrapper span{
			width: 100%;
		}
	.bhf_separator{
		-webkit-tap-highlight-color: transparent;
		width: 100%;
	    height: 0px;
	    border-width: 1px 0px 0px;
	    border-color: var(--color-separate-bg);
	    border-style: solid;
	}
	.bhf_wrapper img{
		width: 1.5625rem;
		height: 1.5625rem;
	}
.cprimary-btn,
.cwaiting-btn,
.csuccess-btn{
	width: 10rem;
	height: 2.5rem;
	border: none;
	border-radius: .375rem;
}
.corange-btn,
.ccprimary-btn{
	width: 5rem;
	height: 2.5rem;
	border: none;
	border-radius: .375rem;
}
.corange-btn{
	color: var(--color-white);
	background: var(--color-button-bg2);
}
.cprimary-btn,
.ccprimary-btn{
	color: var(--color-white);
	background: var(--color-button-bg5);
}
.cwaiting-btn{
	color: var(--color-warning);
	background: var(--color-button-bg8);
	cursor: none;
}
.csuccess-btn{
	color: var(--color-success);
	background: var(--color-bg5);
	cursor: none;
}
.cprimary-btn:hover,
.ccprimary-btn:hover {
  color: var(--color-white);
  background: var(--color-button-bg2);
}
.corange-btn:hover{
  color: var(--color-white);
  background: var(--color-button-bg5);
}
.bill-stt-title{
	height: 3rem;
	padding: 0;
	color: var(--color-text10);
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--color-text5);
	font-size: 14px;
	font-weight: 600;
}

.bill-stt-title-active{
	height: 3rem;
	padding: 0;
	color: var(--color-blue);
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--color-blue);
	font-size: 14px;
	font-weight: 600;
}
.filter-bill-btn{
	height: 100%;
	padding: 7px;
	border: 1px solid var(--color-blue);
	border-radius: 8px;
	background: var(--color-white);
}
.filter-bill-btn:hover{
	color: var(--color-blue);
	background: rgba(49, 112, 231, 0.16);
	border: 1px solid var(--color-blue);
	border-radius: 8px;
}
.filter-bill-btn img{
	width: 25px;
	height: 25px;
}
.filter-bill-select{
	width: 100%;
	visibility: hidden;
	background: var(--color-white);
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: .375rem;
}
.filter-bill-select span{
	width: 100%;
}
.filter-bill-select span:hover{
	background: rgba(49, 112, 231, 0.16);
	cursor: pointer;
}
.search-bill-input{
	position: relative;
}
.search-bill-input img{
	position: absolute;
	width: 25px;
	height: 25px;
}

.search-bill-input input{
	width: 25rem;
	height: 3rem;
	padding-left: 3.5rem;
	color: var(--color-black);
	font-size: 12px;
	background: var(--color-white);
	border: none;
	border-radius: 25px;
}
.search-bill-input input::placeholder{
	color: var(--color-text11);
	font-size: 14px;
}