<!DOCTYPE html>
<html>

<head th:replace="shared/admin_layout::head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
	.bg {
		/* The image used */
		background-image: url("http://localhost:8080/images/admin_login_background.jpg");

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-input {
		border-style: solid;
		border-color: red;
	}

	.cursor-hand {
		cursor: pointer;
	}
</style>

<body>
	<div id="blockUi" class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.20); z-index: 8888" hidden>
		<div class="d-flex justify-content-center" style="margin-top:300px">
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<div class="spinner-grow spinner-grow-sm text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9999">

	</div>
	<header th:replace="shared/admin_layout::header"> </header>
	<div th:replace="shared/admin_layout::sidebar"> </div>
	<div class="main-wrapper">
		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="title mb-30">
								<h2>Customers</h2>
							</div>
						</div>
					</div>
				</div>
				<div>
					<table id="customerTable" class="table table-hover table-striped pt-2">
						<thead class="table-dark">
							<th>#</th>
							<th>Name</th>
							<th>Phone</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="customer : ${resultCustomer.data}">
								<td th:text="${customer._cus_id}" class="p-2 m-0"></td>
								<td th:text="${customer._cus_full_name}" class="p-2 m-0"></td>
								<td th:text="${customer._cus_phone}" class="p-2 m-0"></td>
								<td th:switch="${customer._cus_status}" class="p-2 m-0">
									<span th:case="true" class="badge badge-success">Active</span>
									<span th:case="false" class="badge badge-danger">Deactive</span>
								</td>
								<td th:text="${#dates.format(customer._cus_created_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td th:text="${#dates.format(customer._cus_updated_date, 'yyyy-MM-dd HH:mm')}"
									class="p-2 m-0"></td>
								<td class="p-2 m-0">
									<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" data-bs-toggle="modal"
											data-bs-target="#customerInfoModal">
											<input th:value="${customer._cus_id}" hidden></input>
										</i>
										<!--<i class="cursor-hand fa-solid fa-arrows-rotate fa-2xl" style="color: #0063e6;"
											onclick="OnCustomerChangeStatus(event)">
											<input th:value="${customer._cus_id}" hidden></input>
										</i>-->
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<div class="modal fade" id="customerInfoModal" tabindex="-1" aria-labelledby="customerInfoModal"
			aria-hidden="true">
			<div class="container-fluid  mt-5">
				<div class="d-flex justify-content-center">
					<div class="">
						<div class="modal-content">
							<div class="modal-header">
								<h2>Information</h2>
								<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body row" style="width:500px">
								<div class="col-5">
									<img id="infoAvatar" class="cursor-hand" src="" alt=""
										style="width: 130px;height: 130px;" />
								</div>

								<div class="col-7">
									<div>
										<h2 id="infoFullName"></h2>
									</div>
									<div>
										<span id="infoEmail"></span>
									</div>
									<div>
										<span id="infoPhone"></span>
									</div>
									<div>
										<span id="infoAddress"></span>
									</div>

									<div>
										<button type="button" class="btn btn-info btnView" onclick='showModal(this)'
											data-url="http://localhost:8080/api/bill/getbycustomer" data-index="flight">
											<input type="text" class="infoId" hidden></input>
											Flights</button>
										<!--<button type="button" class="btn btn-info btnView" onclick='showModal(this)'
											data-url="http://localhost:8080/api/booking/getbycustomer"
											data-index="hotel">
											<input type="text" class="infoId" hidden></input>
											Hotels</button>-->
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					<div id="dashboardView"  class="modal-dialog modal-md " style="width:500px" hidden>
							<div class="modal-header">
								<h2>Dashboard</h2>
								<button type="button" class="btn-close float-end" onclick='hideModal()'
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="d-flex justify-content-center">
									<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
										aria-hidden="true"></span>
									<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
										aria-hidden="true"></span>
									<span class="dashboardLoading spinner-grow spinner-grow-sm" role="status"
										aria-hidden="true"></span>
								</div>
								<div id="dashboardContent">

								</div>
							</div>
						</div>

					<div id="modalView" class="" style="padding-left:5px;" hidden>
						<div class="modal-content modal-md">
							<div class="modal-header">
								<h2>Bills</h2>
								<button type="button" class="btn-close float-end" onclick='hideModal()'
									aria-label="Close"></button>
							</div>
							<div class="modal-body" id="viewDetails"></div>
						</div>
					</div>

					<div id="customerBillInfoModal" style="padding-left:5px;" hidden>
						<div class="modal-content modal-xl">
							<div class="modal-header">
								<h2>Tickets</h2>
								<button type="button" class="btn-close float-end" onclick='hideBillInfoModal()'
									aria-label="Close"></button>
							</div>
							<div class="modal-body" id="viewTicket"></div>
						</div>
					</div>

					<div id="ticketInfoModal" style="padding-left:5px;" hidden>
						<div class="modal-content modal-xl">
							<div class="modal-header">
								<button type="button" class="btn-close float-end" onclick='hideTicketInfoModal()'
									aria-label="Close"></button>
							</div>
							<div class="modal-body row">
								<div class="col-8 row">
									<div class="col-12 d-flex justify-content-start">
										<div class="">
											<div><b>Carrier</b></div>
											<div id="ticketCarrier"></div>
										</div>
										<div id="ticketBarcode"></div>
									</div>
									<div class="col-6">
										<div class="">
											<div><b>Name</b></div>
											<div id="ticketName"></div>
										</div>
										<div class="">
											<div><b>From</b></div>
											<div id="ticketFrom"></div>
										</div>
										<div class="">
											<div><b>To</b></div>
											<div id="ticketTo"></div>
										</div>
									</div>
									<div class="col-6 row">
										<div class="col-12 col-12 d-flex justify-content-start">
											<div>
												<div><b>Flight</b></div>
												<div id="ticketFlight"></div>
											</div>
											<div style="margin-left:15px;">
												<div><b>Date</b></div>
												<div id="ticketDate"></div>
											</div>
										</div>

										<div class="col-12 col-12 d-flex justify-content-start">
											<div>
												<div><b>Gate</b></div>
												<div id="ticketGate"></div>
											</div>
											<div style="margin-left:15px;">
												<div><b>Boarding Time</b></div>
												<div id="ticketBoardingTime"></div>
											</div>
										</div>

										<div class="col-12 col-12 d-flex justify-content-start">
											<div>
												<div><b>Seat</b></div>
												<div id="ticketSeat"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 container-fluid">
									<div class="row">
										<div class="col-12">
											<div id="ticketRightFrom"></div>
										</div>

										<div class="col-12">
											<div id="ticketRightTo"></div>
										</div>

										<div class="col-12">
											<div id=""><b>Name</b></div>
											<div id="ticketRightName"></div>
										</div>

										<div class="col-12 col-12 d-flex justify-content-start">
											<div>
												<div><b>Flight</b></div>
												<div id="ticketRightFlight"></div>
											</div>
											<div style="margin-left:15px;">
												<div><b>Date</b></div>
												<div id="ticketRightDate"></div>
											</div>
										</div>

										<div class="col-12">
											<div><b>Seat</b></div>
											<div id="ticketRightSeat"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
		<div th:replace="shared/admin_layout::file_script"></div>
		<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
<script th:inline="javascript">
	setLocal("customer", '[[${resultCustomer}]]');
	CheckPermision();
	new DataTable('#customerTable', {

	});

	const $infoFullName = $("#infoFullName");
	const $infoEmail = $("#infoEmail");
	const $infoPhone = $("#infoPhone");
	const $infoAddress = $("#infoAddress");
	const $infoAvatar = $("#infoAvatar");
	const $modalView = $("#modalView");
	const $dashboardView = $("#dashboardView");
	const $dashboardLoading = $(".dashboardLoading");
	const $dashboardContent = $("#dashboardContent");
	const $btnView = $(".btnView");
	const $viewDetails = $("#viewDetails");
	const $customerInfoModal = $("#customerInfoModal");
	const tableTemplate = `<table id="modalViewTable" style="width : 100%;"
								class="table table-hover table-striped pt-2">
								<thead class="table-dark">
									<th>#</th>
									<th style="width : 200px;">Name</th>
									<th style="width : 100px;">Payment</th>
									<th style="width : 100px;">Status</th>
									<th style="width : 200px;">Date</th>
									<th style="width : 200px;">Action</th>
								</thead>
							</table>`;
	let currentChart;
	let currentIndex;
	const $customerBillInfoModal = $("#customerBillInfoModal");
	const $ticketInfoModal = $("#ticketInfoModal");
	const $viewTicket = $("#viewTicket");
	const viewTicketTempalteFlight = `<table id="tableViewTicket" style="width : 100%;" class="table table-hover table-striped pt-2">
							<thead class="table-dark">
								<th>#</th>
								<th style="width : 200px;">Name</th>
								<th style="width : 100px;">Payment</th>
								<th style="width : 100px;">Passenger</th>
								<th style="width : 200px;">Date</th>
								<th style="width : 200px;">Action</th>
							</thead>
						</table>`

	let lastIndex;
	let lastFlight;
	const showBillInfoModal = (event) => {
		$modalView[0].hidden = true;
		$customerBillInfoModal[0].hidden = false;
		const lastChild = event.lastElementChild;
		const currentId = parseInt(lastChild.value);

		if (lastIndex == currentIndex && lastFlight == currentId) {
			return;
		}

		lastIndex = currentIndex;
		lastFlight = currentId;
		let url = 'http://localhost:8080/api/ticket/getbybill';
		let isFlight = true;
		let columns = [
			{"data": "_tk_index"},
			{"data": "_tk_full_name"},
			{"data": "_tk_payment_string"},
			{"data": "_pas_title"},
			//{"data": "_tk_rt_name"},
			{"data": "_tk_updated_timestamp"},
			{"data": "_tk_action"},
		]

		var param = {_bil_id: currentId};
		if (currentIndex == "hotel") {
			url = 'http://localhost:8080/api/ticket/getbybooking';
			param = {_bo_id: currentId};
			isFlight = false;
			columns = [
				{"data": "_bo_index"},
				{"data": "_cus_full_name"},
				{"data": "_bo_payment_string"},
				//{"data": "_bo_status_string"},
				{"data": "_bo_updated_timestamp"},
				{"data": "_bo_action"},
			]
		} else {
			$viewTicket[0].innerHTML = viewTicketTempalteFlight;
			$("#tableViewTicket").DataTable({
				ajax: {
					type: 'GET',
					data: {_bil_id: currentId},
					url: url,
					dataFilter: function (res) {
						const Res = JSON.parse(res);
						const data = Res.data;
						setLocal("ticketByFlight", JSON.stringify(Res.data));
						const currentData = [];
						if (Res.isSuccess) {
							for (var item of data) {
								var _tk_rt_name = '';
								switch (item._tk_tc_id) {
									case 0:
										_tk_rt_name = `<span class="badge badge-danger">None</span>`
										break;
									case 1:
										_tk_rt_name = `<span class="badge badge-success">50%</span>`
										break;
								}
								const currentItem = {
									...item,
									_tk_rt_name: _tk_rt_name,
									_tk_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" onclick="showTicketInfoModal(this)">
											<input value="${item._tk_id}" hidden></input>
										</i>
									</div>`}
								currentData.push(currentItem)
							}
						}
						return JSON.stringify({
							//draw: skipAjaxDrawValue,
							data: currentData,
							//recordsTotal: response.recordsTotal,
							//recordsFiltered: response.recordsFiltered
						});
					}
				},
				columns: columns,
			});
		}
	}

	/*for (var item of data) {
								var _bo_status_string = '';
								switch (item._bo_status) {
									case 0:
										_bo_status_string = `<span class="badge badge-danger">UnPaid</span>`
										break;
									case 1:
										_bo_status_string = `<span class="badge badge-success">Paid</span>`
										break;
								}
								const currentItem = {
									...item,
									_bo_status_string: _bo_status_string,
									_bo_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" onclick="showBillInfoModal(this)">
											<input value="${item._bo_id}" hidden></input>
										</i>
									</div>`}
								currentData.push(currentItem)
							}*/

	const hideBillInfoModal = (event) => {
		$customerBillInfoModal[0].hidden = true;
		$ticketInfoModal[0].hidden = true;
		$modalView[0].hidden = false;
	}

	const $ticketCarrier = $("#ticketCarrier");
	const $ticketBarcode = $("#ticketBarcode");
	const $ticketName = $("#ticketName");
	const $ticketFrom = $("#ticketFrom");
	const $ticketTo = $("#ticketTo");
	const $ticketFlight = $("#ticketFlight");
	const $ticketDate = $("#ticketDate");
	const $ticketGate = $("#ticketGate");
	const $ticketSeat = $("#ticketSeat");
	const $ticketBoardingTime = $("#ticketBoardingTime");
	const $ticketRightName = $("#ticketRightName");
	const $ticketRightFrom = $("#ticketRightFrom");
	const $ticketRightTo = $("#ticketRightTo");
	const $ticketRightFlight = $("#ticketRightFlight");
	const $ticketRightDate = $("#ticketRightDate");
	const $ticketRightSeat = $("#ticketRightSeat");

	const showTicketInfoModal = (event) => {
		$ticketInfoModal[0].hidden = false;
		$customerBillInfoModal[0].hidden = true;
		$ticketName[0].innerHTML = "";
		$ticketDate[0].innerHTML = "";
		$ticketFrom[0].innerHTML = "";
		$ticketTo[0].innerHTML = "";
		$ticketDate[0].innerHTML = "";
		$ticketFlight[0].innerHTML = "";
		$ticketBoardingTime[0].innerHTML = "";
		$ticketGate[0].innerHTML = "";
		$ticketSeat[0].innerHTML = "";

		$ticketRightFrom[0].innerHTML = "";
		$ticketRightTo[0].innerHTML = "";
		$ticketRightFlight[0].innerHTML = "";
		$ticketRightName[0].innerHTML = "";
		$ticketRightSeat[0].innerHTML = "";
		$ticketRightDate[0].innerHTML = "";
		$ticketCarrier[0].innerHTML = "";
		const lastChild = event.lastElementChild;
		const currentId = parseInt(lastChild.value);
		const ticketByFlight = getLocal("ticketByFlight");
		let selectedTicket;
		for (var item of ticketByFlight) {
			if (item._tk_id == currentId) {
				selectedTicket = item;
				break;
			}
		}
		BlockUI();
		const _fl_id = selectedTicket._tk_fl_id;
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/api/flight/infor",
			data: {_fl_id},
			dataType: 'json',
			timeout: 100000,
			success: function (res) {
				UnBlockUI();
				const flight = res.data;

				if (res.isSuccess) {
					const flightTime = moment(flight._fl_estimate_take_off)._d.toString().split(" ");
					const boardingTime = moment(flight._fl_estimate_take_off).subtract(120, "minutes").toDate().toString().split(" ")[4].split(":");
					$ticketName[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketDate[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketFrom[0].innerHTML = flight._fl_ap_from_name;
					$ticketTo[0].innerHTML = flight._fl_ap_to_name;
					$ticketDate[0].innerHTML = `${flightTime[2]}${flightTime[1]}`;
					$ticketFlight[0].innerHTML = flight._pl_code;
					$ticketBoardingTime[0].innerHTML = `${boardingTime[0]}:${boardingTime[1]}`;
					$ticketGate[0].innerHTML = selectedTicket._tk_gate;
					$ticketSeat[0].innerHTML = selectedTicket._tk_seat;

					$ticketRightFrom[0].innerHTML = `<b>FR: ${flight._fl_ap_from_name}</b>`;
					$ticketRightTo[0].innerHTML = `<b>TO: ${flight._fl_ap_to_name}</b>`;
					$ticketRightFlight[0].innerHTML = flight._pl_code;
					$ticketRightName[0].innerHTML = selectedTicket._tk_title + " " + selectedTicket._tk_full_name;
					$ticketRightSeat[0].innerHTML = selectedTicket._tk_seat;
					$ticketRightDate[0].innerHTML = `${flightTime[2]}${flightTime[1]}`;
					$ticketCarrier[0].innerHTML = `${flight._car_name} <img class="cursor-hand" src="${flight._car_icon}" alt=""
											style="width: 50px;height: 50px;" />`;
				} else {
					failToast(res.mes);
					$ticketInfoModal[0].hidden = true;
					$customerBillInfoModal[0].hidden = false;
				}
			},
			error: function (e) {
			}
		});
	}

	const hideTicketInfoModal = () => {
		$ticketInfoModal[0].hidden = true;
		$customerBillInfoModal[0].hidden = false;
	}

	$customerInfoModal[0].addEventListener('show.bs.modal', function (event) {
		const $button = event.relatedTarget;
		const lastChild = event.relatedTarget.lastElementChild;

		const currentId = lastChild.value;
		$modalView[0].hidden = true;
		$dashboardView[0].hidden = true;
		$ticketInfoModal[0].hidden = true;
		$customerBillInfoModal[0].hidden = true;
		for (var item of getLocal("customer").data) {
			if (currentId == item._cus_id) {
				$infoAvatar.attr('src', item._cus_avatar);
				$infoEmail[0].innerHTML = item._cus_email;
				$infoFullName[0].innerHTML = item._cus_full_name;
				$infoPhone[0].innerHTML = item._cus_phone;
				$btnView.val(item._cus_id);
				break;
			}
		}
	});

	const onSelectDashboard = () => {
		const $dashboardType = $("#dashboardType");
		const $dashboardYear = $("#dashboardYear");
		const $dashboardChart = $("#dashboardChart");

		const selectedYear = $dashboardYear.val();
		const payment = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
		const res = getLocal("billData");
		if (currentIndex == "flight") {
			for (var item of res.data) {
				const currentDay = item._bil_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (selectedYear == year) {
					if ($dashboardType.val() == 'payment')
						payment[parseInt(currentDay[1]) - 1] += item._bil_payment;
					else
						payment[parseInt(currentDay[1]) - 1] += 1;
				}
			}
		} else {
			for (var item of res.data) {
				const currentDay = item._bo_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (selectedYear == year) {
					if ($dashboardType.val() == 'payment')
						payment[parseInt(currentDay[1]) - 1] += item._bo_payment;
					else
						payment[parseInt(currentDay[1]) - 1] += 1;
				}
			}
		}

		if (currentChart) {
			for (var index = 0; index < 12; index++) {
				currentChart.data.datasets[0].data[index] = payment[index];
			}
			currentChart.update();
		}
	}

	const hideModal = () => {
		$modalView[0].hidden = true;
		//$dashboardView[0].hidden = true;
		$dashboardContent[0].hidden = true;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
	}
	const showModal = (event) => {
		$modalView[0].hidden = false;
		$customerBillInfoModal[0].hidden = true;
		$ticketInfoModal[0].hidden = true;
		//$dashboardView[0].hidden = false;
		$dashboardContent[0].innerHTML = "";
		for (var ele of $dashboardLoading) {
			ele.hidden = false;
		}
		$viewDetails[0].innerHTML = tableTemplate
		const url = event.getAttribute('data-url');
		currentIndex = event.getAttribute('data-index');
		let isFlight = true;
		let columns = [
			{"data": "_bil_index"},
			{"data": "_cus_full_name"},
			{"data": "_bil_payment_string"},
			{"data": "_bil_status_string"},
			{"data": "_bil_updated_timestamp"},
			{"data": "_bil_action"},
		]
		if (currentIndex == "hotel") {
			isFlight = false;
			columns = [
				{"data": "_bo_index"},
				{"data": "_cus_full_name"},
				{"data": "_bo_payment_string"},
				{"data": "_bo_status_string"},
				{"data": "_bo_updated_timestamp"},
				{"data": "_bo_action"},
			]
		}
		$("#modalViewTable").on('processing.dt', function (res, settings, processing) {
			const tableTd = $('#modalViewTable td')
			if (!processing && tableTd.length >= 1) {
				for (var ele of $dashboardLoading) {
					ele.hidden = true;
				}
				const res = getLocal("billData");
				let chartData;
				if (currentIndex == "flight") {
					chartData = getChartFlight(res.data);
				} else {
					chartData = getChartHotel(res.data);
				}
				$dashboardContent[0].hidden = false;
				if (res.isSuccess) {
					$dashboardContent[0].innerHTML = `
						<div class="float-end d-flex justify-content-evenly">
							<select id="dashboardType" class="me-3 form-select" style="width:150px;"
										onchange="onSelectDashboard()">
								<option value="payment" selected>Payment</option>
								<option value="quantity">Quantity</option>
							</select>
							<select id="dashboardYear" class="form-select"
										onchange="onSelectDashboard()">
							</select>
						</div>
						<div>
							<canvas id="dashboardChart"></canvas>
						</div>
								`;
					const $dashboardChart = $("#dashboardChart");
					const $dashboardYear = $("#dashboardYear");
					for (var year of chartData.years) {
						let selected = ''
						if (year == chartData.year)
							selected = "selected"
						const option = $(`
										<option value=${year} ${selected}>
												${year}
										</option>
										`);
						$dashboardYear[0].appendChild(option[0]);
					}

					currentChart = new Chart($dashboardChart, {
						type: 'bar',
						data: {
							labels: ['Jan', 'Jeb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Otc', 'Nov', 'Dec'],
							datasets: [{
								label: 'Payment / Month',
								data: chartData.payment,
								borderWidth: 1
							}],
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							},
							plugins: {
								colors: {
									enable: true
								}
							}
						}
					});
				} else {
					$dashboardContent[0].innerHTML = res.mes;
				}
			}
		}).DataTable({
			ajax: {
				type: 'GET',
				data: {_cus_id: event.value},
				url: url,
				dataFilter: function (res) {
					setLocal("billData", res);
					const Res = JSON.parse(res);
					const data = Res.data;
					const currentData = [];
					if (Res.isSuccess) {
						if (isFlight) {
							for (var item of data) {
								var _bil_status_string = '';
								switch (item._bil_status) {
									case 0:
										_bil_status_string = `<span class="badge badge-danger">UnPaid</span>`
										break;
									case 1:
										_bil_status_string = `<span class="badge badge-success">Paid</span>`
										break;
								}
								const currentItem = {
									...item,
									_bil_status_string: _bil_status_string,
									_bil_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" onclick="showBillInfoModal(this)">
											<input value="${item._bil_id}" hidden></input>
										</i>
									</div>`}
								currentData.push(currentItem)
							}
						} else {
							for (var item of data) {
								var _bo_status_string = '';
								switch (item._bo_status) {
									case 0:
										_bo_status_string = `<span class="badge badge-danger">UnPaid</span>`
										break;
									case 1:
										_bo_status_string = `<span class="badge badge-success">Paid</span>`
										break;
								}
								const currentItem = {
									...item,
									_bo_status_string: _bo_status_string,
									_bo_action: `<div class="d-flex justify-content-evenly">
										<i class="cursor-hand fa-solid fa-circle-info fa-2xl" onclick="showBillInfoModal(this)">
											<input value="${item._bo_id}" hidden></input>
										</i>
									</div>`}
								currentData.push(currentItem)
							}
						}
					}
					return JSON.stringify({
						//draw: skipAjaxDrawValue,
						data: currentData,
						//recordsTotal: response.recordsTotal,
						//recordsFiltered: response.recordsFiltered
					});
				}
			},
			columns: columns,
		});
	}

	const getChartFlight = (data) => {
		const res = {
			payment: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			years: [],
			year: 0,
		}
		for (var item of data) {
			const currentDay = item._bil_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (!res.years.find(x => x == year)) {
				res.years.push(year);
			}
		}
		res.year = Math.max(...res.years);
		for (var item of data) {
			for (var dataItem of res.payment) {
				const currentDay = item._bil_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (res.year == year) {
					res.payment[getDate(item._bil_updated_date).month() - 1] += item._bil_payment;
					break;
				}
			}
		}
		return res;
	}

	const getChartHotel = (data) => {
		const res = {
			payment: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			years: [],
			year: 0,
		}
		for (var item of data) {
			const currentDay = item._bo_updated_date.substring(0, 10).split("-");
			const year = parseInt(currentDay[0]);
			if (!res.years.find(x => x == year)) {
				res.years.push(year);
			}
		}
		res.year = Math.max(...res.years);
		for (var item of data) {
			for (var dataItem of res.payment) {
				const currentDay = item._bo_updated_date.substring(0, 10).split("-");
				const year = parseInt(currentDay[0]);
				if (res.year == year) {
					res.payment[parseInt(currentDay[1]) - 1] += item._bo_payment;
					break;
				}
			}
		}
		return res;
	}
</script>