<!DOCTYPE html>
<html>

<head th:fragment="head">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">VPNTravel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- ========== All CSS files linkup ========= -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/lineicons.css}" />
	<link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" />
	<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
	<link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/star-rating-svg.css}" />
</head>

<body>

	<!-- ======== sidebar-nav start =========== -->
	<aside class="sidebar-nav-wrapper" th:fragment="sidebar">
		<div class="navbar-logo">
			<a href="http://localhost:8080/Home">
				<img src="http://localhost:8080/images/logo/download.png" alt="logo"
					style="width: 100px;height: auto;" />
				VPN Travel
			</a>
		</div>
		<nav class="sidebar-nav" data-permision="super_admin" hidden>
			<ul>
				<!-- ======== Super Admin =========== -->
				<li class="nav-item">
					<a href="http://localhost:8080/admin/dashboard">
						<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22">
								<path
									d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
							</svg>
						</span>
						Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/admin/administrators">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
								viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path
									d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
							</svg>
						</span>
						Administrators
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/admin/customers">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
								viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path
									d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z" />
							</svg>
						</span>
						Customers
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/admin/settings">
						<i class="fa-solid fa-gears fa-xl"></i>
						<span class="ms-2">Settings</span>
					</a>
				</li>
				<!-- ======== Super Admin End =========== -->
			</ul>
		</nav>

		<nav class="sidebar-nav" data-permision="flight_admin" hidden>
			<!-- ======== Flight Admin =========== -->
			<ul>
				<li class="nav-item">
					<a href="http://localhost:8080/flight">
						<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22">
								<path
									d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
							</svg>
						</span>
						Flight
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/flight/bill">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
								viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path
									d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H80c-8.8 0-16-7.2-16-16s7.2-16 16-16H448c17.7 0 32-14.3 32-32s-14.3-32-32-32H64zM416 272a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
							</svg>
						</span>
						Bill
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/flight/plane">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
								viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path
									d="M482.3 192c34.2 0 93.7 29 93.7 64c0 36-59.5 64-93.7 64l-116.6 0L265.2 495.9c-5.7 10-16.3 16.1-27.8 16.1l-56.2 0c-10.6 0-18.3-10.2-15.4-20.4l49-171.6L112 320 68.8 377.6c-3 4-7.8 6.4-12.8 6.4l-42 0c-7.8 0-14-6.3-14-14c0-1.3 .2-2.6 .5-3.9L32 256 .5 145.9c-.4-1.3-.5-2.6-.5-3.9c0-7.8 6.3-14 14-14l42 0c5 0 9.8 2.4 12.8 6.4L112 192l102.9 0-49-171.6C162.9 10.2 170.6 0 181.2 0l56.2 0c11.5 0 22.1 6.2 27.8 16.1L365.7 192l116.6 0z" />
							</svg>
						</span>
						Plane
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/flight/settings">
						<i class="fa-solid fa-gears fa-xl"></i>
						<span class="ms-2">Settings</span>
					</a>
				</li>
			</ul>
			<!-- ======== Flight Admin End =========== -->
		</nav>

		<nav class="sidebar-nav" data-permision="hotel_admin" hidden>
			<!-- ======== Hotel Admin =========== -->
			<ul>
				<li class="nav-item">
					<a href="http://localhost:8080/hotel">
						<span class="icon">
							<svg width="22" height="22" viewBox="0 0 22 22">
								<path
									d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
							</svg>
						</span>
						Hotel
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/hotel/bill">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
								viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path
									d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H80c-8.8 0-16-7.2-16-16s7.2-16 16-16H448c17.7 0 32-14.3 32-32s-14.3-32-32-32H64zM416 272a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
							</svg>
						</span>
						Bill
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/hotel/room">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
								viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<path
									d="M48 0C21.5 0 0 21.5 0 48V464c0 26.5 21.5 48 48 48h96V432c0-26.5 21.5-48 48-48s48 21.5 48 48v80h96c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H48zM64 240c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V240zm112-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V240c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V240zM80 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V112zM272 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16z" />
							</svg>
						</span>
						Room
					</a>
				</li>
				<li class="nav-item">
					<a href="http://localhost:8080/hotel/settings">
						<i class="fa-solid fa-gears fa-xl"></i>
						<span class="ms-2">Settings</span>
					</a>
				</li>
			</ul>
			<!-- ======== Hotel Admin End =========== -->
		</nav>
	</aside>
	<div class="overlay"></div>
	<!-- ======== sidebar-nav end =========== -->

	<main class="main-wrapper">
		<!-- ========== header start ========== -->
		<header class="header" th:fragment="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-6">

					</div>
					<div class="col-lg-7 col-md-7 col-6">
						<div class="header-right">
							<!-- notification start -->
							<!--<div class="notification-box ml-15 d-none d-md-flex">
                  <button
                    class="dropdown-toggle"
                    type="button"
                    id="notification"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="lni lni-alarm"></i>
                    <span>2</span>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="notification"
                  >
                    <li>
                      <a href="#0">
                        <div class="image">
                          <img src="../images/lead/lead-6.png" alt="" />
                        </div>
                        <div class="content">
                          <h6>
                            John Doe
                            <span class="text-regular">
                              comment on a product.
                            </span>
                          </h6>
                          <p>
                            Lorem ipsum dolor sit amet, consect etur adipiscing
                            elit Vivamus tortor.
                          </p>
                          <span>10 mins ago</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>-->
							<!-- notification end -->

							<!-- profile start -->
							<div class="profile-box ml-15">
								<button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
									data-bs-toggle="dropdown" aria-expanded="false">
									<div class="profile-info">
										<div class="info">
											<h6 id="menu_name"></h6>
											<div class="image">
												<img id="menu_icon" alt="" />
												<span class="status"></span>
											</div>
										</div>
									</div>
									<i class="lni lni-chevron-down"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
									<!--<li>
										<a href="#0">
											<i class="lni lni-user"></i> View Profile
										</a>
									</li>
									/*<li>
                      <a href="#0">
                        <i class="lni lni-alarm"></i> Notifications
                      </a>
                    </li>*/-->
									<li>
										<form id="logoutForm" action="http://localhost:8080/admin/logout" method="POST">
											<a onclick="onLogOut()"> <i class="lni lni-exit"></i> Sign Out </a>
										</form>
									</li>
								</ul>
							</div>
							<!-- profile end -->
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- ========== header end ========== -->

		<section class="section">
			<div class="container-fluid" layout:fragment="content"></div>
		</section>

		<!-- ========== footer start =========== -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 order-last order-md-first">
						<div class="copyright text-center text-md-start">
							<p class="text-sm">
								Designed and Developed by
								<a href="https://plainadmin.com" rel="nofollow" target="_blank">
									PlainAdmin
								</a>
							</p>
						</div>
					</div>
					<!-- end col-->
					<div class="col-md-6">
						<div class="
                  terms
                  d-flex
                  justify-content-center justify-content-md-end
                ">
							<a href="#0" class="text-sm">Term & Conditions</a>
							<a href="#0" class="text-sm ml-15">Privacy & Policy</a>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</footer>
		<!-- ========== footer end =========== -->
	</main>

	<div th:fragment="file_script">
		<!-- ========= All Javascript files linkup ======== -->
		<!-- MDB -->
		<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
		<!-- jquery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/Chart.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/dynamic-pie-chart.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/fullcalendar.js}" type="text/javascript"></script>
		<script th:src="@{/js/jvectormap.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/world-merc.js}" type="text/javascript"></script>
		<script th:src="@{/js/polyfill.js}" type="text/javascript"></script>
		<script th:src="@{/js/main.js}" type="text/javascript"></script>
		<script th:src="@{/js/global.js}" type="text/javascript"></script>
		<script th:src="@{/js/jquery.star-rating-svg.js}" type="text/javascript"></script>
	</div>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
	<div layout:fragment="script"></div>
</body>

</html>